### ALBERT MONTILLA

### CONSTRUCCION DE LA BASE DE DATOS PARA MODELAR

#### IMPORTAMOS LIBRERIA

In [1]:
import pandas as pd
from datetime import datetime
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

import math
import matplotlib.pyplot as plt
import numpy as np
import math
from datetime import timedelta
from dateutil.relativedelta import relativedelta

#### LEEMOS LA BASE DE DATOS INDEPENDIENTES

In [2]:
Base_Independientes = pd.read_excel('../data/raw/Base_Independientes.xlsx')

In [3]:
date_format = '%Y%m%d'
Base_Independientes['FECHA'] = Base_Independientes.FECHA.apply(lambda x: datetime.strptime(str(x),date_format))
Base_Independientes['FECHA_INICIO'] = Base_Independientes.FECHA_INICIO.apply(lambda x: datetime.strptime(str(x),date_format))

Base_Independientes['mes']= Base_Independientes['FECHA'].dt.to_period('M')
Base_Independientes['mes_inicio']= Base_Independientes['FECHA_INICIO'].dt.to_period('M')

In [4]:
Base_Independientes['mes'].min()

Period('2017-01', 'M')

In [5]:
Base_Independientes['mes_inicio'].min()

Period('2001-10', 'M')

In [6]:
Base_Independientes['mes'].max()

Period('2022-07', 'M')

In [7]:
Base_Independientes['mes_inicio'].max()

Period('2022-07', 'M')

In [8]:
Base_Independientes.SECTOR1 = Base_Independientes.SECTOR1.str.upper()
Base_Independientes.SECTOR1.value_counts()

TDC                                                        181427
AHORRO PERSONA NATURAL/FISICA                              177113
CAHO                                                       133855
AHORRO PN CLUB LOCAL?AHORRO PN CLUB LOCAL                   38748
HIPOTECA RESIDENCIAL                                        34614
CONSUMO PERSONAL                                            33728
TPRE                                                        15318
AHORRO PN LA CUENTA                                         14848
AUTO                                                        13558
CCSI PERSONA FISICA/NATURAL                                 12959
DEP.PLAZO NATURAL/FISICA LOCAL                               7351
CCTE                                                         7296
DEPF                                                         6993
CCCI                                                         6904
CCCI PERSONA NATURAL/FISICA                                  3348
CCCI PN CLUB LOCAL?CCCI PN CLUB LOCAL                        3044
AHORRO PN BCA.INTERNACIONAL                                  1804
AHORRO MPOS?AHORRO MPOS                                      1777
DEP.PLAZO PN LOCAL VARIABLE?DEP.PLAZO PN LOCAL VARIABLE      1144
DEP.PLAZO PN CLUB LOCAL?DEP.PLAZO PN CLUB LOCAL              1114
AHORRO MENOR DE EDAD/BANESKIN                                 561
DEP.PLAZO PN BCA.INTERNACIONAL                                165
AHORRO PN EN EUROS                                            147
CCSI PN BCA.INTERNAL                                          143
CCCI PN BCA.INTERNAL                                          122
AHORRO COLABORADORES/EMPLEADOS                                117
AHORRO PERSONA JURIDICA LOCAL                                   1
Name: SECTOR1, dtype: int64

In [9]:
Base_Independientes['cartera'].value_counts()

PASIVO    434875
activo    263327
Name: cartera, dtype: int64

In [10]:
Base_Independientes[Base_Independientes['cartera'] == 'PASIVO']['SECTOR1'].value_counts()

AHORRO PERSONA NATURAL/FISICA                              177113
CAHO                                                       133855
AHORRO PN CLUB LOCAL?AHORRO PN CLUB LOCAL                   38748
TPRE                                                        15318
AHORRO PN LA CUENTA                                         14848
CCSI PERSONA FISICA/NATURAL                                 12959
DEP.PLAZO NATURAL/FISICA LOCAL                               7351
CCTE                                                         7296
DEPF                                                         6993
CCCI                                                         6904
CCCI PERSONA NATURAL/FISICA                                  3348
CCCI PN CLUB LOCAL?CCCI PN CLUB LOCAL                        3044
AHORRO PN BCA.INTERNACIONAL                                  1804
AHORRO MPOS?AHORRO MPOS                                      1777
DEP.PLAZO PN LOCAL VARIABLE?DEP.PLAZO PN LOCAL VARIABLE      1144
DEP.PLAZO PN CLUB LOCAL?DEP.PLAZO PN CLUB LOCAL              1114
AHORRO MENOR DE EDAD/BANESKIN                                 561
DEP.PLAZO PN BCA.INTERNACIONAL                                165
AHORRO PN EN EUROS                                            147
CCSI PN BCA.INTERNAL                                          143
CCCI PN BCA.INTERNAL                                          122
AHORRO COLABORADORES/EMPLEADOS                                117
AHORRO PERSONA JURIDICA LOCAL                                   1
Name: SECTOR1, dtype: int64

#### SEGMENTAMOS LA BASE EN DOS, UNA DE PRODUCTOS DE ACTIVOS Y UNA DE PRODUCTOS DE PASIVOS

In [11]:
Base_Independientes_A = Base_Independientes[Base_Independientes['cartera'] == 'activo']

In [12]:
Base_Independientes_P = Base_Independientes[Base_Independientes['cartera'] == 'PASIVO']

In [13]:
Base_Independientes_P['mes'].min()

Period('2017-01', 'M')

In [14]:
Base_Independientes_P['mes'].max()

Period('2022-06', 'M')

In [15]:
Base_Independientes_P.head()

,FECHA,CLIENTE,SECTOR1,SECTOR4,SALDO,FECHA_INICIO,FECHA_VENCIMIENTO,DIAS_MORA,RANGO_MORA,PROXIMO_PAGO_CAPITAL,PROXIMO_PAGO_INTERES,fecha_reestructurado,clasificacion_Regulatoria,MONTO_IN,CUOTA_XPAGAR,ingreso,segmento,cartera,max_mora_ult_12M,Descripcion_Nivel_Educacion,Estadocivil,Genero,cantidad_Dependientes,Cargo,DescripcionIndustria,DescripcionSector,Nacionalidad,Residencia,TiempoRelacionBanco,CLASIFICACION_4,CLASIFICACION_5,SubTipoCliente,FechaNacimiento,Imgreso_DIMCLIENTES,IngresoMensual,FechaEmpleoActual,pais,provincia,ciudad,Fecha_Ult_pago_Interes,Fecha_Ult_pago_Capital,Monto_Ult_pago_Interes,Monto_Ult_pago_Capital,categoria_cambio,DESC_ESTADO_TARJETA_t,Operacion_codificada,mes,mes_inicio
0,2022-02-28,990035508,AHORRO PERSONA NATURAL/FISICA,NaN,0.03,2020-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASIVO,NaN,Primaria,MARRIED,MALE,0,NO APLICA,ASESORIA Y ASISTENCIA,P Natural,VE,PA,2Y,SERVICIOS,INDEPENDIENTES,-,19680108,3500.0,3500.0,20200903,PANAMA,PANAMA,Panama,NaN,NaN,NaN,NaN,NaN,NaN,2210XXXX0957,2022-02,2020-09
1,2022-02-28,990035509,AHORRO PERSONA NATURAL/FISICA,NaN,1.05,2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASIVO,NaN,Primaria,MARRIED,MALE,0,NO APLICA,CARPINTERIA Y EBANISTERIA,P Natural,PA,PA,2Y,CONSTRUCCION,INDEPENDIENTES,-,19810817,1500.0,1500.0,20200903,PANAMA,PANAMA OESTE,Panama,NaN,NaN,NaN,NaN,NaN,NaN,2210XXXX0968,2022-02,2020-09
2,2022-02-28,990035510,AHORRO PERSONA NATURAL/FISICA,NaN,4.06,2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASIVO,NaN,Primaria,SINGLE,FEMALE,0,NO APLICA,ARTE,P Natural,VE,PA,2Y,SERVICIOS,INDEPENDIENTES,-,19951018,500.0,500.0,20200903,PANAMA,PANAMA,Panama,NaN,NaN,NaN,NaN,NaN,NaN,2210XXXX0976,2022-02,2020-09
3,2022-02-28,990035514,AHORRO PERSONA NATURAL/FISICA,NaN,0.18,2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASIVO,NaN,Universitario,MARRIED,MALE,0,ADMINISTRADOR,ALIMENTOS,P Natural,PA,PA,2Y,COMERCIALES,INDEPENDIENTES,-,19880605,3000.0,3000.0,20200903,PANAMA,PANAMA,Panama,NaN,NaN,NaN,NaN,NaN,NaN,2210XXXX1018,2022-02,2020-09
4,2022-02-28,990035551,AHORRO PERSONA NATURAL/FISICA,NaN,2.13,2020-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASIVO,NaN,Primaria,OTHER,FEMALE,0,NO APLICA,ALIMENTOS,P Natural,PA,PA,2Y,COMERCIALES,INDEPENDIENTES,-,19950109,800.0,800.0,20200903,PANAMA,CHIRIQUI,Panama,NaN,NaN,NaN,NaN,NaN,NaN,2210XXXX1538,2022-02,2020-09

#### CALCULAMOS LOS SALDOS DE LOS PASIVOS

In [16]:
Saldo_Pasivos = Base_Independientes_P.groupby(['mes','CLIENTE'])['SALDO'].agg({"SALDO_PAS_UM":"sum"}).reset_index()
Saldo_Pasivos

C:\Users\alber\anaconda3\envs\Quash_sh\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

            mes    CLIENTE  SALDO_PAS_UM
0       2017-01  200111260     521327.74
1       2017-01  200202823      75900.27
2       2017-01  201421604     611154.19
3       2017-01  201442214     839453.47
4       2017-01  201476823     262320.70
5       2017-01  201565943     742969.07
6       2017-01  201604443    3133324.02
7       2017-01  201894919    2873028.33
8       2017-01  201955981       3269.27
9       2017-01  202192637       1141.73
10      2017-01  202268555       2386.35
11      2017-01  202347274      10539.50
12      2017-01  202815936      61160.05
13      2017-01  202909805      16068.34
14      2017-01  203471210     166465.22
15      2017-01  204018404      19387.84
16      2017-01  204473030     410802.12
17      2017-01  205465792      11740.56
18      2017-01  600000008       3791.01
19      2017-01  600000034         87.96
20      2017-01  600000041        281.06
21      2017-01  600000045         38.13
22      2017-01  600000083      11369.89
23      2017-01  600000084       2742.12
24      2017-01  600000125       6620.94
25      2017-01  600000344       8045.00
26      2017-01  600000358      40730.09
27      2017-01  600000374       2799.11
28      2017-01  600000419      16628.52
29      2017-01  600000692       1351.09
30      2017-01  600000719       1969.88
31      2017-01  600000750       1224.52
32      2017-01  600000867         13.63
33      2017-01  600000870       6442.08
34      2017-01  600000975       2615.68
35      2017-01  600000982       6789.62
36      2017-01  600001014       1607.64
37      2017-01  600001152         95.11
38      2017-01  600001308       1839.55
39      2017-01  600001416          0.90
40      2017-01  600001475      23125.11
41      2017-01  600001708       5069.99
42      2017-01  600001953          1.74
43      2017-01  600002203     269818.04
44      2017-01  600002213        626.06
45      2017-01  600002337        160.82
46      2017-01  600002493          2.92
47      2017-01  600002693      76425.90
48      2017-01  600002751          0.77
49      2017-01  600002961      72212.74
50      2017-01  600003027        101.38
51      2017-01  600003131      54995.53
52      2017-01  600003209       3248.84
53      2017-01  600003434         54.84
54      2017-01  600003539       3765.27
55      2017-01  600003584       7685.59
56      2017-01  600004058          0.84
57      2017-01  600004082        724.14
58      2017-01  600004144       3936.91
59      2017-01  600004434        356.05
60      2017-01  600004770      30771.92
61      2017-01  600004922     182679.69
62      2017-01  600004923         15.56
63      2017-01  600005155        289.00
64      2017-01  600005403     811908.33
65      2017-01  600005720         65.20
66      2017-01  600005793        904.36
67      2017-01  600006029      76482.02
68      2017-01  600006262        430.64
69      2017-01  600006558          3.95
70      2017-01  600006686         73.34
71      2017-01  600006771       4356.23
72      2017-01  600006830          8.37
73      2017-01  600006892       6003.94
74      2017-01  600006916       1733.18
75      2017-01  600006987          6.87
76      2017-01  600007045        159.66
77      2017-01  600007360       1111.17
78      2017-01  600007564     141774.81
79      2017-01  600007691         18.36
80      2017-01  600007718       1667.90
81      2017-01  600007740         40.86
82      2017-01  600008002         35.52
83      2017-01  600008016       2878.07
84      2017-01  600008020         11.61
85      2017-01  600008035      23416.87
86      2017-01  600008046       1193.67
87      2017-01  600008130        748.75
88      2017-01  600008198       2250.13
89      2017-01  600008313     274152.10
90      2017-01  600008507          0.02
91      2017-01  600008542          1.92
92      2017-01  600008593      87831.58
93      2017-01  600008646        113.62
94      2017-01  600008989        467.87
95      2017-01  600009222        100.21
96      2017-01  600009254         14.40
97      2017-01  600009256       8991.97
98      2017-01  600009296          0.01
99      2017-01  600009695        253.99
100     2017-01  600010003        532.15
101     2017-01  600010012       1472.14
102     2017-01  600010053       1685.77
103     2017-01  600010095         10.88
104     2017-01  600010295        265.73
105     2017-01  600010427      16363.43
106     2017-01  600010435         77.07
107     2017-01  600010436       4066.02
108     2017-01  600010763     210972.21
109     2017-01  600010799        264.83
110     2017-01  600011103         13.38
111     2017-01  600011625          0.21
112     2017-01  600011645      16284.24
113     2017-01  600011704      13297.77
114     2017-01  600011875          0.01
115     2017-01  600011906      64816.59
116     2017-01  600012112        125.44
117     2017-01  600012466         10.88
118     2017-01  600012510        356.75
119     2017-01  600012515        476.97
120     2017-01  600012604      14101.84
121     2017-01  600012612         11.28
122     2017-01  600012784     272266.74
123     2017-01  600012806      17285.61
124     2017-01  600012849          0.18
125     2017-01  600012951       1265.54
126     2017-01  600013123        107.54
127     2017-01  600013181          5.25
128     2017-01  600013268          5.69
129     2017-01  600013461         22.32
130     2017-01  600013471       4592.42
131     2017-01  600013488      26474.65
132     2017-01  600013495       4028.07
133     2017-01  600013503      18477.52
134     2017-01  600013586        120.31
135     2017-01  600013866        248.15
136     2017-01  600014072          0.95
137     2017-01  600014108        155.22
138     2017-01  600014188      45478.27
139     2017-01  600014655      38640.05
140     2017-01  600014664        309.98
141     2017-01  600014740        343.08
142     2017-01  600014964          3.68
143     2017-01  600014969       1324.89
144     2017-01  600015055        203.22
145     2017-01  600015087         28.77
146     2017-01  600015174     438070.58
147     2017-01  600015285       9579.13
148     2017-01  600015310        576.11
149     2017-01  600015383         85.22
150     2017-01  600015467       1167.24
151     2017-01  600015520      23745.91
152     2017-01  600015548          3.63
153     2017-01  600015600     412250.18
154     2017-01  600015691        220.40
155     2017-01  600015740      62355.07
156     2017-01  600015766         27.11
157     2017-01  600015835          9.41
158     2017-01  600016023       1096.91
159     2017-01  600016109     391795.13
160     2017-01  600016118         39.38
161     2017-01  600016174      44623.78
162     2017-01  600016301          0.15
163     2017-01  600016393        645.91
164     2017-01  600016396         15.00
165     2017-01  600016478       1933.35
166     2017-01  600016631         28.80
167     2017-01  600016649        507.37
168     2017-01  600016653          5.43
169     2017-01  600016677          0.87
170     2017-01  600016775      64589.00
171     2017-01  600016887       1266.06
172     2017-01  600017033         50.95
173     2017-01  600017075          5.99
174     2017-01  600017183       3628.65
175     2017-01  600017194       1039.34
176     2017-01  600017246     278445.57
177     2017-01  600017271        615.11
178     2017-01  600017318        810.89
179     2017-01  600017356       5049.43
180     2017-01  600017494          0.02
181     2017-01  600017552     231381.80
182     2017-01  600017595          2.00
183     2017-01  600017647          0.16
184     2017-01  600017719      16439.85
185     2017-01  600017751        538.53
186     2017-01  600017807      58405.16
187     2017-01  600017817       1336.62
188     2017-01  600017887         41.33
189     2017-01  600017931      19658.62
190     2017-01  600018030        681.67
191     2017-01  600018048        264.47
192     2017-01  600018138       2768.88
193     2017-01  600018218        761.88
194     2017-01  600018232         20.73
195     2017-01  600018359       1763.60
196     2017-01  600018395      80015.32
197     2017-01  600018565       5703.61
198     2017-01  600018657        141.31
199     2017-01  600018664      32632.35
200     2017-01  600018666       7668.46
201     2017-01  600018751       9960.36
202     2017-01  600018852          0.63
203     2017-01  600019002       2540.94
204     2017-01  600019007         71.51
205     2017-01  600019044         70.63
206     2017-01  600019140        166.10
207     2017-01  600019161         11.19
208     2017-01  600019290         71.67
209     2017-01  600019326    1047525.64
210     2017-01  600019503        555.63
211     2017-01  600019590        141.72
212     2017-01  600019632        446.59
213     2017-01  600019771     433612.33
214     2017-01  600019808        122.31
215     2017-01  600019974          0.14
216     2017-01  600020352          0.43
217     2017-01  600020384        443.18
218     2017-01  600020435          1.14
219     2017-01  600020606          0.62
220     2017-01  600020626     304635.09
221     2017-01  600020676          8.86
222     2017-01  600020758        323.44
223     2017-01  600020845        119.30
224     2017-01  600020944         11.41
225     2017-01  600020953      17863.04
226     2017-01  600021015       2082.14
227     2017-01  600021025         36.83
228     2017-01  600021105       1172.03
229     2017-01  600021180          7.60
230     2017-01  600021249      75917.98
231     2017-01  600021252       9694.01
232     2017-01  600021256       3604.79
233     2017-01  600021307       3382.55
234     2017-01  600021418          7.74
235     2017-01  600021424        106.36
236     2017-01  600021573       3423.63
237     2017-01  600021627     132501.93
238     2017-01  600021733          0.85
239     2017-01  600021771      62481.74
240     2017-01  600021824        261.49
241     2017-01  600021861        536.40
242     2017-01  600021903       4251.87
243     2017-01  600022107        131.02
244     2017-01  600022126          2.24
245     2017-01  600022147         12.50
246     2017-01  600022213         20.18
247     2017-01  600022247       4312.29
248     2017-01  600022251       1278.16
249     2017-01  600022270          5.30
...         ...        ...           ...
359828  2022-06  990099809          0.40
359829  2022-06  990099820          0.07
359830  2022-06  990099829        389.26
359831  2022-06  990099843       1409.74
359832  2022-06  990099848      22479.09
359833  2022-06  990099851       1027.95
359834  2022-06  990099852       1911.32
359835  2022-06  990099862       1593.86
359836  2022-06  990099884         83.31
359837  2022-06  990099911       1114.19
359838  2022-06  990099932       1712.20
359839  2022-06  990099981       1525.69
359840  2022-06  990099992          7.84
359841  2022-06  990100012          1.55
359842  2022-06  990100021        285.62
359843  2022-06  990100022       1023.99
359844  2022-06  990100028       5063.06
359845  2022-06  990100042       5063.06
359846  2022-06  990100078    1003294.38
359847  2022-06  990100121      12080.00
359848  2022-06  990100170         50.00
359849  2022-06  990100180         99.16
359850  2022-06  990100200        750.56
359851  2022-06  990100224         42.60
359852  2022-06  990100227        234.74
359853  2022-06  990100255     302909.89
359854  2022-06  990100274        221.87
359855  2022-06  990100336          4.73
359856  2022-06  990100340         63.06
359857  2022-06  990100353        640.19
359858  2022-06  990100368       4088.04
359859  2022-06  990100384     671519.52
359860  2022-06  990100400          2.81
359861  2022-06  990100473         52.40
359862  2022-06  990100477          0.16
359863  2022-06  990100488       4837.50
359864  2022-06  990100552       5894.11
359865  2022-06  990100615        326.77
359866  2022-06  990100621      83446.63
359867  2022-06  990100626         13.39
359868  2022-06  990100683          2.25
359869  2022-06  990100693         73.57
359870  2022-06  990100708       2453.91
359871  2022-06  990100748        517.11
359872  2022-06  990100754       7791.02
359873  2022-06  990100755      22462.73
359874  2022-06  990100761       1285.66
359875  2022-06  990100795       2995.56
359876  2022-06  990100796      13544.59
359877  2022-06  990100823       1323.39
359878  2022-06  990100883        136.74
359879  2022-06  990100900        662.34
359880  2022-06  990100927      50014.68
359881  2022-06  990100985        191.65
359882  2022-06  990100999          6.06
359883  2022-06  990101141       4829.39
359884  2022-06  990101203          5.32
359885  2022-06  990101219       9967.75
359886  2022-06  990101231        489.16
359887  2022-06  990101280       1049.38
359888  2022-06  990101282          5.00
359889  2022-06  990101304        989.43
359890  2022-06  990101373         10.54
359891  2022-06  990101391      54485.02
359892  2022-06  990101425        994.65
359893  2022-06  990101426       4035.80
359894  2022-06  990101452        543.23
359895  2022-06  990101458       5856.16
359896  2022-06  990101489        271.69
359897  2022-06  990101496         60.13
359898  2022-06  990101502        525.81
359899  2022-06  990101509          4.73
359900  2022-06  990101516        142.52
359901  2022-06  990101517          9.25
359902  2022-06  990101519          1.22
359903  2022-06  990101548       1122.86
359904  2022-06  990101587       1527.37
359905  2022-06  990101598         69.46
359906  2022-06  990101607        256.89
359907  2022-06  990101658         63.05
359908  2022-06  990101664        384.32
359909  2022-06  990101697          0.31
359910  2022-06  990101710        620.51
359911  2022-06  990101713        290.14
359912  2022-06  990101717        246.11
359913  2022-06  990101744        114.67
359914  2022-06  990101757        171.66
359915  2022-06  990101759         16.50
359916  2022-06  990101855        326.70
359917  2022-06  990101868         16.54
359918  2022-06  990101874        805.15
359919  2022-06  990101881        300.09
359920  2022-06  990101884       4115.98
359921  2022-06  990101911        635.23
359922  2022-06  990101925          0.48
359923  2022-06  990101929       2336.91
359924  2022-06  990101941         41.04
359925  2022-06  990101982          0.04
359926  2022-06  990101985       2395.45
359927  2022-06  990102003        511.68
359928  2022-06  990102015        157.24
359929  2022-06  990102028        478.61
359930  2022-06  990102063         83.11
359931  2022-06  990102165          1.85
359932  2022-06  990102168          1.04
359933  2022-06  990102223         20.53
359934  2022-06  990102232          5.72
359935  2022-06  990102258       2024.79
359936  2022-06  990102269          6.94
359937  2022-06  990102298     535034.04
359938  2022-06  990102318         13.18
359939  2022-06  990102334          3.99
359940  2022-06  990102349         13.05
359941  2022-06  990102363        222.96
359942  2022-06  990102382         13.60
359943  2022-06  990102437      10466.68
359944  2022-06  990102438       3662.50
359945  2022-06  990102440        924.10
359946  2022-06  990102462         65.01
359947  2022-06  990102487         50.01
359948  2022-06  990102502       4562.36
359949  2022-06  990102539          0.04
359950  2022-06  990102565       3136.56
359951  2022-06  990102612       3555.15
359952  2022-06  990102628        263.38
359953  2022-06  990102666       2007.24
359954  2022-06  990102688     454094.35
359955  2022-06  990102746          0.04
359956  2022-06  990102749         20.04
359957  2022-06  990102757         63.05
359958  2022-06  990102802         50.01
359959  2022-06  990102841         34.22
359960  2022-06  990102860         13.04
359961  2022-06  990102869        269.47
359962  2022-06  990102893        622.37
359963  2022-06  990102898        338.08
359964  2022-06  990102903        402.01
359965  2022-06  990102972        500.04
359966  2022-06  990102985       2201.53
359967  2022-06  990102990          0.65
359968  2022-06  990103013        373.55
359969  2022-06  990103031         50.01
359970  2022-06  990103048        303.25
359971  2022-06  990103088          0.97
359972  2022-06  990103126       1487.38
359973  2022-06  990103137       1870.20
359974  2022-06  990103148     105632.14
359975  2022-06  990103156          2.73
359976  2022-06  990103159        316.66
359977  2022-06  990103172      19696.22
359978  2022-06  990103225      23953.28
359979  2022-06  990103253        350.16
359980  2022-06  990103263         16.54
359981  2022-06  990103269          0.90
359982  2022-06  990103290         16.54
359983  2022-06  990103312       5013.43
359984  2022-06  990103316        352.11
359985  2022-06  990103320        413.23
359986  2022-06  990103347       5271.80
359987  2022-06  990103384       4754.70
359988  2022-06  990103390        724.49
359989  2022-06  990103428          0.67
359990  2022-06  990103442          3.54
359991  2022-06  990103475          6.54
359992  2022-06  990103487         24.54
359993  2022-06  990103493        383.67
359994  2022-06  990103513       6461.12
359995  2022-06  990103518       5466.80
359996  2022-06  990103524     224074.87
359997  2022-06  990103559        541.03
359998  2022-06  990103562       9006.03
359999  2022-06  990103581        835.36
360000  2022-06  990103589       1572.19
360001  2022-06  990103628        890.85
360002  2022-06  990103673       3035.87
360003  2022-06  990103677         16.54
360004  2022-06  990103692        371.49
360005  2022-06  990103712         66.76
360006  2022-06  990103717         87.52
360007  2022-06  990103730     398002.73
360008  2022-06  990103787      18303.68
360009  2022-06  990103799       5500.69
360010  2022-06  990103826       3770.19
360011  2022-06  990103833        545.48
360012  2022-06  990103858      30791.51
360013  2022-06  990103862        533.01
360014  2022-06  990103871          2.68
360015  2022-06  990103887        187.29
360016  2022-06  990103913         98.82
360017  2022-06  990103914       1346.75
360018  2022-06  990103980        100.01
360019  2022-06  990104117        184.50
360020  2022-06  990104144       2495.57
360021  2022-06  990104146        566.61
360022  2022-06  990104155       9226.52
360023  2022-06  990104197        631.78
360024  2022-06  990104270       5001.96
360025  2022-06  990104277         16.66
360026  2022-06  990104309     324971.76
360027  2022-06  990104367        450.04
360028  2022-06  990104394        738.20
360029  2022-06  990104423       9171.00
360030  2022-06  990104444       2967.48
360031  2022-06  990104531        748.94
360032  2022-06  990104550       2000.63
360033  2022-06  990104555         50.00
360034  2022-06  990104558         16.54
360035  2022-06  990104569        380.00
360036  2022-06  990104627          1.54
360037  2022-06  990104743        136.54
360038  2022-06  990104751         50.00
360039  2022-06  990104758      12920.97
360040  2022-06  990104793        550.03
360041  2022-06  990104864        266.58
360042  2022-06  990104899        510.05
360043  2022-06  990104914      65021.89
360044  2022-06  990104919       7188.79
360045  2022-06  990105028          1.29
360046  2022-06  990105031      13675.58
360047  2022-06  990105045        104.42
360048  2022-06  990105126      28413.81
360049  2022-06  990105142         50.00
360050  2022-06  990105151      10000.60
360051  2022-06  990105162         50.00
360052  2022-06  990105164       6940.99
360053  2022-06  990105168        120.03
360054  2022-06  990105170         65.04
360055  2022-06  990105181         66.54
360056  2022-06  990105235         31.56
360057  2022-06  990105263         52.67
360058  2022-06  990105277       4801.93
360059  2022-06  990105304         12.36
360060  2022-06  990105343          4.25
360061  2022-06  990105367        100.00
360062  2022-06  990105410        494.65

In [17]:
date_format = '%Y-%m'
Saldo_Pasivos['mes'] =Saldo_Pasivos['mes'].apply(lambda x: datetime.strptime(str(x),date_format).date())

In [18]:
Saldo_Pasivos['mes'] = Saldo_Pasivos['mes'] + relativedelta(months=1)
Saldo_Pasivos['mes'] = Saldo_Pasivos['mes'].astype(str)

In [19]:
Saldo_Pasivos.head()

          mes    CLIENTE  SALDO_PAS_UM
0  2017-02-01  200111260     521327.74
1  2017-02-01  200202823      75900.27
2  2017-02-01  201421604     611154.19
3  2017-02-01  201442214     839453.47
4  2017-02-01  201476823     262320.70

#### LEEMOS LA BASE FINAL MORA PREVIAMENTE GENERADA

In [20]:
base_objetivo = pd.read_csv('../data/interim/base_final_mora.csv')
del base_objetivo['Unnamed: 0']
del base_objetivo['Fecha_Mora30']
del base_objetivo['Fecha_Mora60']
del base_objetivo['Fecha_Mora90']

base_objetivo.head()

     CLIENTE mes_inicio
0      14052    2019-03
1  200111260    2018-05
2  200194137    2018-01
3  200194137    2019-06
4  200202823    2017-06

In [21]:
relativedelta(months=1)

relativedelta(months=+1)

In [22]:
base_objetivo.loc[0,'mes_inicio']

'2019-03'

In [23]:
date_format = '%Y-%m'
base_objetivo['mes_inicio'] = base_objetivo.mes_inicio.apply(lambda x: datetime.strptime(str(x),date_format).date())

In [24]:
base_objetivo.loc[0,'mes_inicio']

datetime.date(2019, 3, 1)

In [25]:
(base_objetivo['mes_inicio'])

0       2019-03-01
1       2018-05-01
2       2018-01-01
3       2019-06-01
4       2017-06-01
5       2019-03-01
6       2019-05-01
7       2019-09-01
8       2018-06-01
9       2019-01-01
10      2020-06-01
11      2019-12-01
12      2020-03-01
13      2018-10-01
14      2020-02-01
15      2021-11-01
16      2017-01-01
17      2017-02-01
18      2017-05-01
19      2018-01-01
20      2021-01-01
21      2022-05-01
22      2018-01-01
23      2018-02-01
24      2019-03-01
25      2019-04-01
26      2021-10-01
27      2017-06-01
28      2019-09-01
29      2017-01-01
30      2021-02-01
31      2020-06-01
32      2022-01-01
33      2018-03-01
34      2020-06-01
35      2017-06-01
36      2017-11-01
37      2022-03-01
38      2022-02-01
39      2021-10-01
40      2021-10-01
41      2022-07-01
42      2021-10-01
43      2018-05-01
44      2016-12-01
45      2017-11-01
46      2018-06-01
47      2018-06-01
48      2021-04-01
49      2017-11-01
50      2021-12-01
51      2017-04-01
52      2019-05-01
53      2019-04-01
54      2017-04-01
55      2018-05-01
56      2021-05-01
57      2017-03-01
58      2017-02-01
59      2021-05-01
60      2021-06-01
61      2021-05-01
62      2018-12-01
63      2017-02-01
64      2019-11-01
65      2019-05-01
66      2019-08-01
67      2018-03-01
68      2019-03-01
69      2020-01-01
70      2021-04-01
71      2016-12-01
72      2018-10-01
73      2021-05-01
74      2021-12-01
75      2022-01-01
76      2022-05-01
77      2019-03-01
78      2017-02-01
79      2019-06-01
80      2017-08-01
81      2021-06-01
82      2019-07-01
83      2018-05-01
84      2022-04-01
85      2016-12-01
86      2017-10-01
87      2021-05-01
88      2022-01-01
89      2022-07-01
90      2017-02-01
91      2019-12-01
92      2021-07-01
93      2017-03-01
94      2017-05-01
95      2018-03-01
96      2022-01-01
97      2022-05-01
98      2022-04-01
99      2019-07-01
100     2020-07-01
101     2022-04-01
102     2019-02-01
103     2020-08-01
104     2020-12-01
105     2017-06-01
106     2019-12-01
107     2017-04-01
108     2019-04-01
109     2019-03-01
110     2022-06-01
111     2022-07-01
112     2017-03-01
113     2018-06-01
114     2018-07-01
115     2017-06-01
116     2021-05-01
117     2022-04-01
118     2018-06-01
119     2019-03-01
120     2021-03-01
121     2017-03-01
122     2021-05-01
123     2022-04-01
124     2021-08-01
125     2017-03-01
126     2018-04-01
127     2019-03-01
128     2021-12-01
129     2018-02-01
130     2018-03-01
131     2020-11-01
132     2018-11-01
133     2018-06-01
134     2017-11-01
135     2018-11-01
136     2022-07-01
137     2021-06-01
138     2017-06-01
139     2021-10-01
140     2016-12-01
141     2017-06-01
142     2022-04-01
143     2021-05-01
144     2017-03-01
145     2019-12-01
146     2017-06-01
147     2019-07-01
148     2021-05-01
149     2019-08-01
150     2018-08-01
151     2017-11-01
152     2016-12-01
153     2019-04-01
154     2019-05-01
155     2017-08-01
156     2020-05-01
157     2021-01-01
158     2021-06-01
159     2017-03-01
160     2017-09-01
161     2018-04-01
162     2021-04-01
163     2021-05-01
164     2017-06-01
165     2017-08-01
166     2017-09-01
167     2017-02-01
168     2017-10-01
169     2021-09-01
170     2017-01-01
171     2017-12-01
172     2019-06-01
173     2021-12-01
174     2017-02-01
175     2021-03-01
176     2017-10-01
177     2021-04-01
178     2021-03-01
179     2021-12-01
180     2021-12-01
181     2017-11-01
182     2018-04-01
183     2021-05-01
184     2021-12-01
185     2018-03-01
186     2018-06-01
187     2018-09-01
188     2018-10-01
189     2019-06-01
190     2020-06-01
191     2022-07-01
192     2017-10-01
193     2018-07-01
194     2016-12-01
195     2020-03-01
196     2021-11-01
197     2017-09-01
198     2018-08-01
199     2021-02-01
200     2021-09-01
201     2022-03-01
202     2020-05-01
203     2017-11-01
204     2017-02-01
205     2021-05-01
206     2022-01-01
207     2021-04-01
208     2021-05-01
209     2021-09-01
210     2017-11-01
211     2017-12-01
212     2017-04-01
213     2019-04-01
214     2020-03-01
215     2017-06-01
216     2018-03-01
217     2020-03-01
218     2019-08-01
219     2017-02-01
220     2018-03-01
221     2021-05-01
222     2018-07-01
223     2021-04-01
224     2021-09-01
225     2020-01-01
226     2017-02-01
227     2021-08-01
228     2016-12-01
229     2019-11-01
230     2021-03-01
231     2021-04-01
232     2021-08-01
233     2020-01-01
234     2021-04-01
235     2022-02-01
236     2018-10-01
237     2021-04-01
238     2021-05-01
239     2022-04-01
240     2019-02-01
241     2019-03-01
242     2020-02-01
243     2017-11-01
244     2020-08-01
245     2021-10-01
246     2017-03-01
247     2021-06-01
248     2017-04-01
249     2017-11-01
           ...
5839    2022-03-01
5840    2022-03-01
5841    2022-03-01
5842    2022-04-01
5843    2022-03-01
5844    2022-03-01
5845    2022-03-01
5846    2022-04-01
5847    2022-06-01
5848    2022-03-01
5849    2022-07-01
5850    2022-06-01
5851    2022-03-01
5852    2022-03-01
5853    2022-03-01
5854    2022-03-01
5855    2022-03-01
5856    2022-03-01
5857    2022-03-01
5858    2022-03-01
5859    2022-05-01
5860    2022-03-01
5861    2022-03-01
5862    2022-06-01
5863    2022-04-01
5864    2022-03-01
5865    2022-03-01
5866    2022-04-01
5867    2022-03-01
5868    2022-03-01
5869    2022-03-01
5870    2022-04-01
5871    2022-05-01
5872    2022-03-01
5873    2022-04-01
5874    2022-03-01
5875    2022-03-01
5876    2022-04-01
5877    2022-03-01
5878    2022-03-01
5879    2022-03-01
5880    2022-03-01
5881    2022-03-01
5882    2022-03-01
5883    2022-04-01
5884    2022-04-01
5885    2022-07-01
5886    2022-06-01
5887    2022-06-01
5888    2022-04-01
5889    2022-04-01
5890    2022-06-01
5891    2022-04-01
5892    2022-04-01
5893    2022-04-01
5894    2022-06-01
5895    2022-04-01
5896    2022-05-01
5897    2022-04-01
5898    2022-04-01
5899    2022-04-01
5900    2022-04-01
5901    2022-04-01
5902    2022-04-01
5903    2022-04-01
5904    2022-04-01
5905    2022-04-01
5906    2022-04-01
5907    2022-04-01
5908    2022-04-01
5909    2022-04-01
5910    2022-04-01
5911    2022-04-01
5912    2022-04-01
5913    2022-04-01
5914    2022-04-01
5915    2022-04-01
5916    2022-05-01
5917    2022-04-01
5918    2022-04-01
5919    2022-04-01
5920    2022-04-01
5921    2022-04-01
5922    2022-04-01
5923    2022-04-01
5924    2022-04-01
5925    2022-04-01
5926    2022-04-01
5927    2022-05-01
5928    2022-04-01
5929    2022-05-01
5930    2022-05-01
5931    2022-04-01
5932    2022-06-01
5933    2022-05-01
5934    2022-04-01
5935    2022-04-01
5936    2022-05-01
5937    2022-06-01
5938    2022-04-01
5939    2022-04-01
5940    2022-04-01
5941    2022-05-01
5942    2022-05-01
5943    2022-04-01
5944    2022-04-01
5945    2022-04-01
5946    2022-04-01
5947    2022-04-01
5948    2022-04-01
5949    2022-04-01
5950    2022-04-01
5951    2022-06-01
5952    2022-05-01
5953    2022-05-01
5954    2022-05-01
5955    2022-05-01
5956    2022-05-01
5957    2022-05-01
5958    2022-05-01
5959    2022-06-01
5960    2022-05-01
5961    2022-05-01
5962    2022-05-01
5963    2022-05-01
5964    2022-05-01
5965    2022-05-01
5966    2022-05-01
5967    2022-05-01
5968    2022-06-01
5969    2022-05-01
5970    2022-05-01
5971    2022-05-01
5972    2022-05-01
5973    2022-05-01
5974    2022-05-01
5975    2022-05-01
5976    2022-05-01
5977    2022-05-01
5978    2022-05-01
5979    2022-05-01
5980    2022-05-01
5981    2022-05-01
5982    2022-05-01
5983    2022-05-01
5984    2022-06-01
5985    2022-05-01
5986    2022-05-01
5987    2022-05-01
5988    2022-05-01
5989    2022-05-01
5990    2022-05-01
5991    2022-05-01
5992    2022-05-01
5993    2022-06-01
5994    2022-06-01
5995    2022-05-01
5996    2022-05-01
5997    2022-06-01
5998    2022-05-01
5999    2022-05-01
6000    2022-05-01
6001    2022-05-01
6002    2022-05-01
6003    2022-06-01
6004    2022-06-01
6005    2022-05-01
6006    2022-05-01
6007    2022-05-01
6008    2022-05-01
6009    2022-06-01
6010    2022-05-01
6011    2022-06-01
6012    2022-05-01
6013    2022-05-01
6014    2022-06-01
6015    2022-06-01
6016    2022-05-01
6017    2022-06-01
6018    2022-05-01
6019    2022-05-01
6020    2022-05-01
6021    2022-05-01
6022    2022-05-01
6023    2022-05-01
6024    2022-06-01
6025    2022-07-01
6026    2022-06-01
6027    2022-06-01
6028    2022-06-01
6029    2022-06-01
6030    2022-06-01
6031    2022-06-01
6032    2022-06-01
6033    2022-06-01
6034    2022-06-01
6035    2022-06-01
6036    2022-06-01
6037    2022-06-01
6038    2022-06-01
6039    2022-06-01
6040    2022-06-01
6041    2022-06-01
6042    2022-06-01
6043    2022-06-01
6044    2022-06-01
6045    2022-06-01
6046    2022-06-01
6047    2022-06-01
6048    2022-06-01
6049    2022-06-01
6050    2022-06-01
6051    2022-06-01
6052    2022-06-01
6053    2022-06-01
6054    2022-06-01
6055    2022-06-01
6056    2022-06-01
6057    2022-06-01
6058    2022-06-01
6059    2022-06-01
6060    2022-07-01
6061    2022-06-01
6062    2022-06-01
6063    2022-06-01
6064    2022-06-01
6065    2022-06-01
6066    2022-06-01
6067    2022-06-01
6068    2022-06-01
6069    2022-06-01
6070    2022-06-01
6071    2022-06-01
6072    2022-06-01
6073    2022-06-01
6074    2022-06-01
6075    2022-06-01
6076    2022-06-01
6077    2022-07-01
6078    2022-06-01
6079    2022-07-01
6080    2022-07-01
6081    2022-07-01
6082    2022-07-01
6083    2022-07-01
6084    2022-05-01
6085    2022-05-01
6086    2022-07-01
6087    2022-07-01
6088    2022-05-01
Name: mes_inicio, Length: 6089, dtype: object

In [26]:
base_objetivo.loc[0,'mes_inicio']

datetime.date(2019, 3, 1)

In [27]:
Saldo_Pasivos.head(10)

          mes    CLIENTE  SALDO_PAS_UM
0  2017-02-01  200111260     521327.74
1  2017-02-01  200202823      75900.27
2  2017-02-01  201421604     611154.19
3  2017-02-01  201442214     839453.47
4  2017-02-01  201476823     262320.70
5  2017-02-01  201565943     742969.07
6  2017-02-01  201604443    3133324.02
7  2017-02-01  201894919    2873028.33
8  2017-02-01  201955981       3269.27
9  2017-02-01  202192637       1141.73

In [28]:
Saldo_Pasivos.loc[0,'mes']

'2017-02-01'

In [29]:
#Saldo_Pasivos['mes_inicio'] = Saldo_Pasivos.mes.astype(str) + '-01'
Saldo_Pasivos['mes_inicio'] = Saldo_Pasivos.mes

del Saldo_Pasivos['mes']

In [30]:
Saldo_Pasivos.head()

     CLIENTE  SALDO_PAS_UM  mes_inicio
0  200111260     521327.74  2017-02-01
1  200202823      75900.27  2017-02-01
2  201421604     611154.19  2017-02-01
3  201442214     839453.47  2017-02-01
4  201476823     262320.70  2017-02-01

In [31]:
base_objetivo.mes_inicio = base_objetivo.mes_inicio.astype(str)

In [32]:
base_objetivo.loc[0,'mes_inicio']

'2019-03-01'

In [33]:
base_objetivo.loc[0,'mes_inicio']

'2019-03-01'

In [34]:
base_objetivo_s = base_objetivo.merge(Saldo_Pasivos, how= 'left', on = ['mes_inicio','CLIENTE'])

In [35]:
base_objetivo_s

        CLIENTE  mes_inicio  SALDO_PAS_UM
0         14052  2019-03-01           NaN
1     200111260  2018-05-01  5.176583e+05
2     200194137  2018-01-01           NaN
3     200194137  2019-06-01           NaN
4     200202823  2017-06-01  6.415601e+04
5     200202823  2019-03-01  2.912233e+04
6     200202823  2019-05-01  5.836564e+04
7     200202823  2019-09-01  8.202965e+04
8     201421604  2018-06-01  2.736780e+05
9     201421604  2019-01-01  4.106484e+05
10    201442214  2020-06-01  2.818773e+04
11    201476823  2019-12-01  2.178684e+05
12    201476823  2020-03-01  2.055815e+05
13    201604443  2018-10-01  3.175138e+06
14    201604443  2020-02-01  3.092872e+06
15    201604443  2021-11-01  3.010035e+06
16    201894919  2017-01-01           NaN
17    201894919  2017-02-01  2.873028e+06
18    201894919  2017-05-01  2.213634e+06
19    201894919  2018-01-01  2.926318e+06
20    201894919  2021-01-01  3.281522e+06
21    201894919  2022-05-01  3.010600e+06
22    201955981  2018-01-01  3.517331e+04
23    201955981  2018-02-01  3.150800e+04
24    201955981  2019-03-01  9.026311e+04
25    201955981  2019-04-01  1.370749e+05
26    202268555  2021-10-01  1.076789e+06
27    202815936  2017-06-01  2.075621e+04
28    202815936  2019-09-01  8.055670e+03
29    202909805  2017-01-01           NaN
30    202909805  2021-02-01  1.120260e+04
31    203471210  2020-06-01  1.073734e+05
32    203471210  2022-01-01  5.972388e+04
33    204018404  2018-03-01  8.328037e+04
34    204018404  2020-06-01  1.431627e+04
35    205465792  2017-06-01  2.201590e+03
36    205465792  2017-11-01  5.132400e+03
37    205465792  2022-03-01  5.456000e+01
38    300090017  2022-02-01  1.941336e+04
39    300090043  2021-10-01           NaN
40    300090374  2021-10-01           NaN
41    300090418  2022-07-01  7.194230e+03
42    300090501  2021-10-01           NaN
43    541570949  2018-05-01  2.826688e+04
44    600000083  2016-12-01           NaN
45    600000083  2017-11-01  2.018291e+04
46    600000083  2018-06-01  2.502643e+04
47    600000344  2018-06-01  1.227687e+04
48    600000344  2021-04-01           NaN
49    600000391  2017-11-01           NaN
50    600000391  2021-12-01           NaN
51    600000430  2017-04-01           NaN
52    600000692  2019-05-01  5.671600e+02
53    600000719  2019-04-01  2.486590e+03
54    600000750  2017-04-01  1.523760e+03
55    600000750  2018-05-01  4.306400e+02
56    600000750  2021-05-01           NaN
57    600001014  2017-03-01  1.607640e+03
58    600001308  2017-02-01  1.839550e+03
59    600001308  2021-05-01  1.530000e+00
60    600001308  2021-06-01  3.058000e+01
61    600001430  2021-05-01           NaN
62    600001475  2018-12-01  2.755172e+04
63    600001953  2017-02-01  1.740000e+00
64    600001953  2019-11-01  1.430000e+00
65    600001987  2019-05-01           NaN
66    600002203  2019-08-01  2.498327e+04
67    600002213  2018-03-01  8.089200e+02
68    600002311  2019-03-01  2.620000e+00
69    600002311  2020-01-01  2.350000e+00
70    600002311  2021-04-01  7.320000e+00
71    600002337  2016-12-01           NaN
72    600002337  2018-10-01  1.622500e+02
73    600002337  2021-05-01  2.270000e+00
74    600002337  2021-12-01           NaN
75    600002337  2022-01-01           NaN
76    600002337  2022-05-01           NaN
77    600002493  2019-03-01  2.920000e+00
78    600002522  2017-02-01           NaN
79    600002522  2019-06-01           NaN
80    600002751  2017-08-01  7.700000e-01
81    600002751  2021-06-01           NaN
82    600002961  2019-07-01  5.764100e+02
83    600003539  2018-05-01  7.427800e+02
84    600003539  2022-04-01  1.513109e+04
85    600004097  2016-12-01           NaN
86    600004097  2017-10-01           NaN
87    600004097  2021-05-01           NaN
88    600004097  2022-01-01           NaN
89    600004144  2022-07-01  1.258210e+03
90    600004150  2017-02-01           NaN
91    600004150  2019-12-01           NaN
92    600004770  2021-07-01  4.167406e+05
93    600004922  2017-03-01  1.794333e+05
94    600004922  2017-05-01  1.951885e+05
95    600004922  2018-03-01  1.839588e+05
96    600004922  2022-01-01  1.393977e+05
97    600004922  2022-05-01  1.438189e+05
98    600004997  2022-04-01  1.873930e+03
99    600005403  2019-07-01  8.311539e+05
100   600005403  2020-07-01  7.180668e+05
101   600005720  2022-04-01  3.061800e+03
102   600006029  2019-02-01  5.637777e+04
103   600006029  2020-08-01  1.279110e+04
104   600006029  2020-12-01  3.801435e+04
105   600006262  2017-06-01  1.052213e+04
106   600006262  2019-12-01  2.260000e+00
107   600006616  2017-04-01           NaN
108   600006616  2019-04-01           NaN
109   600006892  2019-03-01  8.225430e+03
110   600006892  2022-06-01  6.824060e+03
111   600006892  2022-07-01  1.323164e+05
112   600006916  2017-03-01  6.689900e+02
113   600006982  2018-06-01           NaN
114   600006982  2018-07-01           NaN
115   600007221  2017-06-01           NaN
116   600007221  2021-05-01           NaN
117   600007221  2022-04-01           NaN
118   600007360  2018-06-01  5.404200e+02
119   600007360  2019-03-01  2.361830e+03
120   600007675  2021-03-01           NaN
121   600007691  2017-03-01  1.836000e+01
122   600007691  2021-05-01           NaN
123   600007691  2022-04-01           NaN
124   600007718  2021-08-01  1.033564e+04
125   600007740  2017-03-01  1.408600e+02
126   600007990  2018-04-01  1.085710e+06
127   600007990  2019-03-01  5.140034e+05
128   600007990  2021-12-01           NaN
129   600008016  2018-02-01  3.417450e+03
130   600008016  2018-03-01  8.494340e+03
131   600008016  2020-11-01           NaN
132   600008020  2018-11-01  2.860390e+03
133   600008035  2018-06-01  7.700150e+03
134   600008130  2017-11-01  2.192530e+03
135   600008285  2018-11-01           NaN
136   600008313  2022-07-01  5.037707e+05
137   600008505  2021-06-01           NaN
138   600008507  2017-06-01           NaN
139   600008507  2021-10-01           NaN
140   600008593  2016-12-01           NaN
141   600008593  2017-06-01  7.521694e+04
142   600008593  2022-04-01  1.533440e+04
143   600008989  2021-05-01           NaN
144   600009695  2017-03-01  8.532030e+03
145   600009695  2019-12-01  4.000000e-02
146   600010003  2017-06-01  5.331800e+02
147   600010003  2019-07-01  1.631200e+02
148   600010003  2021-05-01  2.335390e+03
149   600010012  2019-08-01  4.395300e+03
150   600010095  2018-08-01  7.476000e+01
151   600010436  2017-11-01  4.303910e+03
152   600010763  2016-12-01           NaN
153   600011451  2019-04-01  3.029950e+04
154   600011451  2019-05-01  1.994444e+04
155   600011645  2017-08-01  2.136437e+04
156   600011704  2020-05-01  1.000000e-02
157   600011906  2021-01-01  6.789218e+05
158   600012112  2021-06-01           NaN
159   600012534  2017-03-01           NaN
160   600012849  2017-09-01  1.800000e-01
161   600012849  2018-04-01  6.002000e+02
162   600013268  2021-04-01  1.390400e+02
163   600013461  2021-05-01           NaN
164   600013488  2017-06-01  1.964695e+04
165   600013488  2017-08-01  2.760389e+04
166   600013488  2017-09-01  2.760502e+04
167   600013495  2017-02-01  4.028070e+03
168   600013503  2017-10-01  2.034760e+04
169   600013503  2021-09-01  1.457750e+03
170   600013563  2017-01-01           NaN
171   600013563  2017-12-01           NaN
172   600013563  2019-06-01           NaN
173   600013563  2021-12-01  4.600000e-01
174   600013866  2017-02-01  2.481500e+02
175   600013866  2021-03-01           NaN
176   600014654  2017-10-01           NaN
177   600014654  2021-04-01           NaN
178   600014655  2021-03-01  1.581238e+05
179   600014964  2021-12-01  2.618400e+02
180   600015087  2021-12-01           NaN
181   600015285  2017-11-01  4.591346e+04
182   600015310  2018-04-01  5.014000e+01
183   600015310  2021-05-01           NaN
184   600015310  2021-12-01           NaN
185   600015520  2018-03-01  8.093558e+04
186   600015600  2018-06-01  1.117180e+06
187   600015600  2018-09-01  1.116196e+06
188   600015600  2018-10-01  1.277179e+06
189   600015600  2019-06-01  1.271905e+06
190   600015600  2020-06-01  3.021890e+05
191   600015600  2022-07-01  1.624910e+05
192   600016109  2017-10-01  5.516672e+05
193   600016118  2018-07-01  2.838600e+02
194   600016174  2016-12-01           NaN
195   600016393  2020-03-01  1.427000e+02
196   600016465  2021-11-01           NaN
197   600016653  2017-09-01           NaN
198   600016775  2018-08-01  1.299385e+05
199   600016775  2021-02-01  2.226404e+05
200   600016775  2021-09-01  2.256800e+05
201   600016775  2022-03-01  2.349222e+05
202   600017194  2020-05-01           NaN
203   600017246  2017-11-01  2.414499e+05
204   600017356  2017-02-01  5.049430e+03
205   600017356  2021-05-01  2.125240e+03
206   600017356  2022-01-01  8.528200e+02
207   600017494  2021-04-01  2.000000e-02
208   600017494  2021-05-01  2.000000e-02
209   600017494  2021-09-01           NaN
210   600017807  2017-11-01  4.287500e+02
211   600017807  2017-12-01  4.969000e+01
212   600017931  2017-04-01  2.091737e+04
213   600017931  2019-04-01  1.909280e+04
214   600018060  2020-03-01           NaN
215   600018138  2017-06-01  4.545640e+03
216   600018138  2018-03-01  7.141350e+03
217   600018138  2020-03-01  0.000000e+00
218   600018359  2019-08-01  6.365600e+02
219   600018395  2017-02-01  8.001532e+04
220   600018395  2018-03-01  1.989380e+03
221   600018664  2021-05-01  2.480000e+00
222   600018666  2018-07-01  4.208300e+02
223   600018666  2021-04-01  1.457490e+03
224   600018751  2021-09-01  1.301000e+01
225   600019044  2020-01-01  1.681900e+02
226   600019161  2017-02-01  1.119000e+01
227   600019161  2021-08-01           NaN
228   600019326  2016-12-01           NaN
229   600020010  2019-11-01  1.099290e+03
230   600020010  2021-03-01           NaN
231   600020836  2021-04-01           NaN
232   600020836  2021-08-01           NaN
233   600020845  2020-01-01  4.980000e+01
234   600021015  2021-04-01           NaN
235   600021015  2022-02-01           NaN
236   600021252  2018-10-01  1.854189e+04
237   600021424  2021-04-01           NaN
238   600021573  2021-05-01  6.318100e+02
239   600021573  2022-04-01  6.332700e+02
240   600021627  2019-02-01  1.129718e+05
241   600021627  2019-03-01  1.124828e+05
242   600021780  2020-02-01           NaN
243   600021824  2017-11-01  8.340000e+00
244   600021824  2020-08-01           NaN
245   600021861  2021-10-01           NaN
246   600021903  2017-03-01  4.256670e+03
247   600021903  2021-06-01  1.636636e+04
248   600022126  2017-04-01  9.094000e+01
249   600022126  2017-11-01  6.400000e-01
...         ...         ...           ...
5839  990095417  2022-03-01           NaN
5840  990095480  2022-03-01           NaN
5841  990095490  2022-03-01           NaN
5842  990095523  2022-04-01  1.945750e+03
5843  990095741  2022-03-01           NaN
5844  990095750  2022-03-01           NaN
5845  990095813  2022-03-01           NaN
5846  990095821  2022-04-01  1.654000e+01
5847  990095821  2022-06-01  1.591620e+03
5848  990095836  2022-03-01           NaN
5849  990095836  2022-07-01  8.090000e+01
5850  990095896  2022-06-01  1.080000e+00
5851  990095933  2022-03-01           NaN
5852  990095943  2022-03-01           NaN
5853  990096004  2022-03-01           NaN
5854  990096005  2022-03-01           NaN
5855  990096090  2022-03-01           NaN
5856  990096095  2022-03-01           NaN
5857  990096096  2022-03-01           NaN
5858  990096192  2022-03-01           NaN
5859  990096234  2022-05-01  9.528900e+02
5860  990096240  2022-03-01           NaN
5861  990096280  2022-03-01           NaN
5862  990096406  2022-06-01  1.000560e+03
5863  990096409  2022-04-01  1.065400e+02
5864  990096470  2022-03-01           NaN
5865  990096603  2022-03-01           NaN
5866  990096638  2022-04-01  1.000000e+02
5867  990096652  2022-03-01           NaN
5868  990096677  2022-03-01           NaN
5869  990096684  2022-03-01           NaN
5870  990096714  2022-04-01           NaN
5871  990096716  2022-05-01  3.775400e+02
5872  990096718  2022-03-01           NaN
5873  990096718  2022-04-01  5.280110e+03
5874  990096820  2022-03-01           NaN
5875  990096921  2022-03-01           NaN
5876  990096969  2022-04-01           NaN
5877  990096994  2022-03-01           NaN
5878  990096995  2022-03-01           NaN
5879  990097151  2022-03-01           NaN
5880  990097194  2022-03-01           NaN
5881  990097206  2022-03-01           NaN
5882  990097234  2022-03-01           NaN
5883  990097289  2022-04-01           NaN
5884  990097366  2022-04-01           NaN
5885  990097366  2022-07-01  5.801900e+02
5886  990097383  2022-06-01  9.519330e+03
5887  990097482  2022-06-01           NaN
5888  990097516  2022-04-01           NaN
5889  990097670  2022-04-01           NaN
5890  990097670  2022-06-01  4.832930e+03
5891  990097719  2022-04-01           NaN
5892  990097784  2022-04-01           NaN
5893  990097927  2022-04-01           NaN
5894  990097966  2022-06-01  1.000000e+03
5895  990098081  2022-04-01           NaN
5896  990098153  2022-05-01           NaN
5897  990098226  2022-04-01           NaN
5898  990098293  2022-04-01           NaN
5899  990098335  2022-04-01           NaN
5900  990098397  2022-04-01           NaN
5901  990098511  2022-04-01           NaN
5902  990098519  2022-04-01           NaN
5903  990098539  2022-04-01           NaN
5904  990098708  2022-04-01           NaN
5905  990098811  2022-04-01           NaN
5906  990098889  2022-04-01           NaN
5907  990098891  2022-04-01           NaN
5908  990098928  2022-04-01           NaN
5909  990098940  2022-04-01           NaN
5910  990098983  2022-04-01           NaN
5911  990098984  2022-04-01           NaN
5912  990099093  2022-04-01           NaN
5913  990099185  2022-04-01           NaN
5914  990099197  2022-04-01           NaN
5915  990099248  2022-04-01           NaN
5916  990099270  2022-05-01           NaN
5917  990099313  2022-04-01           NaN
5918  990099315  2022-04-01           NaN
5919  990099320  2022-04-01           NaN
5920  990099381  2022-04-01           NaN
5921  990099382  2022-04-01           NaN
5922  990099386  2022-04-01           NaN
5923  990099402  2022-04-01           NaN
5924  990099410  2022-04-01           NaN
5925  990099489  2022-04-01           NaN
5926  990099555  2022-04-01           NaN
5927  990099563  2022-05-01  5.000000e+01
5928  990099582  2022-04-01           NaN
5929  990099627  2022-05-01           NaN
5930  990099662  2022-05-01  1.593700e+02
5931  990099732  2022-04-01           NaN
5932  990099799  2022-06-01           NaN
5933  990099820  2022-05-01           NaN
5934  990099829  2022-04-01           NaN
5935  990099843  2022-04-01           NaN
5936  990099848  2022-05-01           NaN
5937  990099884  2022-06-01  1.000100e+02
5938  990099886  2022-04-01           NaN
5939  990099897  2022-04-01           NaN
5940  990099908  2022-04-01           NaN
5941  990100012  2022-05-01  1.000000e+02
5942  990100022  2022-05-01           NaN
5943  990100041  2022-04-01           NaN
5944  990100071  2022-04-01           NaN
5945  990100103  2022-04-01           NaN
5946  990100121  2022-04-01           NaN
5947  990100141  2022-04-01           NaN
5948  990100163  2022-04-01           NaN
5949  990100170  2022-04-01           NaN
5950  990100180  2022-04-01           NaN
5951  990100255  2022-06-01  3.112875e+05
5952  990100322  2022-05-01           NaN
5953  990100353  2022-05-01           NaN
5954  990100368  2022-05-01           NaN
5955  990100384  2022-05-01           NaN
5956  990100488  2022-05-01           NaN
5957  990100546  2022-05-01           NaN
5958  990100552  2022-05-01           NaN
5959  990100621  2022-06-01  1.000149e+05
5960  990100626  2022-05-01           NaN
5961  990100742  2022-05-01           NaN
5962  990100795  2022-05-01           NaN
5963  990100796  2022-05-01           NaN
5964  990100823  2022-05-01           NaN
5965  990101031  2022-05-01           NaN
5966  990101117  2022-05-01           NaN
5967  990101146  2022-05-01           NaN
5968  990101219  2022-06-01  9.994410e+03
5969  990101266  2022-05-01           NaN
5970  990101280  2022-05-01           NaN
5971  990101427  2022-05-01           NaN
5972  990101430  2022-05-01           NaN
5973  990101502  2022-05-01           NaN
5974  990101509  2022-05-01           NaN
5975  990101517  2022-05-01           NaN
5976  990101619  2022-05-01           NaN
5977  990101664  2022-05-01           NaN
5978  990101698  2022-05-01           NaN
5979  990101710  2022-05-01           NaN
5980  990101757  2022-05-01           NaN
5981  990101874  2022-05-01           NaN
5982  990101881  2022-05-01           NaN
5983  990101911  2022-05-01           NaN
5984  990101911  2022-06-01           NaN
5985  990101960  2022-05-01           NaN
5986  990101989  2022-05-01           NaN
5987  990102028  2022-05-01           NaN
5988  990102157  2022-05-01           NaN
5989  990102228  2022-05-01           NaN
5990  990102245  2022-05-01           NaN
5991  990102258  2022-05-01           NaN
5992  990102382  2022-05-01           NaN
5993  990102419  2022-06-01           NaN
5994  990102440  2022-06-01  2.010000e+05
5995  990102446  2022-05-01           NaN
5996  990102498  2022-05-01           NaN
5997  990102502  2022-06-01           NaN
5998  990102503  2022-05-01           NaN
5999  990102514  2022-05-01           NaN
6000  990102530  2022-05-01           NaN
6001  990102545  2022-05-01           NaN
6002  990102565  2022-05-01           NaN
6003  990102565  2022-06-01           NaN
6004  990102612  2022-06-01           NaN
6005  990102702  2022-05-01           NaN
6006  990102802  2022-05-01           NaN
6007  990102826  2022-05-01           NaN
6008  990102860  2022-05-01           NaN
6009  990102869  2022-06-01  5.000000e+01
6010  990102885  2022-05-01           NaN
6011  990102898  2022-06-01  1.654000e+01
6012  990102927  2022-05-01           NaN
6013  990102942  2022-05-01           NaN
6014  990102942  2022-06-01           NaN
6015  990102964  2022-06-01           NaN
6016  990102972  2022-05-01           NaN
6017  990102985  2022-06-01  5.453450e+03
6018  990102990  2022-05-01           NaN
6019  990103003  2022-05-01           NaN
6020  990103050  2022-05-01           NaN
6021  990103096  2022-05-01           NaN
6022  990103103  2022-05-01           NaN
6023  990103115  2022-05-01           NaN
6024  990103137  2022-06-01           NaN
6025  990103137  2022-07-01  1.870200e+03
6026  990103148  2022-06-01           NaN
6027  990103347  2022-06-01           NaN
6028  990103581  2022-06-01           NaN
6029  990103657  2022-06-01           NaN
6030  990103673  2022-06-01           NaN
6031  990103692  2022-06-01           NaN
6032  990103717  2022-06-01           NaN
6033  990103783  2022-06-01           NaN
6034  990103787  2022-06-01           NaN
6035  990103798  2022-06-01           NaN
6036  990103833  2022-06-01           NaN
6037  990103913  2022-06-01           NaN
6038  990103920  2022-06-01           NaN
6039  990103975  2022-06-01           NaN
6040  990104144  2022-06-01           NaN
6041  990104237  2022-06-01           NaN
6042  990104238  2022-06-01           NaN
6043  990104298  2022-06-01           NaN
6044  990104340  2022-06-01           NaN
6045  990104381  2022-06-01           NaN
6046  990104550  2022-06-01           NaN
6047  990104593  2022-06-01           NaN
6048  990104724  2022-06-01           NaN
6049  990104725  2022-06-01           NaN
6050  990104750  2022-06-01           NaN
6051  990104751  2022-06-01           NaN
6052  990104775  2022-06-01           NaN
6053  990104881  2022-06-01           NaN
6054  990104892  2022-06-01           NaN
6055  990104903  2022-06-01           NaN
6056  990105031  2022-06-01           NaN
6057  990105101  2022-06-01           NaN
6058  990105142  2022-06-01           NaN
6059  990105163  2022-06-01           NaN
6060  990105163  2022-07-01           NaN
6061  990105220  2022-06-01           NaN
6062  990105314  2022-06-01           NaN

In [36]:
base_objetivo_s.isna().sum()

CLIENTE            0
mes_inicio         0
SALDO_PAS_UM    3333
dtype: int64

In [37]:
base_objetivo_s.isna().sum()/len(base_objetivo)

CLIENTE         0.000000
mes_inicio      0.000000
SALDO_PAS_UM    0.547381
dtype: float64

# SALDOS ACTIVOS

In [38]:
Ind_TDC = Base_Independientes_A[Base_Independientes_A['SECTOR1'] == 'TDC']
Ind_HIPO = Base_Independientes_A[Base_Independientes_A['SECTOR1'] == 'HIPOTECA RESIDENCIAL']
Ind_CONS = Base_Independientes_A[Base_Independientes_A['SECTOR1'] == 'CONSUMO PERSONAL']
Ind_AUTO = Base_Independientes_A[Base_Independientes_A['SECTOR1'] == 'AUTO']

In [39]:
Saldo_TDC = Ind_TDC.groupby(['mes','CLIENTE'])['SALDO'].agg({'SALDO_TDC_UM':"sum"}).reset_index()
Saldo_HIPO = Ind_HIPO.groupby(['mes','CLIENTE'])['SALDO'].agg({'SALDO_HIPO_UM':"sum"}).reset_index()
Saldo_CONS = Ind_CONS.groupby(['mes','CLIENTE'])['SALDO'].agg({'SALDO_CONS_UM':"sum"}).reset_index()
Saldo_AUTO = Ind_AUTO.groupby(['mes','CLIENTE'])['SALDO'].agg({'SALDO_AUTO_UM':"sum"}).reset_index()

C:\Users\alber\anaconda3\envs\Quash_sh\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.
C:\Users\alber\anaconda3\envs\Quash_sh\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

C:\Users\alber\anaconda3\envs\Quash_sh\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\alber\anaconda3\envs\Quash_sh\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

In [40]:
Saldo_TDC.head(10)

       mes    CLIENTE  SALDO_TDC_UM
0  2017-01        142       6565.65
1  2017-01      14052        168.32
2  2017-01      31180       8577.72
3  2017-01    2227129       1634.57
4  2017-01  200111260       1823.68
5  2017-01  200194137       2744.41
6  2017-01  200202823       1880.21
7  2017-01  201421604       4761.38
8  2017-01  201442214      17036.09
9  2017-01  201476823        704.69

In [41]:
SALDOS_ACT = pd.merge(Saldo_TDC, Saldo_CONS, on=['mes','CLIENTE'], how='outer')
SALDOS_ACT = pd.merge(SALDOS_ACT, Saldo_HIPO, on=['mes','CLIENTE'], how='outer')
SALDOS_ACT = pd.merge(SALDOS_ACT, Saldo_AUTO, on=['mes','CLIENTE'], how='outer')
 
SALDOS_ACT

,mes,CLIENTE,SALDO_TDC_UM,SALDO_CONS_UM,SALDO_HIPO_UM,SALDO_AUTO_UM
0,2017-01,142,6565.65,NaN,NaN,NaN
1,2017-01,14052,168.32,NaN,NaN,NaN
2,2017-01,31180,8577.72,NaN,487657.23,NaN
3,2017-01,2227129,1634.57,NaN,NaN,NaN
4,2017-01,200111260,1823.68,134167.98,222560.41,NaN
5,2017-01,200194137,2744.41,NaN,NaN,NaN
6,2017-01,200202823,1880.21,NaN,NaN,NaN
7,2017-01,201421604,4761.38,NaN,NaN,NaN
8,2017-01,201442214,17036.09,775000.00,NaN,NaN
9,2017-01,201476823,704.69,105871.60,176195.97,NaN
10,2017-01,201604443,7277.71,NaN,NaN,NaN
11,2017-01,201894919,18090.66,NaN,NaN,NaN
12,2017-01,201955981,2904.09,NaN,NaN,NaN
13,2017-01,202347274,11323.51,NaN,NaN,48399.70
14,2017-01,202909805,380.21,NaN,NaN,NaN
15,2017-01,204018404,348.54,NaN,NaN,NaN
16,2017-01,204473030,170.13,NaN,NaN,NaN
17,2017-01,205465792,8963.90,NaN,NaN,NaN
18,2017-01,600000008,15269.50,NaN,120268.50,NaN
19,2017-01,600000084,10032.68,NaN,NaN,NaN
20,2017-01,600000125,3107.18,NaN,NaN,16583.95
21,2017-01,600000358,27765.25,NaN,NaN,NaN
22,2017-01,600000430,1615.50,NaN,NaN,NaN
23,2017-01,600000692,26103.81,NaN,NaN,18665.87
24,2017-01,600000719,9762.68,NaN,NaN,3001.08
25,2017-01,600000750,139.62,NaN,NaN,NaN
26,2017-01,600000781,17219.77,NaN,NaN,NaN
27,2017-01,600001430,11371.23,NaN,NaN,NaN
28,2017-01,600001475,712.39,NaN,49219.47,10712.03
29,2017-01,600002203,1942.94,NaN,329734.67,28224.87
30,2017-01,600002311,2095.53,NaN,NaN,NaN
31,2017-01,600002337,8272.38,2210.36,NaN,NaN
32,2017-01,600002961,10596.85,25633.97,45992.23,NaN
33,2017-01,600003131,4592.49,NaN,NaN,40214.28
34,2017-01,600004082,7335.56,NaN,NaN,NaN
35,2017-01,600004097,11268.72,NaN,NaN,NaN
36,2017-01,600004150,17835.94,NaN,NaN,NaN
37,2017-01,600005403,265.96,NaN,NaN,NaN
38,2017-01,600005793,4299.48,NaN,NaN,NaN
39,2017-01,600006029,3749.19,23000.00,NaN,NaN
40,2017-01,600006262,6367.51,4920.28,NaN,NaN
41,2017-01,600006616,7355.22,NaN,NaN,NaN
42,2017-01,600006686,14136.16,NaN,152027.42,NaN
43,2017-01,600006916,2574.97,NaN,NaN,NaN
44,2017-01,600006927,22672.07,428818.96,105869.14,NaN
45,2017-01,600007221,1015.30,NaN,NaN,NaN
46,2017-01,600007564,154.72,NaN,335620.92,NaN
47,2017-01,600007675,15662.91,NaN,NaN,NaN
48,2017-01,600008002,19520.40,NaN,NaN,NaN
49,2017-01,600008016,12927.81,14594.40,161649.90,NaN
50,2017-01,600008020,2470.38,NaN,101727.49,18900.10
51,2017-01,600008035,7349.70,NaN,NaN,NaN
52,2017-01,600008198,1053.50,NaN,NaN,NaN
53,2017-01,600008285,41405.11,NaN,165631.52,NaN
54,2017-01,600008313,1339.62,NaN,NaN,NaN
55,2017-01,600008505,2711.95,NaN,NaN,NaN
56,2017-01,600008593,11604.47,58729.93,81070.53,NaN
57,2017-01,600008989,6236.61,NaN,NaN,NaN
58,2017-01,600009256,37458.58,NaN,125627.21,NaN
59,2017-01,600009658,1259.45,NaN,NaN,NaN
60,2017-01,600009695,23897.47,NaN,NaN,NaN
61,2017-01,600010003,12381.86,NaN,NaN,NaN
62,2017-01,600010012,5440.22,NaN,NaN,NaN
63,2017-01,600010053,16180.99,NaN,NaN,NaN
64,2017-01,600010095,14420.16,NaN,NaN,NaN
65,2017-01,600010295,385.58,NaN,NaN,NaN
66,2017-01,600010436,279.06,NaN,NaN,6860.56
67,2017-01,600010763,3907.95,NaN,691727.26,NaN
68,2017-01,600011103,676.32,NaN,NaN,NaN
69,2017-01,600011451,23843.84,NaN,NaN,NaN
70,2017-01,600011704,1450.80,NaN,NaN,NaN
71,2017-01,600011906,2075.99,NaN,155332.38,42898.05
72,2017-01,600012510,7093.57,NaN,NaN,NaN
73,2017-01,600012534,6.36,NaN,NaN,NaN
74,2017-01,600012806,702.48,59952.29,26299.32,NaN
75,2017-01,600012933,944.53,NaN,NaN,NaN
76,2017-01,600013158,5292.48,NaN,NaN,NaN
77,2017-01,600013268,3520.30,NaN,57608.04,NaN
78,2017-01,600013488,9782.87,32263.36,NaN,NaN
79,2017-01,600013503,12975.63,NaN,NaN,NaN
80,2017-01,600013563,18757.76,NaN,NaN,NaN
81,2017-01,600013866,4423.32,NaN,NaN,NaN
82,2017-01,600014188,314.07,NaN,NaN,NaN
83,2017-01,600014654,1775.71,NaN,NaN,NaN
84,2017-01,600014664,45.81,NaN,NaN,NaN
85,2017-01,600014964,8098.89,NaN,54471.39,13687.20
86,2017-01,600015087,2190.13,NaN,83884.28,NaN
87,2017-01,600015174,9104.37,NaN,97193.91,10020.37
88,2017-01,600015310,19632.79,26586.30,47517.54,NaN
89,2017-01,600015600,2613.12,50483.90,409867.70,NaN
90,2017-01,600015835,555.19,NaN,NaN,NaN
91,2017-01,600016118,2476.21,NaN,NaN,6913.38
92,2017-01,600016174,836.00,NaN,NaN,NaN
93,2017-01,600016301,13453.52,NaN,NaN,NaN
94,2017-01,600016465,5475.07,6710.80,NaN,NaN
95,2017-01,600016887,1650.00,NaN,NaN,NaN
96,2017-01,600017271,10467.65,NaN,NaN,NaN
97,2017-01,600017318,533.66,NaN,NaN,NaN
98,2017-01,600017356,2997.62,NaN,122877.51,NaN
99,2017-01,600017494,36928.59,NaN,NaN,NaN
100,2017-01,600017552,272.13,NaN,NaN,NaN
101,2017-01,600018138,29264.42,55045.07,72594.45,NaN
102,2017-01,600018218,749.62,NaN,NaN,NaN
103,2017-01,600018359,3008.42,NaN,NaN,8005.58
104,2017-01,600018664,7492.53,NaN,245182.47,15708.93
105,2017-01,600018751,544.44,NaN,NaN,NaN
106,2017-01,600019007,5956.23,NaN,NaN,NaN
107,2017-01,600019044,6632.59,NaN,NaN,NaN
108,2017-01,600019326,5.94,90000.00,NaN,NaN
109,2017-01,600019632,6211.11,NaN,NaN,NaN
110,2017-01,600020010,3340.63,NaN,38588.10,NaN
111,2017-01,600020626,4758.22,NaN,NaN,NaN
112,2017-01,600020632,2917.61,NaN,NaN,NaN
113,2017-01,600020836,1073.30,3287.43,NaN,NaN
114,2017-01,600020845,16499.69,NaN,NaN,NaN
115,2017-01,600021015,298.79,NaN,NaN,NaN
116,2017-01,600021180,19130.61,NaN,NaN,NaN
117,2017-01,600021249,939.47,NaN,84261.05,NaN
118,2017-01,600021256,1036.81,NaN,172207.69,NaN
119,2017-01,600021424,8908.70,NaN,NaN,4357.11
120,2017-01,600021573,2576.07,NaN,135824.51,NaN
121,2017-01,600021627,3182.93,23900.30,NaN,NaN
122,2017-01,600021771,2608.73,NaN,NaN,NaN
123,2017-01,600021824,2020.52,NaN,NaN,NaN
124,2017-01,600021861,2892.42,NaN,NaN,NaN
125,2017-01,600021964,1446.71,NaN,18344.33,NaN
126,2017-01,600022213,15138.74,NaN,NaN,NaN
127,2017-01,600022404,731.95,2157.14,NaN,NaN
128,2017-01,600022431,2244.35,NaN,38160.05,NaN
129,2017-01,600022600,1201.68,NaN,NaN,NaN
130,2017-01,600022827,23445.56,NaN,NaN,NaN
131,2017-01,600022947,12570.16,NaN,NaN,NaN
132,2017-01,600023001,2998.36,NaN,NaN,NaN
133,2017-01,600023027,16279.68,NaN,NaN,NaN
134,2017-01,600023444,6200.99,24215.32,219610.50,NaN
135,2017-01,600023459,5348.42,NaN,216333.10,NaN
136,2017-01,600023538,1140.15,NaN,NaN,NaN
137,2017-01,600023802,13390.69,2026.67,33526.13,NaN
138,2017-01,600023815,1634.26,NaN,NaN,NaN
139,2017-01,600023817,600.35,NaN,NaN,NaN
140,2017-01,600023860,1754.71,NaN,NaN,NaN
141,2017-01,600023894,1358.43,NaN,NaN,NaN
142,2017-01,600024644,2427.01,NaN,NaN,NaN
143,2017-01,600024868,2687.81,NaN,NaN,NaN
144,2017-01,600024905,47.74,NaN,NaN,NaN
145,2017-01,600025379,64.44,NaN,NaN,NaN
146,2017-01,600025554,1236.90,NaN,NaN,NaN
147,2017-01,600025772,1100.38,NaN,NaN,NaN
148,2017-01,600025830,569.02,3789.12,NaN,NaN
149,2017-01,600026265,770.69,NaN,NaN,NaN
150,2017-01,600026449,1372.14,NaN,NaN,NaN
151,2017-01,600026757,2041.65,NaN,NaN,NaN
152,2017-01,600027469,998.40,NaN,NaN,NaN
153,2017-01,600027493,4003.07,NaN,NaN,NaN
154,2017-01,600027599,3749.78,NaN,NaN,NaN
155,2017-01,600027955,2430.83,NaN,NaN,NaN
156,2017-01,600027981,411.79,NaN,NaN,NaN
157,2017-01,600027987,2272.95,NaN,NaN,NaN
158,2017-01,600028019,3455.30,NaN,NaN,NaN
159,2017-01,600028131,8925.28,NaN,NaN,NaN
160,2017-01,600028159,2929.45,NaN,NaN,NaN
161,2017-01,600028362,348.77,NaN,NaN,NaN
162,2017-01,600028774,3255.50,NaN,NaN,NaN
163,2017-01,600028934,12385.98,NaN,164347.90,NaN
164,2017-01,600029086,11677.12,67468.21,149951.36,NaN
165,2017-01,600029107,1557.56,NaN,NaN,NaN
166,2017-01,600029231,7752.15,NaN,NaN,NaN
167,2017-01,600029328,1006.71,82217.47,NaN,NaN
168,2017-01,600029353,17357.21,NaN,NaN,NaN
169,2017-01,600030021,7493.67,NaN,NaN,NaN
170,2017-01,600030194,1107.27,NaN,NaN,NaN
171,2017-01,600030451,16000.28,NaN,NaN,NaN
172,2017-01,600030712,8945.89,NaN,NaN,NaN
173,2017-01,600030858,405.42,NaN,NaN,NaN
174,2017-01,600031045,6481.94,NaN,NaN,NaN
175,2017-01,600031318,6771.76,NaN,NaN,NaN
176,2017-01,600031697,29673.03,NaN,NaN,NaN
177,2017-01,600031713,528.83,NaN,NaN,NaN
178,2017-01,600031844,25618.28,32295.03,17161.48,NaN
179,2017-01,600031931,3311.61,NaN,220125.17,18486.44
180,2017-01,600031968,2644.53,NaN,NaN,NaN
181,2017-01,600032580,6951.35,NaN,NaN,NaN
182,2017-01,600032686,3947.59,NaN,NaN,NaN
183,2017-01,600032703,594.28,NaN,NaN,NaN
184,2017-01,600032731,6732.13,NaN,NaN,NaN
185,2017-01,600032876,264.65,NaN,NaN,NaN
186,2017-01,600033003,23107.08,NaN,NaN,NaN
187,2017-01,600033202,7191.20,NaN,NaN,NaN
188,2017-01,600033211,691.95,NaN,NaN,NaN
189,2017-01,600033432,30662.97,23279.78,26450.21,9378.02
190,2017-01,600033573,4637.99,NaN,NaN,NaN
191,2017-01,600033660,1930.70,NaN,NaN,NaN
192,2017-01,600033874,27279.01,NaN,NaN,NaN
193,2017-01,600033929,2208.04,NaN,NaN,NaN
194,2017-01,600034105,320.79,NaN,NaN,NaN
195,2017-01,600034203,7920.44,NaN,NaN,NaN
196,2017-01,600034208,2036.76,NaN,NaN,NaN
197,2017-01,600034347,11165.08,NaN,NaN,NaN
198,2017-01,600034408,6067.78,NaN,NaN,NaN
199,2017-01,600034587,4855.29,NaN,NaN,NaN
200,2017-01,600034687,5959.94,NaN,NaN,NaN
201,2017-01,600034870,2204.25,NaN,51963.28,21303.75
202,2017-01,600035004,9086.32,NaN,NaN,NaN
203,2017-01,600035101,6058.89,77192.54,NaN,NaN
204,2017-01,600035294,48859.71,38000.00,NaN,NaN
205,2017-01,600035488,2471.24,NaN,NaN,NaN
206,2017-01,600035776,10993.06,NaN,NaN,NaN
207,2017-01,600035865,3472.91,NaN,NaN,NaN
208,2017-01,600035960,2040.08,16755.89,NaN,NaN
209,2017-01,600036118,2884.58,NaN,NaN,NaN
210,2017-01,600036125,3638.79,NaN,NaN,NaN
211,2017-01,600036650,241.46,NaN,NaN,NaN
212,2017-01,600036679,28779.34,NaN,NaN,NaN
213,2017-01,600036763,4952.23,NaN,NaN,NaN
214,2017-01,600036966,5009.84,NaN,NaN,NaN
215,2017-01,600037203,53126.74,NaN,NaN,NaN
216,2017-01,600037225,1742.42,288.69,NaN,NaN
217,2017-01,600037302,8471.35,NaN,NaN,NaN
218,2017-01,600037589,1669.99,NaN,NaN,NaN
219,2017-01,600037612,16204.45,NaN,NaN,NaN
220,2017-01,600037775,4613.22,NaN,NaN,NaN
221,2017-01,600037910,1491.95,1372.89,NaN,NaN
222,2017-01,600038039,156.72,221.45,NaN,18469.25
223,2017-01,600038087,6277.75,NaN,NaN,NaN
224,2017-01,600038315,30348.77,9331.45,106469.19,NaN
225,2017-01,600038619,374.11,NaN,NaN,NaN
226,2017-01,600038639,7411.91,NaN,217400.92,NaN
227,2017-01,600039058,14993.22,NaN,NaN,NaN
228,2017-01,600039128,20321.81,NaN,NaN,NaN
229,2017-01,600039175,2724.88,NaN,NaN,21712.01
230,2017-01,600039194,433.58,NaN,NaN,NaN
231,2017-01,600039234,2339.44,NaN,NaN,NaN
232,2017-01,600039310,5805.86,NaN,NaN,NaN
233,2017-01,600039405,404.89,NaN,NaN,NaN
234,2017-01,600039438,597.48,NaN,NaN,NaN
235,2017-01,600039534,5613.30,NaN,NaN,NaN
236,2017-01,600039591,2594.37,NaN,NaN,NaN
237,2017-01,600039641,345.87,NaN,NaN,NaN
238,2017-01,600039648,2940.44,3808.65,NaN,NaN
239,2017-01,600039796,10223.74,NaN,NaN,NaN
240,2017-01,600039879,786.45,NaN,38911.39,NaN
241,2017-01,600039915,599.24,NaN,NaN,NaN
242,2017-01,600039941,11466.16,NaN,NaN,NaN
243,2017-01,600040087,9253.29,25033.77,NaN,NaN
244,2017-01,600040100,36076.97,NaN,NaN,9497.37
245,2017-01,600040245,11083.90,NaN,NaN,NaN
246,2017-01,600040310,2030.10,NaN,NaN,NaN
247,2017-01,600040722,2888.41,NaN,NaN,NaN
248,2017-01,600040767,1688.06,NaN,NaN,NaN
249,2017-01,600040905,28479.19,NaN,65969.88,NaN
...,...,...,...,...,...,...
183449,2022-05,600233919,NaN,NaN,NaN,11057.85
183450,2022-05,600234238,NaN,NaN,NaN,20562.19
183451,2022-05,600235046,NaN,NaN,NaN,47635.43
183452,2022-05,600235517,NaN,NaN,NaN,17435.03
183453,2022-05,600235797,NaN,NaN,NaN,18351.42
183454,2022-05,600246004,NaN,NaN,NaN,13403.23
183455,2022-05,600248514,NaN,NaN,NaN,6055.90
183456,2022-05,600249428,NaN,NaN,NaN,17670.70
183457,2022-05,600253350,NaN,NaN,NaN,35773.34
183458,2022-05,600255078,NaN,NaN,NaN,40724.95
183459,2022-05,600260926,NaN,NaN,NaN,11795.64
183460,2022-05,600263339,NaN,NaN,NaN,10545.74
183461,2022-05,600264523,NaN,NaN,NaN,19884.83
183462,2022-05,600265440,NaN,NaN,NaN,14629.30
183463,2022-05,600265875,NaN,NaN,NaN,21279.96
183464,2022-05,600266038,NaN,NaN,NaN,16046.28
183465,2022-05,990002359,NaN,NaN,NaN,25373.81
183466,2022-05,990004592,NaN,NaN,NaN,21925.67
183467,2022-05,990008019,NaN,NaN,NaN,23441.82
183468,2022-05,990015047,NaN,NaN,NaN,39621.06
183469,2022-05,990015515,NaN,NaN,NaN,18210.72
183470,2022-05,990021939,NaN,NaN,NaN,41828.93
183471,2022-05,990022424,NaN,NaN,NaN,66957.79
183472,2022-05,990025575,NaN,NaN,NaN,14413.61
183473,2022-05,990037807,NaN,NaN,NaN,14381.94
183474,2022-05,990054154,NaN,NaN,NaN,35367.53
183475,2022-05,990056673,NaN,NaN,NaN,18212.12
183476,2022-05,990057369,NaN,NaN,NaN,45352.79
183477,2022-05,990060735,NaN,NaN,NaN,34527.00
183478,2022-05,990061132,NaN,NaN,NaN,40381.00
183479,2022-05,990061513,NaN,NaN,NaN,62253.32
183480,2022-05,990065791,NaN,NaN,NaN,12378.04
183481,2022-05,990066154,NaN,NaN,NaN,60582.47
183482,2022-05,990068322,NaN,NaN,NaN,13933.38
183483,2022-05,990070026,NaN,NaN,NaN,12921.12
183484,2022-05,990073090,NaN,NaN,NaN,26347.45
183485,2022-05,990073260,NaN,NaN,NaN,18590.15
183486,2022-05,990073437,NaN,NaN,NaN,16777.17
183487,2022-05,990074539,NaN,NaN,NaN,21881.40
183488,2022-05,990076814,NaN,NaN,NaN,14906.96
183489,2022-05,990077359,NaN,NaN,NaN,16556.52
183490,2022-05,990077407,NaN,NaN,NaN,18712.85
183491,2022-05,990079566,NaN,NaN,NaN,15264.63
183492,2022-05,990088468,NaN,NaN,NaN,26598.51
183493,2022-05,990090380,NaN,NaN,NaN,15594.21
183494,2022-05,990090431,NaN,NaN,NaN,44421.40
183495,2022-05,990092429,NaN,NaN,NaN,29676.28
183496,2022-05,990094934,NaN,NaN,NaN,98975.67
183497,2022-05,990095368,NaN,NaN,NaN,20877.18
183498,2022-05,990095589,NaN,NaN,NaN,26128.21
183499,2022-05,990096005,NaN,NaN,NaN,11524.24
183500,2022-05,990096716,NaN,NaN,NaN,12802.98
183501,2022-05,990096772,NaN,NaN,NaN,12289.22
183502,2022-05,990098573,NaN,NaN,NaN,24340.71
183503,2022-05,990098708,NaN,NaN,NaN,13764.02
183504,2022-05,990099164,NaN,NaN,NaN,28426.31
183505,2022-05,990100985,NaN,NaN,NaN,19027.39
183506,2022-05,990101427,NaN,NaN,NaN,24017.95
183507,2022-06,600012924,NaN,NaN,NaN,46118.02
183508,2022-06,600015520,NaN,NaN,NaN,10631.34
183509,2022-06,600038039,NaN,NaN,NaN,5219.55
183510,2022-06,600085161,NaN,NaN,NaN,7647.52
183511,2022-06,600096420,NaN,NaN,NaN,7529.98
183512,2022-06,600099848,NaN,NaN,NaN,26804.10
183513,2022-06,600099871,NaN,NaN,NaN,21903.15
183514,2022-06,600104624,NaN,NaN,NaN,23702.01
183515,2022-06,600132704,NaN,NaN,NaN,9421.40
183516,2022-06,600137986,NaN,NaN,NaN,26671.76
183517,2022-06,600146730,NaN,NaN,NaN,11110.56
183518,2022-06,600158099,NaN,NaN,NaN,22210.73
183519,2022-06,600175923,NaN,NaN,NaN,17443.17
183520,2022-06,600176447,NaN,NaN,NaN,11381.67
183521,2022-06,600178593,NaN,NaN,NaN,7033.83
183522,2022-06,600188855,NaN,NaN,NaN,44580.34
183523,2022-06,600194317,NaN,NaN,NaN,8260.97
183524,2022-06,600203044,NaN,NaN,NaN,18244.19
183525,2022-06,600203527,NaN,NaN,NaN,10330.85
183526,2022-06,600212309,NaN,NaN,NaN,12555.06
183527,2022-06,600213610,NaN,NaN,NaN,3874.61
183528,2022-06,600216930,NaN,NaN,NaN,52050.94
183529,2022-06,600221102,NaN,NaN,NaN,14957.25
183530,2022-06,600226422,NaN,NaN,NaN,10021.15
183531,2022-06,600228411,NaN,NaN,NaN,22443.39
183532,2022-06,600228937,NaN,NaN,NaN,44708.52
183533,2022-06,600230836,NaN,NaN,NaN,10273.46
183534,2022-06,600233919,NaN,NaN,NaN,10890.60
183535,2022-06,600234238,NaN,NaN,NaN,20562.19
183536,2022-06,600235046,NaN,NaN,NaN,47069.94
183537,2022-06,600235517,NaN,NaN,NaN,17124.97
183538,2022-06,600235797,NaN,NaN,NaN,17985.82
183539,2022-06,600246004,NaN,NaN,NaN,13149.66
183540,2022-06,600246739,NaN,NaN,NaN,8065.49
183541,2022-06,600248514,NaN,NaN,NaN,5853.05
183542,2022-06,600249428,NaN,NaN,NaN,17445.03
183543,2022-06,600253350,NaN,NaN,NaN,35352.25
183544,2022-06,600255078,NaN,NaN,NaN,40177.05
183545,2022-06,600260283,NaN,NaN,NaN,20564.60
183546,2022-06,600260926,NaN,NaN,NaN,11640.81
183547,2022-06,600263339,NaN,NaN,NaN,10400.05
183548,2022-06,600264523,NaN,NaN,NaN,19576.10
183549,2022-06,600265440,NaN,NaN,NaN,14431.29
183550,2022-06,600265875,NaN,NaN,NaN,21262.50
183551,2022-06,600266038,NaN,NaN,NaN,15682.92
183552,2022-06,800032556,NaN,NaN,NaN,12504.08
183553,2022-06,990002359,NaN,NaN,NaN,24410.16
183554,2022-06,990004592,NaN,NaN,NaN,21617.46
183555,2022-06,990008019,NaN,NaN,NaN,22473.51
183556,2022-06,990015047,NaN,NaN,NaN,39210.11
183557,2022-06,990015515,NaN,NaN,NaN,35825.47
183558,2022-06,990021939,NaN,NaN,NaN,40827.43
183559,2022-06,990025575,NaN,NaN,NaN,14223.72
183560,2022-06,990027514,NaN,NaN,NaN,24665.49
183561,2022-06,990037807,NaN,NaN,NaN,14171.30
183562,2022-06,990054967,NaN,NaN,NaN,30243.35
183563,2022-06,990056353,NaN,NaN,NaN,9150.67
183564,2022-06,990056673,NaN,NaN,NaN,18056.54
183565,2022-06,990057369,NaN,NaN,NaN,44539.68
183566,2022-06,990060735,NaN,NaN,NaN,34192.35
183567,2022-06,990061132,NaN,NaN,NaN,39794.85
183568,2022-06,990065338,NaN,NaN,NaN,20024.76
183569,2022-06,990065791,NaN,NaN,NaN,12249.18
183570,2022-06,990068322,NaN,NaN,NaN,13778.35
183571,2022-06,990070026,NaN,NaN,NaN,12794.80
183572,2022-06,990073090,NaN,NaN,NaN,25914.24
183573,2022-06,990073260,NaN,NaN,NaN,18390.86
183574,2022-06,990073437,NaN,NaN,NaN,16625.25
183575,2022-06,990074539,NaN,NaN,NaN,21682.76
183576,2022-06,990076814,NaN,NaN,NaN,14666.56
183577,2022-06,990077359,NaN,NaN,NaN,16399.98
183578,2022-06,990077407,NaN,NaN,NaN,18518.32
183579,2022-06,990079566,NaN,NaN,NaN,15133.29
183580,2022-06,990088468,NaN,NaN,NaN,26204.44
183581,2022-06,990090380,NaN,NaN,NaN,15421.26
183582,2022-06,990090431,NaN,NaN,NaN,44032.83
183583,2022-06,990092429,NaN,NaN,NaN,29407.00
183584,2022-06,990094934,NaN,NaN,NaN,98054.59
183585,2022-06,990095368,NaN,NaN,NaN,20668.73
183586,2022-06,990095589,NaN,NaN,NaN,25923.92
183587,2022-06,990096772,NaN,NaN,NaN,12171.15
183588,2022-06,990098573,NaN,NaN,NaN,24116.85
183589,2022-06,990099164,NaN,NaN,NaN,28154.21
183590,2022-06,990100985,NaN,NaN,NaN,19027.39
183591,2022-06,990101868,NaN,NaN,NaN,26847.23
183592,2022-06,990103493,NaN,NaN,NaN,13887.23
183593,2022-06,990103795,NaN,NaN,NaN,22185.47
183594,2022-06,990103913,NaN,NaN,NaN,13034.79
183595,2022-06,990104174,NaN,NaN,NaN,40629.97
183596,2022-06,990104238,NaN,NaN,NaN,17771.44
183597,2022-06,990104239,NaN,NaN,NaN,13582.30
183598,2022-06,990104367,NaN,NaN,NaN,21920.60
183599,2022-06,990104831,NaN,NaN,NaN,38644.40
183600,2022-06,990104992,NaN,NaN,NaN,11178.10
183601,2022-06,990105881,NaN,NaN,NaN,11382.56
183602,2022-07,600012924,NaN,NaN,NaN,45673.11
183603,2022-07,600015520,NaN,NaN,NaN,10477.50
183604,2022-07,600038039,NaN,NaN,NaN,4972.34
183605,2022-07,600080148,NaN,NaN,NaN,7155.69
183606,2022-07,600085161,NaN,NaN,NaN,7250.55
183607,2022-07,600096420,NaN,NaN,NaN,7065.24
183608,2022-07,600099848,NaN,NaN,NaN,26067.33
183609,2022-07,600099871,NaN,NaN,NaN,21542.16
183610,2022-07,600104624,NaN,NaN,NaN,23683.16
183611,2022-07,600132704,NaN,NaN,NaN,9421.40
183612,2022-07,600137986,NaN,NaN,NaN,26646.19
183613,2022-07,600146730,NaN,NaN,NaN,10905.00
183614,2022-07,600158099,NaN,NaN,NaN,21970.64
183615,2022-07,600175923,NaN,NaN,NaN,16689.88
183616,2022-07,600176447,NaN,NaN,NaN,11163.15
183617,2022-07,600178593,NaN,NaN,NaN,6801.94
183618,2022-07,600188855,NaN,NaN,NaN,44111.63
183619,2022-07,600194317,NaN,NaN,NaN,8011.11
183620,2022-07,600203044,NaN,NaN,NaN,17523.28
183621,2022-07,600203527,NaN,NaN,NaN,9806.99
183622,2022-07,600212309,NaN,NaN,NaN,12146.54
183623,2022-07,600213610,NaN,NaN,NaN,3874.61
183624,2022-07,600216930,NaN,NaN,NaN,51932.59
183625,2022-07,600221102,NaN,NaN,NaN,14738.84
183626,2022-07,600226422,NaN,NaN,NaN,10008.27
183627,2022-07,600228411,NaN,NaN,NaN,22392.15
183628,2022-07,600228937,NaN,NaN,NaN,43970.45
183629,2022-07,600230836,NaN,NaN,NaN,10128.63
183630,2022-07,600233887,NaN,NaN,NaN,12326.38
183631,2022-07,600233919,NaN,NaN,NaN,10719.45
183632,2022-07,600234238,NaN,NaN,NaN,20562.19
183633,2022-07,600235046,NaN,NaN,NaN,46489.19
183634,2022-07,600235517,NaN,NaN,NaN,16809.34
183635,2022-07,600235797,NaN,NaN,NaN,17614.11
183636,2022-07,600236930,NaN,NaN,NaN,12698.53
183637,2022-07,600246004,NaN,NaN,NaN,12891.72
183638,2022-07,600248514,NaN,NaN,NaN,5647.59
183639,2022-07,600249428,NaN,NaN,NaN,17214.61
183640,2022-07,600253350,NaN,NaN,NaN,34922.09
183641,2022-07,600255078,NaN,NaN,NaN,39618.19
183642,2022-07,600260926,NaN,NaN,NaN,11482.90
183643,2022-07,600263339,NaN,NaN,NaN,10251.36
183644,2022-07,600264523,NaN,NaN,NaN,19261.78

In [42]:
SALDOS_ACT.describe()

,CLIENTE,SALDO_TDC_UM,SALDO_CONS_UM,SALDO_HIPO_UM,SALDO_AUTO_UM
count,1.836990e+05,145544.000000,3.030800e+04,3.323600e+04,12977.000000
mean,6.248359e+08,8029.159380,3.341036e+04,1.411951e+05,20601.222849
std,1.000653e+08,10026.331518,6.388472e+04,1.329592e+05,14371.518105
min,1.420000e+02,0.010000,5.360000e+00,1.885100e+02,0.310000
25%,6.001016e+08,1425.417500,7.231283e+03,5.983991e+04,11168.110000
50%,6.001796e+08,4113.865000,1.626125e+04,1.012179e+05,17186.230000
75%,6.002172e+08,10433.462500,3.336836e+04,1.710934e+05,26026.770000
max,9.901064e+08,152914.720000,1.800000e+06,1.046325e+06,158921.030000

In [43]:
date_format = '%Y-%m'
SALDOS_ACT['mes'] = SALDOS_ACT['mes'].apply(lambda x: datetime.strptime(str(x),date_format).date())
SALDOS_ACT['mes'] = SALDOS_ACT['mes'] + relativedelta(months=1)
SALDOS_ACT['mes'] = SALDOS_ACT['mes'].astype(str)
SALDOS_ACT['mes_inicio'] = SALDOS_ACT.mes

del SALDOS_ACT['mes']

In [44]:
SALDOS_ACT

,CLIENTE,SALDO_TDC_UM,SALDO_CONS_UM,SALDO_HIPO_UM,SALDO_AUTO_UM,mes_inicio
0,142,6565.65,NaN,NaN,NaN,2017-02-01
1,14052,168.32,NaN,NaN,NaN,2017-02-01
2,31180,8577.72,NaN,487657.23,NaN,2017-02-01
3,2227129,1634.57,NaN,NaN,NaN,2017-02-01
4,200111260,1823.68,134167.98,222560.41,NaN,2017-02-01
5,200194137,2744.41,NaN,NaN,NaN,2017-02-01
6,200202823,1880.21,NaN,NaN,NaN,2017-02-01
7,201421604,4761.38,NaN,NaN,NaN,2017-02-01
8,201442214,17036.09,775000.00,NaN,NaN,2017-02-01
9,201476823,704.69,105871.60,176195.97,NaN,2017-02-01
10,201604443,7277.71,NaN,NaN,NaN,2017-02-01
11,201894919,18090.66,NaN,NaN,NaN,2017-02-01
12,201955981,2904.09,NaN,NaN,NaN,2017-02-01
13,202347274,11323.51,NaN,NaN,48399.70,2017-02-01
14,202909805,380.21,NaN,NaN,NaN,2017-02-01
15,204018404,348.54,NaN,NaN,NaN,2017-02-01
16,204473030,170.13,NaN,NaN,NaN,2017-02-01
17,205465792,8963.90,NaN,NaN,NaN,2017-02-01
18,600000008,15269.50,NaN,120268.50,NaN,2017-02-01
19,600000084,10032.68,NaN,NaN,NaN,2017-02-01
20,600000125,3107.18,NaN,NaN,16583.95,2017-02-01
21,600000358,27765.25,NaN,NaN,NaN,2017-02-01
22,600000430,1615.50,NaN,NaN,NaN,2017-02-01
23,600000692,26103.81,NaN,NaN,18665.87,2017-02-01
24,600000719,9762.68,NaN,NaN,3001.08,2017-02-01
25,600000750,139.62,NaN,NaN,NaN,2017-02-01
26,600000781,17219.77,NaN,NaN,NaN,2017-02-01
27,600001430,11371.23,NaN,NaN,NaN,2017-02-01
28,600001475,712.39,NaN,49219.47,10712.03,2017-02-01
29,600002203,1942.94,NaN,329734.67,28224.87,2017-02-01
30,600002311,2095.53,NaN,NaN,NaN,2017-02-01
31,600002337,8272.38,2210.36,NaN,NaN,2017-02-01
32,600002961,10596.85,25633.97,45992.23,NaN,2017-02-01
33,600003131,4592.49,NaN,NaN,40214.28,2017-02-01
34,600004082,7335.56,NaN,NaN,NaN,2017-02-01
35,600004097,11268.72,NaN,NaN,NaN,2017-02-01
36,600004150,17835.94,NaN,NaN,NaN,2017-02-01
37,600005403,265.96,NaN,NaN,NaN,2017-02-01
38,600005793,4299.48,NaN,NaN,NaN,2017-02-01
39,600006029,3749.19,23000.00,NaN,NaN,2017-02-01
40,600006262,6367.51,4920.28,NaN,NaN,2017-02-01
41,600006616,7355.22,NaN,NaN,NaN,2017-02-01
42,600006686,14136.16,NaN,152027.42,NaN,2017-02-01
43,600006916,2574.97,NaN,NaN,NaN,2017-02-01
44,600006927,22672.07,428818.96,105869.14,NaN,2017-02-01
45,600007221,1015.30,NaN,NaN,NaN,2017-02-01
46,600007564,154.72,NaN,335620.92,NaN,2017-02-01
47,600007675,15662.91,NaN,NaN,NaN,2017-02-01
48,600008002,19520.40,NaN,NaN,NaN,2017-02-01
49,600008016,12927.81,14594.40,161649.90,NaN,2017-02-01
50,600008020,2470.38,NaN,101727.49,18900.10,2017-02-01
51,600008035,7349.70,NaN,NaN,NaN,2017-02-01
52,600008198,1053.50,NaN,NaN,NaN,2017-02-01
53,600008285,41405.11,NaN,165631.52,NaN,2017-02-01
54,600008313,1339.62,NaN,NaN,NaN,2017-02-01
55,600008505,2711.95,NaN,NaN,NaN,2017-02-01
56,600008593,11604.47,58729.93,81070.53,NaN,2017-02-01
57,600008989,6236.61,NaN,NaN,NaN,2017-02-01
58,600009256,37458.58,NaN,125627.21,NaN,2017-02-01
59,600009658,1259.45,NaN,NaN,NaN,2017-02-01
60,600009695,23897.47,NaN,NaN,NaN,2017-02-01
61,600010003,12381.86,NaN,NaN,NaN,2017-02-01
62,600010012,5440.22,NaN,NaN,NaN,2017-02-01
63,600010053,16180.99,NaN,NaN,NaN,2017-02-01
64,600010095,14420.16,NaN,NaN,NaN,2017-02-01
65,600010295,385.58,NaN,NaN,NaN,2017-02-01
66,600010436,279.06,NaN,NaN,6860.56,2017-02-01
67,600010763,3907.95,NaN,691727.26,NaN,2017-02-01
68,600011103,676.32,NaN,NaN,NaN,2017-02-01
69,600011451,23843.84,NaN,NaN,NaN,2017-02-01
70,600011704,1450.80,NaN,NaN,NaN,2017-02-01
71,600011906,2075.99,NaN,155332.38,42898.05,2017-02-01
72,600012510,7093.57,NaN,NaN,NaN,2017-02-01
73,600012534,6.36,NaN,NaN,NaN,2017-02-01
74,600012806,702.48,59952.29,26299.32,NaN,2017-02-01
75,600012933,944.53,NaN,NaN,NaN,2017-02-01
76,600013158,5292.48,NaN,NaN,NaN,2017-02-01
77,600013268,3520.30,NaN,57608.04,NaN,2017-02-01
78,600013488,9782.87,32263.36,NaN,NaN,2017-02-01
79,600013503,12975.63,NaN,NaN,NaN,2017-02-01
80,600013563,18757.76,NaN,NaN,NaN,2017-02-01
81,600013866,4423.32,NaN,NaN,NaN,2017-02-01
82,600014188,314.07,NaN,NaN,NaN,2017-02-01
83,600014654,1775.71,NaN,NaN,NaN,2017-02-01
84,600014664,45.81,NaN,NaN,NaN,2017-02-01
85,600014964,8098.89,NaN,54471.39,13687.20,2017-02-01
86,600015087,2190.13,NaN,83884.28,NaN,2017-02-01
87,600015174,9104.37,NaN,97193.91,10020.37,2017-02-01
88,600015310,19632.79,26586.30,47517.54,NaN,2017-02-01
89,600015600,2613.12,50483.90,409867.70,NaN,2017-02-01
90,600015835,555.19,NaN,NaN,NaN,2017-02-01
91,600016118,2476.21,NaN,NaN,6913.38,2017-02-01
92,600016174,836.00,NaN,NaN,NaN,2017-02-01
93,600016301,13453.52,NaN,NaN,NaN,2017-02-01
94,600016465,5475.07,6710.80,NaN,NaN,2017-02-01
95,600016887,1650.00,NaN,NaN,NaN,2017-02-01
96,600017271,10467.65,NaN,NaN,NaN,2017-02-01
97,600017318,533.66,NaN,NaN,NaN,2017-02-01
98,600017356,2997.62,NaN,122877.51,NaN,2017-02-01
99,600017494,36928.59,NaN,NaN,NaN,2017-02-01
100,600017552,272.13,NaN,NaN,NaN,2017-02-01
101,600018138,29264.42,55045.07,72594.45,NaN,2017-02-01
102,600018218,749.62,NaN,NaN,NaN,2017-02-01
103,600018359,3008.42,NaN,NaN,8005.58,2017-02-01
104,600018664,7492.53,NaN,245182.47,15708.93,2017-02-01
105,600018751,544.44,NaN,NaN,NaN,2017-02-01
106,600019007,5956.23,NaN,NaN,NaN,2017-02-01
107,600019044,6632.59,NaN,NaN,NaN,2017-02-01
108,600019326,5.94,90000.00,NaN,NaN,2017-02-01
109,600019632,6211.11,NaN,NaN,NaN,2017-02-01
110,600020010,3340.63,NaN,38588.10,NaN,2017-02-01
111,600020626,4758.22,NaN,NaN,NaN,2017-02-01
112,600020632,2917.61,NaN,NaN,NaN,2017-02-01
113,600020836,1073.30,3287.43,NaN,NaN,2017-02-01
114,600020845,16499.69,NaN,NaN,NaN,2017-02-01
115,600021015,298.79,NaN,NaN,NaN,2017-02-01
116,600021180,19130.61,NaN,NaN,NaN,2017-02-01
117,600021249,939.47,NaN,84261.05,NaN,2017-02-01
118,600021256,1036.81,NaN,172207.69,NaN,2017-02-01
119,600021424,8908.70,NaN,NaN,4357.11,2017-02-01
120,600021573,2576.07,NaN,135824.51,NaN,2017-02-01
121,600021627,3182.93,23900.30,NaN,NaN,2017-02-01
122,600021771,2608.73,NaN,NaN,NaN,2017-02-01
123,600021824,2020.52,NaN,NaN,NaN,2017-02-01
124,600021861,2892.42,NaN,NaN,NaN,2017-02-01
125,600021964,1446.71,NaN,18344.33,NaN,2017-02-01
126,600022213,15138.74,NaN,NaN,NaN,2017-02-01
127,600022404,731.95,2157.14,NaN,NaN,2017-02-01
128,600022431,2244.35,NaN,38160.05,NaN,2017-02-01
129,600022600,1201.68,NaN,NaN,NaN,2017-02-01
130,600022827,23445.56,NaN,NaN,NaN,2017-02-01
131,600022947,12570.16,NaN,NaN,NaN,2017-02-01
132,600023001,2998.36,NaN,NaN,NaN,2017-02-01
133,600023027,16279.68,NaN,NaN,NaN,2017-02-01
134,600023444,6200.99,24215.32,219610.50,NaN,2017-02-01
135,600023459,5348.42,NaN,216333.10,NaN,2017-02-01
136,600023538,1140.15,NaN,NaN,NaN,2017-02-01
137,600023802,13390.69,2026.67,33526.13,NaN,2017-02-01
138,600023815,1634.26,NaN,NaN,NaN,2017-02-01
139,600023817,600.35,NaN,NaN,NaN,2017-02-01
140,600023860,1754.71,NaN,NaN,NaN,2017-02-01
141,600023894,1358.43,NaN,NaN,NaN,2017-02-01
142,600024644,2427.01,NaN,NaN,NaN,2017-02-01
143,600024868,2687.81,NaN,NaN,NaN,2017-02-01
144,600024905,47.74,NaN,NaN,NaN,2017-02-01
145,600025379,64.44,NaN,NaN,NaN,2017-02-01
146,600025554,1236.90,NaN,NaN,NaN,2017-02-01
147,600025772,1100.38,NaN,NaN,NaN,2017-02-01
148,600025830,569.02,3789.12,NaN,NaN,2017-02-01
149,600026265,770.69,NaN,NaN,NaN,2017-02-01
150,600026449,1372.14,NaN,NaN,NaN,2017-02-01
151,600026757,2041.65,NaN,NaN,NaN,2017-02-01
152,600027469,998.40,NaN,NaN,NaN,2017-02-01
153,600027493,4003.07,NaN,NaN,NaN,2017-02-01
154,600027599,3749.78,NaN,NaN,NaN,2017-02-01
155,600027955,2430.83,NaN,NaN,NaN,2017-02-01
156,600027981,411.79,NaN,NaN,NaN,2017-02-01
157,600027987,2272.95,NaN,NaN,NaN,2017-02-01
158,600028019,3455.30,NaN,NaN,NaN,2017-02-01
159,600028131,8925.28,NaN,NaN,NaN,2017-02-01
160,600028159,2929.45,NaN,NaN,NaN,2017-02-01
161,600028362,348.77,NaN,NaN,NaN,2017-02-01
162,600028774,3255.50,NaN,NaN,NaN,2017-02-01
163,600028934,12385.98,NaN,164347.90,NaN,2017-02-01
164,600029086,11677.12,67468.21,149951.36,NaN,2017-02-01
165,600029107,1557.56,NaN,NaN,NaN,2017-02-01
166,600029231,7752.15,NaN,NaN,NaN,2017-02-01
167,600029328,1006.71,82217.47,NaN,NaN,2017-02-01
168,600029353,17357.21,NaN,NaN,NaN,2017-02-01
169,600030021,7493.67,NaN,NaN,NaN,2017-02-01
170,600030194,1107.27,NaN,NaN,NaN,2017-02-01
171,600030451,16000.28,NaN,NaN,NaN,2017-02-01
172,600030712,8945.89,NaN,NaN,NaN,2017-02-01
173,600030858,405.42,NaN,NaN,NaN,2017-02-01
174,600031045,6481.94,NaN,NaN,NaN,2017-02-01
175,600031318,6771.76,NaN,NaN,NaN,2017-02-01
176,600031697,29673.03,NaN,NaN,NaN,2017-02-01
177,600031713,528.83,NaN,NaN,NaN,2017-02-01
178,600031844,25618.28,32295.03,17161.48,NaN,2017-02-01
179,600031931,3311.61,NaN,220125.17,18486.44,2017-02-01
180,600031968,2644.53,NaN,NaN,NaN,2017-02-01
181,600032580,6951.35,NaN,NaN,NaN,2017-02-01
182,600032686,3947.59,NaN,NaN,NaN,2017-02-01
183,600032703,594.28,NaN,NaN,NaN,2017-02-01
184,600032731,6732.13,NaN,NaN,NaN,2017-02-01
185,600032876,264.65,NaN,NaN,NaN,2017-02-01
186,600033003,23107.08,NaN,NaN,NaN,2017-02-01
187,600033202,7191.20,NaN,NaN,NaN,2017-02-01
188,600033211,691.95,NaN,NaN,NaN,2017-02-01
189,600033432,30662.97,23279.78,26450.21,9378.02,2017-02-01
190,600033573,4637.99,NaN,NaN,NaN,2017-02-01
191,600033660,1930.70,NaN,NaN,NaN,2017-02-01
192,600033874,27279.01,NaN,NaN,NaN,2017-02-01
193,600033929,2208.04,NaN,NaN,NaN,2017-02-01
194,600034105,320.79,NaN,NaN,NaN,2017-02-01
195,600034203,7920.44,NaN,NaN,NaN,2017-02-01
196,600034208,2036.76,NaN,NaN,NaN,2017-02-01
197,600034347,11165.08,NaN,NaN,NaN,2017-02-01
198,600034408,6067.78,NaN,NaN,NaN,2017-02-01
199,600034587,4855.29,NaN,NaN,NaN,2017-02-01
200,600034687,5959.94,NaN,NaN,NaN,2017-02-01
201,600034870,2204.25,NaN,51963.28,21303.75,2017-02-01
202,600035004,9086.32,NaN,NaN,NaN,2017-02-01
203,600035101,6058.89,77192.54,NaN,NaN,2017-02-01
204,600035294,48859.71,38000.00,NaN,NaN,2017-02-01
205,600035488,2471.24,NaN,NaN,NaN,2017-02-01
206,600035776,10993.06,NaN,NaN,NaN,2017-02-01
207,600035865,3472.91,NaN,NaN,NaN,2017-02-01
208,600035960,2040.08,16755.89,NaN,NaN,2017-02-01
209,600036118,2884.58,NaN,NaN,NaN,2017-02-01
210,600036125,3638.79,NaN,NaN,NaN,2017-02-01
211,600036650,241.46,NaN,NaN,NaN,2017-02-01
212,600036679,28779.34,NaN,NaN,NaN,2017-02-01
213,600036763,4952.23,NaN,NaN,NaN,2017-02-01
214,600036966,5009.84,NaN,NaN,NaN,2017-02-01
215,600037203,53126.74,NaN,NaN,NaN,2017-02-01
216,600037225,1742.42,288.69,NaN,NaN,2017-02-01
217,600037302,8471.35,NaN,NaN,NaN,2017-02-01
218,600037589,1669.99,NaN,NaN,NaN,2017-02-01
219,600037612,16204.45,NaN,NaN,NaN,2017-02-01
220,600037775,4613.22,NaN,NaN,NaN,2017-02-01
221,600037910,1491.95,1372.89,NaN,NaN,2017-02-01
222,600038039,156.72,221.45,NaN,18469.25,2017-02-01
223,600038087,6277.75,NaN,NaN,NaN,2017-02-01
224,600038315,30348.77,9331.45,106469.19,NaN,2017-02-01
225,600038619,374.11,NaN,NaN,NaN,2017-02-01
226,600038639,7411.91,NaN,217400.92,NaN,2017-02-01
227,600039058,14993.22,NaN,NaN,NaN,2017-02-01
228,600039128,20321.81,NaN,NaN,NaN,2017-02-01
229,600039175,2724.88,NaN,NaN,21712.01,2017-02-01
230,600039194,433.58,NaN,NaN,NaN,2017-02-01
231,600039234,2339.44,NaN,NaN,NaN,2017-02-01
232,600039310,5805.86,NaN,NaN,NaN,2017-02-01
233,600039405,404.89,NaN,NaN,NaN,2017-02-01
234,600039438,597.48,NaN,NaN,NaN,2017-02-01
235,600039534,5613.30,NaN,NaN,NaN,2017-02-01
236,600039591,2594.37,NaN,NaN,NaN,2017-02-01
237,600039641,345.87,NaN,NaN,NaN,2017-02-01
238,600039648,2940.44,3808.65,NaN,NaN,2017-02-01
239,600039796,10223.74,NaN,NaN,NaN,2017-02-01
240,600039879,786.45,NaN,38911.39,NaN,2017-02-01
241,600039915,599.24,NaN,NaN,NaN,2017-02-01
242,600039941,11466.16,NaN,NaN,NaN,2017-02-01
243,600040087,9253.29,25033.77,NaN,NaN,2017-02-01
244,600040100,36076.97,NaN,NaN,9497.37,2017-02-01
245,600040245,11083.90,NaN,NaN,NaN,2017-02-01
246,600040310,2030.10,NaN,NaN,NaN,2017-02-01
247,600040722,2888.41,NaN,NaN,NaN,2017-02-01
248,600040767,1688.06,NaN,NaN,NaN,2017-02-01
249,600040905,28479.19,NaN,65969.88,NaN,2017-02-01
...,...,...,...,...,...,...
183449,600233919,NaN,NaN,NaN,11057.85,2022-06-01
183450,600234238,NaN,NaN,NaN,20562.19,2022-06-01
183451,600235046,NaN,NaN,NaN,47635.43,2022-06-01
183452,600235517,NaN,NaN,NaN,17435.03,2022-06-01
183453,600235797,NaN,NaN,NaN,18351.42,2022-06-01
183454,600246004,NaN,NaN,NaN,13403.23,2022-06-01
183455,600248514,NaN,NaN,NaN,6055.90,2022-06-01
183456,600249428,NaN,NaN,NaN,17670.70,2022-06-01
183457,600253350,NaN,NaN,NaN,35773.34,2022-06-01
183458,600255078,NaN,NaN,NaN,40724.95,2022-06-01
183459,600260926,NaN,NaN,NaN,11795.64,2022-06-01
183460,600263339,NaN,NaN,NaN,10545.74,2022-06-01
183461,600264523,NaN,NaN,NaN,19884.83,2022-06-01
183462,600265440,NaN,NaN,NaN,14629.30,2022-06-01
183463,600265875,NaN,NaN,NaN,21279.96,2022-06-01
183464,600266038,NaN,NaN,NaN,16046.28,2022-06-01
183465,990002359,NaN,NaN,NaN,25373.81,2022-06-01
183466,990004592,NaN,NaN,NaN,21925.67,2022-06-01
183467,990008019,NaN,NaN,NaN,23441.82,2022-06-01
183468,990015047,NaN,NaN,NaN,39621.06,2022-06-01
183469,990015515,NaN,NaN,NaN,18210.72,2022-06-01
183470,990021939,NaN,NaN,NaN,41828.93,2022-06-01
183471,990022424,NaN,NaN,NaN,66957.79,2022-06-01
183472,990025575,NaN,NaN,NaN,14413.61,2022-06-01
183473,990037807,NaN,NaN,NaN,14381.94,2022-06-01
183474,990054154,NaN,NaN,NaN,35367.53,2022-06-01
183475,990056673,NaN,NaN,NaN,18212.12,2022-06-01
183476,990057369,NaN,NaN,NaN,45352.79,2022-06-01
183477,990060735,NaN,NaN,NaN,34527.00,2022-06-01
183478,990061132,NaN,NaN,NaN,40381.00,2022-06-01
183479,990061513,NaN,NaN,NaN,62253.32,2022-06-01
183480,990065791,NaN,NaN,NaN,12378.04,2022-06-01
183481,990066154,NaN,NaN,NaN,60582.47,2022-06-01
183482,990068322,NaN,NaN,NaN,13933.38,2022-06-01
183483,990070026,NaN,NaN,NaN,12921.12,2022-06-01
183484,990073090,NaN,NaN,NaN,26347.45,2022-06-01
183485,990073260,NaN,NaN,NaN,18590.15,2022-06-01
183486,990073437,NaN,NaN,NaN,16777.17,2022-06-01
183487,990074539,NaN,NaN,NaN,21881.40,2022-06-01
183488,990076814,NaN,NaN,NaN,14906.96,2022-06-01
183489,990077359,NaN,NaN,NaN,16556.52,2022-06-01
183490,990077407,NaN,NaN,NaN,18712.85,2022-06-01
183491,990079566,NaN,NaN,NaN,15264.63,2022-06-01
183492,990088468,NaN,NaN,NaN,26598.51,2022-06-01
183493,990090380,NaN,NaN,NaN,15594.21,2022-06-01
183494,990090431,NaN,NaN,NaN,44421.40,2022-06-01
183495,990092429,NaN,NaN,NaN,29676.28,2022-06-01
183496,990094934,NaN,NaN,NaN,98975.67,2022-06-01
183497,990095368,NaN,NaN,NaN,20877.18,2022-06-01
183498,990095589,NaN,NaN,NaN,26128.21,2022-06-01
183499,990096005,NaN,NaN,NaN,11524.24,2022-06-01
183500,990096716,NaN,NaN,NaN,12802.98,2022-06-01
183501,990096772,NaN,NaN,NaN,12289.22,2022-06-01
183502,990098573,NaN,NaN,NaN,24340.71,2022-06-01
183503,990098708,NaN,NaN,NaN,13764.02,2022-06-01
183504,990099164,NaN,NaN,NaN,28426.31,2022-06-01
183505,990100985,NaN,NaN,NaN,19027.39,2022-06-01
183506,990101427,NaN,NaN,NaN,24017.95,2022-06-01
183507,600012924,NaN,NaN,NaN,46118.02,2022-07-01
183508,600015520,NaN,NaN,NaN,10631.34,2022-07-01
183509,600038039,NaN,NaN,NaN,5219.55,2022-07-01
183510,600085161,NaN,NaN,NaN,7647.52,2022-07-01
183511,600096420,NaN,NaN,NaN,7529.98,2022-07-01
183512,600099848,NaN,NaN,NaN,26804.10,2022-07-01
183513,600099871,NaN,NaN,NaN,21903.15,2022-07-01
183514,600104624,NaN,NaN,NaN,23702.01,2022-07-01
183515,600132704,NaN,NaN,NaN,9421.40,2022-07-01
183516,600137986,NaN,NaN,NaN,26671.76,2022-07-01
183517,600146730,NaN,NaN,NaN,11110.56,2022-07-01
183518,600158099,NaN,NaN,NaN,22210.73,2022-07-01
183519,600175923,NaN,NaN,NaN,17443.17,2022-07-01
183520,600176447,NaN,NaN,NaN,11381.67,2022-07-01
183521,600178593,NaN,NaN,NaN,7033.83,2022-07-01
183522,600188855,NaN,NaN,NaN,44580.34,2022-07-01
183523,600194317,NaN,NaN,NaN,8260.97,2022-07-01
183524,600203044,NaN,NaN,NaN,18244.19,2022-07-01
183525,600203527,NaN,NaN,NaN,10330.85,2022-07-01
183526,600212309,NaN,NaN,NaN,12555.06,2022-07-01
183527,600213610,NaN,NaN,NaN,3874.61,2022-07-01
183528,600216930,NaN,NaN,NaN,52050.94,2022-07-01
183529,600221102,NaN,NaN,NaN,14957.25,2022-07-01
183530,600226422,NaN,NaN,NaN,10021.15,2022-07-01
183531,600228411,NaN,NaN,NaN,22443.39,2022-07-01
183532,600228937,NaN,NaN,NaN,44708.52,2022-07-01
183533,600230836,NaN,NaN,NaN,10273.46,2022-07-01
183534,600233919,NaN,NaN,NaN,10890.60,2022-07-01
183535,600234238,NaN,NaN,NaN,20562.19,2022-07-01
183536,600235046,NaN,NaN,NaN,47069.94,2022-07-01
183537,600235517,NaN,NaN,NaN,17124.97,2022-07-01
183538,600235797,NaN,NaN,NaN,17985.82,2022-07-01
183539,600246004,NaN,NaN,NaN,13149.66,2022-07-01
183540,600246739,NaN,NaN,NaN,8065.49,2022-07-01
183541,600248514,NaN,NaN,NaN,5853.05,2022-07-01
183542,600249428,NaN,NaN,NaN,17445.03,2022-07-01
183543,600253350,NaN,NaN,NaN,35352.25,2022-07-01
183544,600255078,NaN,NaN,NaN,40177.05,2022-07-01
183545,600260283,NaN,NaN,NaN,20564.60,2022-07-01
183546,600260926,NaN,NaN,NaN,11640.81,2022-07-01
183547,600263339,NaN,NaN,NaN,10400.05,2022-07-01
183548,600264523,NaN,NaN,NaN,19576.10,2022-07-01
183549,600265440,NaN,NaN,NaN,14431.29,2022-07-01
183550,600265875,NaN,NaN,NaN,21262.50,2022-07-01
183551,600266038,NaN,NaN,NaN,15682.92,2022-07-01
183552,800032556,NaN,NaN,NaN,12504.08,2022-07-01
183553,990002359,NaN,NaN,NaN,24410.16,2022-07-01
183554,990004592,NaN,NaN,NaN,21617.46,2022-07-01
183555,990008019,NaN,NaN,NaN,22473.51,2022-07-01
183556,990015047,NaN,NaN,NaN,39210.11,2022-07-01
183557,990015515,NaN,NaN,NaN,35825.47,2022-07-01
183558,990021939,NaN,NaN,NaN,40827.43,2022-07-01
183559,990025575,NaN,NaN,NaN,14223.72,2022-07-01
183560,990027514,NaN,NaN,NaN,24665.49,2022-07-01
183561,990037807,NaN,NaN,NaN,14171.30,2022-07-01
183562,990054967,NaN,NaN,NaN,30243.35,2022-07-01
183563,990056353,NaN,NaN,NaN,9150.67,2022-07-01
183564,990056673,NaN,NaN,NaN,18056.54,2022-07-01
183565,990057369,NaN,NaN,NaN,44539.68,2022-07-01
183566,990060735,NaN,NaN,NaN,34192.35,2022-07-01
183567,990061132,NaN,NaN,NaN,39794.85,2022-07-01
183568,990065338,NaN,NaN,NaN,20024.76,2022-07-01
183569,990065791,NaN,NaN,NaN,12249.18,2022-07-01
183570,990068322,NaN,NaN,NaN,13778.35,2022-07-01
183571,990070026,NaN,NaN,NaN,12794.80,2022-07-01
183572,990073090,NaN,NaN,NaN,25914.24,2022-07-01
183573,990073260,NaN,NaN,NaN,18390.86,2022-07-01
183574,990073437,NaN,NaN,NaN,16625.25,2022-07-01
183575,990074539,NaN,NaN,NaN,21682.76,2022-07-01
183576,990076814,NaN,NaN,NaN,14666.56,2022-07-01
183577,990077359,NaN,NaN,NaN,16399.98,2022-07-01
183578,990077407,NaN,NaN,NaN,18518.32,2022-07-01
183579,990079566,NaN,NaN,NaN,15133.29,2022-07-01
183580,990088468,NaN,NaN,NaN,26204.44,2022-07-01
183581,990090380,NaN,NaN,NaN,15421.26,2022-07-01
183582,990090431,NaN,NaN,NaN,44032.83,2022-07-01
183583,990092429,NaN,NaN,NaN,29407.00,2022-07-01
183584,990094934,NaN,NaN,NaN,98054.59,2022-07-01
183585,990095368,NaN,NaN,NaN,20668.73,2022-07-01
183586,990095589,NaN,NaN,NaN,25923.92,2022-07-01
183587,990096772,NaN,NaN,NaN,12171.15,2022-07-01
183588,990098573,NaN,NaN,NaN,24116.85,2022-07-01
183589,990099164,NaN,NaN,NaN,28154.21,2022-07-01
183590,990100985,NaN,NaN,NaN,19027.39,2022-07-01
183591,990101868,NaN,NaN,NaN,26847.23,2022-07-01
183592,990103493,NaN,NaN,NaN,13887.23,2022-07-01
183593,990103795,NaN,NaN,NaN,22185.47,2022-07-01
183594,990103913,NaN,NaN,NaN,13034.79,2022-07-01
183595,990104174,NaN,NaN,NaN,40629.97,2022-07-01
183596,990104238,NaN,NaN,NaN,17771.44,2022-07-01
183597,990104239,NaN,NaN,NaN,13582.30,2022-07-01
183598,990104367,NaN,NaN,NaN,21920.60,2022-07-01
183599,990104831,NaN,NaN,NaN,38644.40,2022-07-01
183600,990104992,NaN,NaN,NaN,11178.10,2022-07-01
183601,990105881,NaN,NaN,NaN,11382.56,2022-07-01
183602,600012924,NaN,NaN,NaN,45673.11,2022-08-01
183603,600015520,NaN,NaN,NaN,10477.50,2022-08-01
183604,600038039,NaN,NaN,NaN,4972.34,2022-08-01
183605,600080148,NaN,NaN,NaN,7155.69,2022-08-01
183606,600085161,NaN,NaN,NaN,7250.55,2022-08-01
183607,600096420,NaN,NaN,NaN,7065.24,2022-08-01
183608,600099848,NaN,NaN,NaN,26067.33,2022-08-01
183609,600099871,NaN,NaN,NaN,21542.16,2022-08-01
183610,600104624,NaN,NaN,NaN,23683.16,2022-08-01
183611,600132704,NaN,NaN,NaN,9421.40,2022-08-01
183612,600137986,NaN,NaN,NaN,26646.19,2022-08-01
183613,600146730,NaN,NaN,NaN,10905.00,2022-08-01
183614,600158099,NaN,NaN,NaN,21970.64,2022-08-01
183615,600175923,NaN,NaN,NaN,16689.88,2022-08-01
183616,600176447,NaN,NaN,NaN,11163.15,2022-08-01

In [45]:
base_objetivo_saldos = base_objetivo_s.merge(SALDOS_ACT, how= 'left', on = ['mes_inicio','CLIENTE'])

In [46]:
base_objetivo_saldos.drop_duplicates(subset=['CLIENTE'])

,CLIENTE,mes_inicio,SALDO_PAS_UM,SALDO_TDC_UM,SALDO_CONS_UM,SALDO_HIPO_UM,SALDO_AUTO_UM
0,14052,2019-03-01,NaN,1806.87,NaN,NaN,NaN
1,200111260,2018-05-01,5.176583e+05,4173.95,130027.61,212845.43,NaN
2,200194137,2018-01-01,NaN,9101.25,NaN,NaN,NaN
4,200202823,2017-06-01,6.415601e+04,103.21,NaN,NaN,NaN
8,201421604,2018-06-01,2.736780e+05,12111.35,NaN,951855.85,NaN
10,201442214,2020-06-01,2.818773e+04,11614.25,NaN,NaN,NaN
11,201476823,2019-12-01,2.178684e+05,NaN,48733.01,164153.45,NaN
13,201604443,2018-10-01,3.175138e+06,9845.44,NaN,NaN,NaN
16,201894919,2017-01-01,NaN,NaN,NaN,NaN,NaN
22,201955981,2018-01-01,3.517331e+04,5179.30,NaN,279182.61,25923.03
26,202268555,2021-10-01,1.076789e+06,NaN,NaN,NaN,NaN
27,202815936,2017-06-01,2.075621e+04,4997.29,NaN,NaN,NaN
29,202909805,2017-01-01,NaN,NaN,NaN,NaN,NaN
31,203471210,2020-06-01,1.073734e+05,NaN,NaN,NaN,NaN
33,204018404,2018-03-01,8.328037e+04,414.77,NaN,NaN,NaN
35,205465792,2017-06-01,2.201590e+03,9399.16,NaN,NaN,NaN
38,300090017,2022-02-01,1.941336e+04,NaN,NaN,NaN,NaN
39,300090043,2021-10-01,NaN,NaN,NaN,NaN,NaN
40,300090374,2021-10-01,NaN,NaN,NaN,NaN,NaN
41,300090418,2022-07-01,7.194230e+03,NaN,NaN,NaN,NaN
42,300090501,2021-10-01,NaN,NaN,NaN,NaN,NaN
43,541570949,2018-05-01,2.826688e+04,NaN,NaN,NaN,NaN
44,600000083,2016-12-01,NaN,NaN,NaN,NaN,NaN
47,600000344,2018-06-01,1.227687e+04,NaN,NaN,NaN,NaN
49,600000391,2017-11-01,NaN,NaN,NaN,NaN,NaN
51,600000430,2017-04-01,NaN,1494.25,NaN,NaN,NaN
52,600000692,2019-05-01,5.671600e+02,34696.50,NaN,NaN,7984.96
53,600000719,2019-04-01,2.486590e+03,11950.86,NaN,NaN,NaN
54,600000750,2017-04-01,1.523760e+03,NaN,NaN,NaN,NaN
57,600001014,2017-03-01,1.607640e+03,NaN,NaN,NaN,NaN
58,600001308,2017-02-01,1.839550e+03,NaN,2762.96,36601.76,NaN
61,600001430,2021-05-01,NaN,17226.20,NaN,NaN,NaN
62,600001475,2018-12-01,2.755172e+04,906.35,NaN,46594.42,23586.14
63,600001953,2017-02-01,1.740000e+00,NaN,4083.63,NaN,NaN
65,600001987,2019-05-01,NaN,NaN,NaN,NaN,NaN
66,600002203,2019-08-01,2.498327e+04,10650.23,NaN,317441.33,NaN
67,600002213,2018-03-01,8.089200e+02,NaN,NaN,52969.38,NaN
68,600002311,2019-03-01,2.620000e+00,2979.99,NaN,NaN,NaN
71,600002337,2016-12-01,NaN,NaN,NaN,NaN,NaN
77,600002493,2019-03-01,2.920000e+00,NaN,NaN,NaN,NaN
78,600002522,2017-02-01,NaN,NaN,NaN,NaN,NaN
80,600002751,2017-08-01,7.700000e-01,NaN,NaN,NaN,NaN
82,600002961,2019-07-01,5.764100e+02,24575.98,24465.31,43788.63,NaN
83,600003539,2018-05-01,7.427800e+02,NaN,NaN,NaN,NaN
85,600004097,2016-12-01,NaN,NaN,NaN,NaN,NaN
89,600004144,2022-07-01,1.258210e+03,NaN,NaN,NaN,NaN
90,600004150,2017-02-01,NaN,17835.94,NaN,NaN,NaN
92,600004770,2021-07-01,4.167406e+05,NaN,NaN,NaN,NaN
93,600004922,2017-03-01,1.794333e+05,NaN,65132.00,NaN,NaN
98,600004997,2022-04-01,1.873930e+03,NaN,NaN,NaN,NaN
99,600005403,2019-07-01,8.311539e+05,NaN,NaN,NaN,NaN
101,600005720,2022-04-01,3.061800e+03,NaN,NaN,NaN,NaN
102,600006029,2019-02-01,5.637777e+04,8214.45,14670.00,179255.92,NaN
105,600006262,2017-06-01,1.052213e+04,1669.29,NaN,NaN,NaN
107,600006616,2017-04-01,NaN,6920.56,NaN,NaN,NaN
109,600006892,2019-03-01,8.225430e+03,NaN,NaN,NaN,NaN
112,600006916,2017-03-01,6.689900e+02,722.78,NaN,NaN,NaN
113,600006982,2018-06-01,NaN,NaN,NaN,NaN,NaN
115,600007221,2017-06-01,NaN,970.06,NaN,NaN,NaN
118,600007360,2018-06-01,5.404200e+02,NaN,NaN,NaN,NaN
120,600007675,2021-03-01,NaN,20636.07,NaN,NaN,NaN
121,600007691,2017-03-01,1.836000e+01,NaN,2225.42,NaN,NaN
124,600007718,2021-08-01,1.033564e+04,4546.67,NaN,NaN,NaN
125,600007740,2017-03-01,1.408600e+02,NaN,NaN,NaN,NaN
126,600007990,2018-04-01,1.085710e+06,NaN,NaN,NaN,NaN
129,600008016,2018-02-01,3.417450e+03,18116.91,NaN,151782.29,34915.32
132,600008020,2018-11-01,2.860390e+03,NaN,NaN,97814.94,12211.62
133,600008035,2018-06-01,7.700150e+03,15726.58,NaN,NaN,NaN
134,600008130,2017-11-01,2.192530e+03,NaN,NaN,NaN,NaN
135,600008285,2018-11-01,NaN,62091.39,NaN,165096.26,NaN
136,600008313,2022-07-01,5.037707e+05,1173.93,NaN,NaN,NaN
137,600008505,2021-06-01,NaN,4293.62,NaN,NaN,NaN
138,600008507,2017-06-01,NaN,NaN,NaN,47954.18,NaN
140,600008593,2016-12-01,NaN,NaN,NaN,NaN,NaN
143,600008989,2021-05-01,NaN,12621.62,NaN,NaN,NaN
144,600009695,2017-03-01,8.532030e+03,23203.99,NaN,NaN,NaN
146,600010003,2017-06-01,5.331800e+02,12244.21,NaN,NaN,NaN
149,600010012,2019-08-01,4.395300e+03,1000.46,NaN,NaN,NaN
150,600010095,2018-08-01,7.476000e+01,13822.33,NaN,NaN,NaN
151,600010436,2017-11-01,4.303910e+03,501.42,NaN,NaN,NaN
152,600010763,2016-12-01,NaN,NaN,NaN,NaN,NaN
153,600011451,2019-04-01,3.029950e+04,10933.94,NaN,NaN,NaN
155,600011645,2017-08-01,2.136437e+04,NaN,NaN,NaN,NaN
156,600011704,2020-05-01,1.000000e-02,NaN,NaN,NaN,NaN
157,600011906,2021-01-01,6.789218e+05,4768.38,NaN,NaN,NaN
158,600012112,2021-06-01,NaN,NaN,NaN,NaN,NaN
159,600012534,2017-03-01,NaN,NaN,NaN,NaN,NaN
160,600012849,2017-09-01,1.800000e-01,NaN,NaN,NaN,NaN
162,600013268,2021-04-01,1.390400e+02,7593.45,NaN,52369.56,NaN
163,600013461,2021-05-01,NaN,NaN,NaN,37158.25,NaN
164,600013488,2017-06-01,1.964695e+04,NaN,30852.41,NaN,NaN
167,600013495,2017-02-01,4.028070e+03,NaN,NaN,NaN,NaN
168,600013503,2017-10-01,2.034760e+04,9343.51,NaN,NaN,NaN
170,600013563,2017-01-01,NaN,NaN,NaN,NaN,NaN
174,600013866,2017-02-01,2.481500e+02,4423.32,NaN,NaN,NaN
176,600014654,2017-10-01,NaN,1441.73,NaN,NaN,NaN
178,600014655,2021-03-01,1.581238e+05,NaN,NaN,NaN,NaN
179,600014964,2021-12-01,2.618400e+02,NaN,NaN,NaN,6151.40
180,600015087,2021-12-01,NaN,2923.65,NaN,80304.60,NaN
181,600015285,2017-11-01,4.591346e+04,NaN,NaN,NaN,NaN
182,600015310,2018-04-01,5.014000e+01,19473.09,26188.69,46719.55,NaN
185,600015520,2018-03-01,8.093558e+04,NaN,NaN,NaN,NaN
186,600015600,2018-06-01,1.117180e+06,17630.10,38514.00,397122.86,34177.98
192,600016109,2017-10-01,5.516672e+05,NaN,NaN,NaN,NaN
193,600016118,2018-07-01,2.838600e+02,1846.29,NaN,NaN,4856.92
194,600016174,2016-12-01,NaN,NaN,NaN,NaN,NaN
195,600016393,2020-03-01,1.427000e+02,NaN,NaN,NaN,NaN
196,600016465,2021-11-01,NaN,7481.95,NaN,NaN,NaN
197,600016653,2017-09-01,NaN,NaN,NaN,NaN,NaN
198,600016775,2018-08-01,1.299385e+05,NaN,NaN,NaN,34123.15
202,600017194,2020-05-01,NaN,NaN,NaN,NaN,NaN
203,600017246,2017-11-01,2.414499e+05,NaN,NaN,NaN,NaN
204,600017356,2017-02-01,5.049430e+03,2997.62,NaN,122877.51,NaN
207,600017494,2021-04-01,2.000000e-02,47871.74,NaN,NaN,NaN
210,600017807,2017-11-01,4.287500e+02,NaN,NaN,NaN,8360.26
212,600017931,2017-04-01,2.091737e+04,NaN,NaN,NaN,NaN
214,600018060,2020-03-01,NaN,3888.06,NaN,NaN,NaN
215,600018138,2017-06-01,4.545640e+03,29754.98,54761.99,72268.73,NaN
218,600018359,2019-08-01,6.365600e+02,4289.72,NaN,NaN,NaN
219,600018395,2017-02-01,8.001532e+04,NaN,NaN,NaN,21780.63
221,600018664,2021-05-01,2.480000e+00,317.15,NaN,NaN,NaN
222,600018666,2018-07-01,4.208300e+02,NaN,NaN,NaN,NaN
224,600018751,2021-09-01,1.301000e+01,10687.34,NaN,NaN,NaN
225,600019044,2020-01-01,1.681900e+02,13464.79,NaN,NaN,NaN
226,600019161,2017-02-01,1.119000e+01,NaN,NaN,NaN,NaN
228,600019326,2016-12-01,NaN,NaN,NaN,NaN,NaN
229,600020010,2019-11-01,1.099290e+03,1951.39,NaN,34986.24,NaN
231,600020836,2021-04-01,NaN,1739.13,NaN,NaN,NaN
233,600020845,2020-01-01,4.980000e+01,26921.33,NaN,NaN,NaN
234,600021015,2021-04-01,NaN,8472.80,NaN,NaN,NaN
236,600021252,2018-10-01,1.854189e+04,NaN,NaN,NaN,NaN
237,600021424,2021-04-01,NaN,7705.30,NaN,NaN,NaN
238,600021573,2021-05-01,6.318100e+02,6715.19,NaN,130700.27,NaN
240,600021627,2019-02-01,1.129718e+05,11359.76,14266.03,215363.51,NaN
242,600021780,2020-02-01,NaN,NaN,NaN,NaN,NaN
243,600021824,2017-11-01,8.340000e+00,2288.13,NaN,NaN,NaN
245,600021861,2021-10-01,NaN,4407.00,NaN,NaN,NaN
246,600021903,2017-03-01,4.256670e+03,NaN,NaN,NaN,NaN
248,600022126,2017-04-01,9.094000e+01,NaN,NaN,NaN,NaN
251,600022213,2019-09-01,NaN,18003.45,NaN,NaN,NaN
252,600022326,2018-02-01,NaN,NaN,NaN,NaN,NaN
253,600022404,2018-07-01,9.120000e+00,584.47,1231.01,NaN,NaN
255,600022431,2019-12-01,2.223800e+03,1734.79,NaN,34526.33,NaN
258,600022518,2020-02-01,NaN,NaN,NaN,24676.97,NaN
259,600022600,2021-05-01,NaN,4787.08,NaN,NaN,NaN
260,600022827,2017-02-01,NaN,23445.56,NaN,NaN,NaN
262,600022947,2019-11-01,NaN,17627.45,NaN,NaN,NaN
263,600023178,2018-08-01,3.949020e+03,NaN,NaN,NaN,NaN
264,600023388,2019-06-01,5.386060e+03,NaN,NaN,NaN,NaN
269,600023444,2017-06-01,1.175200e+03,9586.01,24092.44,218222.96,NaN
270,600023459,2020-02-01,1.191000e+01,3943.84,NaN,207314.61,NaN
271,600023802,2017-06-01,1.507500e+02,3679.22,1815.15,33440.43,NaN
274,600023817,2017-04-01,NaN,3309.78,NaN,NaN,NaN
275,600024692,2018-05-01,4.470600e+03,NaN,NaN,NaN,54099.34
277,600024868,2021-04-01,4.800000e+00,4386.44,NaN,NaN,NaN
279,600024905,2017-09-01,3.204987e+05,650.77,NaN,NaN,NaN
280,600024956,2018-04-01,1.011000e+01,NaN,3052.85,NaN,NaN
282,600024965,2017-06-01,2.224000e+01,NaN,NaN,NaN,NaN
284,600025141,2018-03-01,8.849946e+05,NaN,NaN,NaN,NaN
285,600025148,2018-03-01,6.365970e+03,NaN,NaN,28810.70,NaN
286,600025554,2021-05-01,NaN,NaN,NaN,NaN,NaN
287,600026359,2018-03-01,1.007640e+03,NaN,NaN,NaN,NaN
288,600026532,2017-05-01,7.935860e+03,NaN,NaN,NaN,NaN
291,600026757,2022-02-01,2.789924e+05,NaN,NaN,NaN,NaN
292,600027373,2018-05-01,8.315802e+04,64.78,NaN,NaN,NaN
294,600027469,2017-01-01,NaN,NaN,NaN,NaN,NaN
296,600027493,2022-02-01,NaN,6126.58,NaN,NaN,NaN
297,600027599,2017-08-01,4.110000e+02,3427.34,NaN,NaN,NaN
300,600027855,2018-06-01,2.320000e+01,NaN,NaN,87847.39,NaN
301,600027955,2017-09-01,4.969870e+03,2566.69,NaN,NaN,NaN
302,600028055,2017-11-01,NaN,NaN,NaN,61129.94,NaN
304,600028257,2019-12-01,3.250000e+02,NaN,NaN,NaN,NaN
305,600028362,2021-04-01,NaN,1314.70,NaN,NaN,NaN
307,600028566,2018-04-01,4.600000e-01,NaN,NaN,NaN,NaN
308,600028934,2017-07-01,NaN,13131.19,NaN,162783.75,NaN
310,600028983,2020-02-01,3.335000e+02,NaN,NaN,NaN,NaN
311,600029086,2019-12-01,NaN,21135.15,65269.00,144683.00,NaN
314,600029107,2019-11-01,4.332600e+02,361.29,NaN,NaN,NaN
316,600029141,2022-04-01,7.209500e+02,NaN,NaN,32472.04,NaN
317,600029231,2017-01-01,NaN,NaN,NaN,NaN,NaN
320,600029328,2017-05-01,1.121638e+05,1681.90,74811.25,NaN,NaN
327,600029353,2021-06-01,1.420000e+00,28611.69,NaN,NaN,NaN
328,600029581,2021-06-01,NaN,NaN,NaN,NaN,NaN
329,600030021,2017-03-01,1.328700e+02,7329.77,NaN,NaN,NaN
331,600030194,2019-06-01,4.138200e+02,4704.12,NaN,NaN,NaN
332,600030266,2017-02-01,NaN,NaN,NaN,NaN,NaN
333,600030284,2017-10-01,1.198631e+05,NaN,NaN,NaN,NaN
334,600030451,2019-02-01,NaN,10884.41,NaN,NaN,NaN
336,600031045,2021-03-01,NaN,6063.97,NaN,NaN,NaN
337,600031343,2021-03-01,NaN,NaN,NaN,NaN,NaN
338,600031844,2021-04-01,1.011000e+03,45940.32,30768.49,16041.90,NaN
341,600031968,2021-12-01,NaN,4025.43,NaN,NaN,NaN
342,600032152,2019-05-01,6.945927e+05,NaN,NaN,NaN,NaN
343,600032330,2018-11-01,NaN,NaN,NaN,NaN,NaN
345,600032580,2019-09-01,NaN,3142.50,NaN,NaN,NaN
348,600032691,2022-05-01,1.112644e+04,NaN,NaN,NaN,NaN
350,600032703,2018-09-01,6.638280e+03,NaN,NaN,NaN,21450.78
351,600032731,2020-01-01,3.300000e-01,4866.97,NaN,NaN,NaN
352,600032821,2019-04-01,5.291900e+02,NaN,NaN,NaN,NaN
355,600033003,2017-06-01,5.156653e+05,11288.43,NaN,NaN,NaN
361,600033057,2021-06-01,6.030986e+04,NaN,NaN,164228.66,NaN
363,600033202,2018-06-01,4.177100e+02,3751.36,NaN,NaN,NaN
364,600033211,2016-12-01,NaN,NaN,NaN,NaN,NaN
367,600033255,2017-11-01,NaN,NaN,NaN,NaN,NaN
368,600033432,2018-01-01,NaN,37208.73,22846.65,25925.95,6368.76
370,600033573,2019-06-01,NaN,8239.54,NaN,NaN,NaN
371,600033723,2017-10-01,4.824890e+03,NaN,NaN,328495.84,NaN
372,600033874,2017-02-01,7.900000e-01,27279.01,NaN,NaN,NaN
373,600033880,2018-08-01,2.439707e+05,NaN,NaN,52724.37,NaN
374,600033905,2022-06-01,NaN,NaN,NaN,NaN,NaN
375,600034105,2017-08-01,2.788890e+03,379.01,NaN,NaN,NaN
376,600034347,2021-09-01,NaN,17859.82,NaN,NaN,NaN
377,600034408,2017-06-01,1.804010e+03,5812.88,NaN,NaN,NaN
378,600034419,2017-10-01,7.700885e+05,NaN,NaN,NaN,NaN
380,600034587,2019-06-01,5.825878e+04,606.93,NaN,NaN,NaN
381,600034696,2019-02-01,NaN,NaN,NaN,NaN,NaN
383,600034870,2017-06-01,8.964170e+03,4127.65,NaN,51388.16,19996.39
384,600034994,2017-08-01,NaN,NaN,NaN,NaN,NaN
385,600035268,2021-09-01,1.257600e+02,NaN,NaN,NaN,6227.05
386,600035294,2017-09-01,4.472754e+04,54798.13,38000.00,NaN,NaN
388,600035482,2017-07-01,NaN,NaN,NaN,NaN,NaN
389,600035696,2017-11-01,5.601266e+05,NaN,NaN,NaN,NaN
391,600035776,2021-06-01,1.661100e+02,25574.03,NaN,NaN,NaN
392,600035960,2017-03-01,3.569282e+04,1939.03,16453.85,NaN,NaN
396,600036011,2019-10-01,6.017013e+04,NaN,NaN,NaN,NaN
397,600036036,2021-04-01,NaN,NaN,NaN,NaN,NaN
398,600036083,2021-11-01,3.249470e+04,NaN,NaN,NaN,NaN
399,600036125,2018-10-01,1.701140e+03,NaN,NaN,NaN,NaN
400,600036192,2017-11-01,5.837779e+04,NaN,NaN,107988.31,NaN
402,600036267,2017-10-01,4.863000e+01,NaN,NaN,NaN,NaN
403,600036282,2017-05-01,2.674000e+01,NaN,NaN,NaN,NaN
405,600036527,2018-02-01,1.308695e+04,NaN,NaN,NaN,NaN
406,600036531,2018-06-01,NaN,NaN,NaN,NaN,NaN
407,600036763,2017-09-01,1.466444e+04,5758.58,NaN,NaN,NaN
409,600036819,2022-06-01,4.661100e+02,NaN,NaN,NaN,NaN
410,600036859,2021-06-01,NaN,NaN,NaN,NaN,NaN
411,600036905,2018-06-01,NaN,NaN,NaN,NaN,NaN
412,600037203,2021-04-01,6.000000e-02,36971.96,NaN,NaN,NaN
414,600037225,2021-04-01,NaN,2043.82,NaN,NaN,NaN
416,600037302,2017-07-01,1.086000e+02,10711.95,NaN,NaN,NaN
417,600037354,2017-02-01,1.224679e+04,NaN,NaN,NaN,2960.75
418,600037553,2019-05-01,5.092790e+04,NaN,NaN,NaN,NaN
419,600037612,2021-11-01,NaN,26304.02,NaN,NaN,NaN
420,600037627,2017-03-01,2.326685e+04,NaN,NaN,NaN,NaN
422,600038038,2018-03-01,1.491378e+04,NaN,NaN,NaN,NaN
423,600038082,2018-06-01,4.982335e+04,NaN,NaN,NaN,NaN
427,600038087,2019-05-01,NaN,13194.42,NaN,NaN,NaN
429,600038205,2017-11-01,1.753657e+05,NaN,NaN,NaN,NaN
431,600038315,2018-07-01,4.082437e+04,13494.97,3377.65,338661.41,NaN
433,600038639,2020-12-01,1.134051e+05,5677.73,NaN,204805.47,NaN
...,...,...,...,...,...,...,...
5828,990094756,2022-03-01,NaN,NaN,NaN,NaN,NaN
5829,990094788,2022-03-01,NaN,NaN,NaN,NaN,NaN
5830,990094923,2022-03-01,NaN,NaN,NaN,NaN,NaN
5831,990094930,2022-03-01,NaN,NaN,NaN,NaN,NaN
5832,990095073,2022-04-01,3.436000e+01,NaN,NaN,NaN,NaN
5833,990095109,2022-03-01,NaN,NaN,NaN,NaN,NaN
5834,990095120,2022-03-01,NaN,NaN,NaN,NaN,NaN
5835,990095169,2022-03-01,NaN,NaN,NaN,NaN,NaN
5836,990095185,2022-03-01,NaN,NaN,NaN,NaN,NaN
5838,990095275,2022-03-01,NaN,NaN,NaN,NaN,NaN
5839,990095417,2022-03-01,NaN,NaN,NaN,NaN,NaN
5840,990095480,2022-03-01,NaN,NaN,NaN,NaN,NaN
5841,990095490,2022-03-01,NaN,NaN,NaN,NaN,NaN
5842,990095523,2022-04-01,1.945750e+03,NaN,NaN,NaN,NaN
5843,990095741,2022-03-01,NaN,NaN,NaN,NaN,NaN
5844,990095750,2022-03-01,NaN,NaN,NaN,NaN,NaN
5845,990095813,2022-03-01,NaN,NaN,NaN,NaN,NaN
5846,990095821,2022-04-01,1.654000e+01,NaN,NaN,NaN,10962.42
5848,990095836,2022-03-01,NaN,NaN,NaN,NaN,NaN
5850,990095896,2022-06-01,1.080000e+00,NaN,NaN,NaN,NaN
5851,990095933,2022-03-01,NaN,NaN,NaN,NaN,NaN
5852,990095943,2022-03-01,NaN,NaN,NaN,NaN,NaN
5853,990096004,2022-03-01,NaN,NaN,NaN,NaN,NaN
5854,990096005,2022-03-01,NaN,NaN,NaN,NaN,NaN
5855,990096090,2022-03-01,NaN,NaN,NaN,NaN,NaN
5856,990096095,2022-03-01,NaN,NaN,NaN,NaN,NaN
5857,990096096,2022-03-01,NaN,NaN,NaN,NaN,NaN
5858,990096192,2022-03-01,NaN,NaN,NaN,NaN,NaN
5859,990096234,2022-05-01,9.528900e+02,NaN,NaN,NaN,NaN
5860,990096240,2022-03-01,NaN,NaN,NaN,NaN,NaN
5861,990096280,2022-03-01,NaN,NaN,NaN,NaN,NaN
5862,990096406,2022-06-01,1.000560e+03,NaN,NaN,NaN,NaN
5863,990096409,2022-04-01,1.065400e+02,NaN,NaN,NaN,NaN
5864,990096470,2022-03-01,NaN,NaN,NaN,NaN,NaN
5865,990096603,2022-03-01,NaN,NaN,NaN,NaN,NaN
5866,990096638,2022-04-01,1.000000e+02,NaN,NaN,NaN,NaN
5867,990096652,2022-03-01,NaN,NaN,NaN,NaN,NaN
5868,990096677,2022-03-01,NaN,NaN,NaN,NaN,NaN
5869,990096684,2022-03-01,NaN,NaN,NaN,NaN,NaN
5870,990096714,2022-04-01,NaN,NaN,NaN,NaN,NaN
5871,990096716,2022-05-01,3.775400e+02,NaN,NaN,NaN,NaN
5872,990096718,2022-03-01,NaN,NaN,NaN,NaN,NaN
5874,990096820,2022-03-01,NaN,NaN,NaN,NaN,NaN
5875,990096921,2022-03-01,NaN,NaN,NaN,NaN,NaN
5876,990096969,2022-04-01,NaN,NaN,NaN,NaN,NaN
5877,990096994,2022-03-01,NaN,NaN,NaN,NaN,NaN
5878,990096995,2022-03-01,NaN,NaN,NaN,NaN,NaN
5879,990097151,2022-03-01,NaN,NaN,NaN,NaN,NaN
5880,990097194,2022-03-01,NaN,NaN,NaN,NaN,NaN
5881,990097206,2022-03-01,NaN,NaN,NaN,NaN,NaN
5882,990097234,2022-03-01,NaN,NaN,NaN,NaN,NaN
5883,990097289,2022-04-01,NaN,NaN,NaN,NaN,NaN
5884,990097366,2022-04-01,NaN,NaN,NaN,NaN,NaN
5886,990097383,2022-06-01,9.519330e+03,NaN,NaN,NaN,NaN
5887,990097482,2022-06-01,NaN,NaN,NaN,NaN,NaN
5888,990097516,2022-04-01,NaN,NaN,NaN,NaN,NaN
5889,990097670,2022-04-01,NaN,NaN,NaN,NaN,NaN
5891,990097719,2022-04-01,NaN,NaN,NaN,NaN,NaN
5892,990097784,2022-04-01,NaN,NaN,NaN,NaN,NaN
5893,990097927,2022-04-01,NaN,NaN,NaN,NaN,NaN
5894,990097966,2022-06-01,1.000000e+03,NaN,NaN,NaN,NaN
5895,990098081,2022-04-01,NaN,NaN,NaN,NaN,NaN
5896,990098153,2022-05-01,NaN,NaN,NaN,NaN,NaN
5897,990098226,2022-04-01,NaN,NaN,NaN,NaN,NaN
5898,990098293,2022-04-01,NaN,NaN,NaN,NaN,NaN
5899,990098335,2022-04-01,NaN,NaN,NaN,NaN,NaN
5900,990098397,2022-04-01,NaN,NaN,NaN,NaN,NaN
5901,990098511,2022-04-01,NaN,NaN,NaN,NaN,NaN
5902,990098519,2022-04-01,NaN,NaN,NaN,NaN,NaN
5903,990098539,2022-04-01,NaN,NaN,NaN,NaN,NaN
5904,990098708,2022-04-01,NaN,NaN,NaN,NaN,NaN
5905,990098811,2022-04-01,NaN,NaN,NaN,NaN,NaN
5906,990098889,2022-04-01,NaN,NaN,NaN,NaN,NaN
5907,990098891,2022-04-01,NaN,NaN,NaN,NaN,NaN
5908,990098928,2022-04-01,NaN,NaN,NaN,NaN,NaN
5909,990098940,2022-04-01,NaN,NaN,NaN,NaN,NaN
5910,990098983,2022-04-01,NaN,NaN,NaN,NaN,NaN
5911,990098984,2022-04-01,NaN,NaN,NaN,NaN,NaN
5912,990099093,2022-04-01,NaN,NaN,NaN,NaN,NaN
5913,990099185,2022-04-01,NaN,NaN,NaN,NaN,NaN
5914,990099197,2022-04-01,NaN,NaN,NaN,NaN,NaN
5915,990099248,2022-04-01,NaN,NaN,NaN,NaN,NaN
5916,990099270,2022-05-01,NaN,NaN,NaN,NaN,NaN
5917,990099313,2022-04-01,NaN,NaN,NaN,NaN,NaN
5918,990099315,2022-04-01,NaN,NaN,NaN,NaN,NaN
5919,990099320,2022-04-01,NaN,NaN,NaN,NaN,NaN
5920,990099381,2022-04-01,NaN,NaN,NaN,NaN,NaN
5921,990099382,2022-04-01,NaN,NaN,NaN,NaN,NaN
5922,990099386,2022-04-01,NaN,NaN,NaN,NaN,NaN
5923,990099402,2022-04-01,NaN,NaN,NaN,NaN,NaN
5924,990099410,2022-04-01,NaN,NaN,NaN,NaN,NaN
5925,990099489,2022-04-01,NaN,NaN,NaN,NaN,NaN
5926,990099555,2022-04-01,NaN,NaN,NaN,NaN,NaN
5927,990099563,2022-05-01,5.000000e+01,NaN,NaN,NaN,NaN
5928,990099582,2022-04-01,NaN,NaN,NaN,NaN,NaN
5929,990099627,2022-05-01,NaN,NaN,NaN,NaN,NaN
5930,990099662,2022-05-01,1.593700e+02,NaN,NaN,NaN,NaN
5931,990099732,2022-04-01,NaN,NaN,NaN,NaN,NaN
5932,990099799,2022-06-01,NaN,NaN,NaN,NaN,NaN
5933,990099820,2022-05-01,NaN,NaN,NaN,NaN,NaN
5934,990099829,2022-04-01,NaN,NaN,NaN,NaN,NaN
5935,990099843,2022-04-01,NaN,NaN,NaN,NaN,NaN
5936,990099848,2022-05-01,NaN,NaN,NaN,NaN,NaN
5937,990099884,2022-06-01,1.000100e+02,NaN,NaN,NaN,NaN
5938,990099886,2022-04-01,NaN,NaN,NaN,NaN,NaN
5939,990099897,2022-04-01,NaN,NaN,NaN,NaN,NaN
5940,990099908,2022-04-01,NaN,NaN,NaN,NaN,NaN
5941,990100012,2022-05-01,1.000000e+02,NaN,NaN,NaN,NaN
5942,990100022,2022-05-01,NaN,NaN,NaN,NaN,NaN
5943,990100041,2022-04-01,NaN,NaN,NaN,NaN,NaN
5944,990100071,2022-04-01,NaN,NaN,NaN,NaN,NaN
5945,990100103,2022-04-01,NaN,NaN,NaN,NaN,NaN
5946,990100121,2022-04-01,NaN,NaN,NaN,NaN,NaN
5947,990100141,2022-04-01,NaN,NaN,NaN,NaN,NaN
5948,990100163,2022-04-01,NaN,NaN,NaN,NaN,NaN
5949,990100170,2022-04-01,NaN,NaN,NaN,NaN,NaN
5950,990100180,2022-04-01,NaN,NaN,NaN,NaN,NaN
5951,990100255,2022-06-01,3.112875e+05,NaN,NaN,NaN,NaN
5952,990100322,2022-05-01,NaN,NaN,NaN,NaN,NaN
5953,990100353,2022-05-01,NaN,NaN,NaN,NaN,NaN
5954,990100368,2022-05-01,NaN,NaN,NaN,NaN,NaN
5955,990100384,2022-05-01,NaN,NaN,NaN,NaN,NaN
5956,990100488,2022-05-01,NaN,NaN,NaN,NaN,NaN
5957,990100546,2022-05-01,NaN,NaN,NaN,NaN,NaN
5958,990100552,2022-05-01,NaN,NaN,NaN,NaN,NaN
5959,990100621,2022-06-01,1.000149e+05,NaN,NaN,NaN,NaN
5960,990100626,2022-05-01,NaN,NaN,NaN,NaN,NaN
5961,990100742,2022-05-01,NaN,NaN,NaN,NaN,NaN
5962,990100795,2022-05-01,NaN,NaN,NaN,NaN,NaN
5963,990100796,2022-05-01,NaN,NaN,NaN,NaN,NaN
5964,990100823,2022-05-01,NaN,NaN,NaN,NaN,NaN
5965,990101031,2022-05-01,NaN,NaN,NaN,NaN,NaN

In [47]:
base_objetivo_saldos.isna().sum()

CLIENTE             0
mes_inicio          0
SALDO_PAS_UM     3333
SALDO_TDC_UM     3333
SALDO_CONS_UM    5603
SALDO_HIPO_UM    5571
SALDO_AUTO_UM    5783
dtype: int64

In [48]:
base_objetivo_saldos.isna().sum()/len(base_objetivo_saldos)

CLIENTE          0.000000
mes_inicio       0.000000
SALDO_PAS_UM     0.547381
SALDO_TDC_UM     0.547381
SALDO_CONS_UM    0.920184
SALDO_HIPO_UM    0.914929
SALDO_AUTO_UM    0.949745
dtype: float64

# MORA ULTIMO MES

In [49]:
MORA_UM = Base_Independientes_A.groupby(['mes','CLIENTE'])['DIAS_MORA'].agg({'DIAS_MORA_UM':"max"}).reset_index()
MORA_UM.head()

C:\Users\alber\anaconda3\envs\Quash_sh\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

       mes    CLIENTE  DIAS_MORA_UM
0  2017-01        142           0.0
1  2017-01      14052           0.0
2  2017-01      31180           0.0
3  2017-01    2227129          26.0
4  2017-01  200111260           0.0

# CALCULAR SUMANDOLE UN MES

In [50]:
MORA_UM_f = Base_Independientes_A.groupby(['mes','CLIENTE'])['DIAS_MORA'].agg({'DIAS_MORA_UM':"max"}).reset_index()
date_format = '%Y-%m'

MORA_UM_f['mes'] = MORA_UM_f['mes'].apply(lambda x: datetime.strptime(str(x),date_format).date())
MORA_UM_f['mes'] = MORA_UM_f['mes'] + relativedelta(months=1)
MORA_UM_f['mes'] = MORA_UM_f['mes'].astype(str)
MORA_UM_f['mes_inicio'] = MORA_UM_f.mes

del MORA_UM_f['mes']

C:\Users\alber\anaconda3\envs\Quash_sh\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [51]:
MORA_UM_f.head(10)

     CLIENTE  DIAS_MORA_UM  mes_inicio
0        142           0.0  2017-02-01
1      14052           0.0  2017-02-01
2      31180           0.0  2017-02-01
3    2227129          26.0  2017-02-01
4  200111260           0.0  2017-02-01
5  200194137           0.0  2017-02-01
6  200202823           0.0  2017-02-01
7  201421604           0.0  2017-02-01
8  201442214           0.0  2017-02-01
9  201476823           0.0  2017-02-01

In [52]:
len(base_objetivo)

6089

In [53]:
base_objetivo_m1 = base_objetivo.merge(MORA_UM_f, how= 'left', on = ['mes_inicio','CLIENTE'])

In [54]:
base_objetivo_m1.head()

     CLIENTE  mes_inicio  DIAS_MORA_UM
0      14052  2019-03-01           0.0
1  200111260  2018-05-01           0.0
2  200194137  2018-01-01           0.0
3  200194137  2019-06-01           NaN
4  200202823  2017-06-01           0.0

# MAX morosidad u3m

In [55]:
len(base_objetivo)

6089

In [75]:
max_morosidad_cliente = MORA_UM.merge(base_objetivo, on='CLIENTE', how='left')
max_morosidad_cliente.head()

       mes    CLIENTE  DIAS_MORA_UM  mes_inicio
0  2017-01        142           0.0         NaN
1  2017-01      14052           0.0  2019-03-01
2  2017-01      31180           0.0         NaN
3  2017-01    2227129          26.0         NaN
4  2017-01  200111260           0.0  2018-05-01

In [76]:
len(max_morosidad_cliente)

301993

In [77]:
max_morosidad_cliente = max_morosidad_cliente[max_morosidad_cliente.mes_inicio.notnull()]

In [78]:
len(max_morosidad_cliente)

260699

In [79]:
max_morosidad_cliente.head()

       mes    CLIENTE  DIAS_MORA_UM  mes_inicio
1  2017-01      14052           0.0  2019-03-01
4  2017-01  200111260           0.0  2018-05-01
5  2017-01  200194137           0.0  2018-01-01
6  2017-01  200194137           0.0  2019-06-01
7  2017-01  200202823           0.0  2017-06-01

In [80]:
max_morosidad_cliente['mes'] = max_morosidad_cliente['mes'].astype(str)+'-01'

In [81]:
max_morosidad_cliente.head()

          mes    CLIENTE  DIAS_MORA_UM  mes_inicio
1  2017-01-01      14052           0.0  2019-03-01
4  2017-01-01  200111260           0.0  2018-05-01
5  2017-01-01  200194137           0.0  2018-01-01
6  2017-01-01  200194137           0.0  2019-06-01
7  2017-01-01  200202823           0.0  2017-06-01

In [82]:
max_morosidad_cliente = max_morosidad_cliente[max_morosidad_cliente.mes_inicio>max_morosidad_cliente.mes]

In [83]:
max_morosidad_cliente.head()

          mes    CLIENTE  DIAS_MORA_UM  mes_inicio
1  2017-01-01      14052           0.0  2019-03-01
4  2017-01-01  200111260           0.0  2018-05-01
5  2017-01-01  200194137           0.0  2018-01-01
6  2017-01-01  200194137           0.0  2019-06-01
7  2017-01-01  200202823           0.0  2017-06-01

In [84]:
date_format = '%Y-%m-%d'
max_morosidad_cliente['mes'] = max_morosidad_cliente.mes.apply(lambda x: datetime.strptime(str(x),date_format))
max_morosidad_cliente['mes_inicio'] = max_morosidad_cliente.mes_inicio.apply(lambda x: datetime.strptime(str(x),date_format))

In [85]:
max_morosidad_cliente['madurez'] = max_morosidad_cliente['mes_inicio'] - max_morosidad_cliente['mes']
max_morosidad_cliente['madurez'] = max_morosidad_cliente.madurez.apply(lambda x: x.days/30)

In [87]:
max_morosidad_cliente = max_morosidad_cliente[max_morosidad_cliente.madurez<=3.0]

In [88]:
len(max_morosidad_cliente)

7270

In [89]:
max_morosidad_cliente

              mes    CLIENTE  DIAS_MORA_UM mes_inicio   madurez
20     2017-01-01  201894919           0.0 2017-02-01  1.033333
47     2017-01-01  600000430           0.0 2017-04-01  3.000000
50     2017-01-01  600000750           0.0 2017-04-01  3.000000
55     2017-01-01  600001308           0.0 2017-02-01  1.033333
60     2017-01-01  600001953           0.0 2017-02-01  1.033333
82     2017-01-01  600004150           0.0 2017-02-01  1.033333
85     2017-01-01  600004922           0.0 2017-03-01  1.966667
100    2017-01-01  600006616           0.0 2017-04-01  3.000000
103    2017-01-01  600006916           0.0 2017-03-01  1.966667
111    2017-01-01  600007691           0.0 2017-03-01  1.966667
135    2017-01-01  600009695           0.0 2017-03-01  1.966667
157    2017-01-01  600012534           0.0 2017-03-01  1.966667
172    2017-01-01  600013866           0.0 2017-02-01  1.033333
202    2017-01-01  600017356           0.0 2017-02-01  1.033333
219    2017-01-01  600018395           0.0 2017-02-01  1.033333
266    2017-01-01  600022827           0.0 2017-02-01  1.033333
281    2017-01-01  600023817           0.0 2017-04-01  3.000000
344    2017-01-01  600030021           0.0 2017-03-01  1.966667
384    2017-01-01  600033874           0.0 2017-02-01  1.033333
407    2017-01-01  600035960           0.0 2017-03-01  1.966667
428    2017-01-01  600037354           0.0 2017-02-01  1.033333
431    2017-01-01  600037627           0.0 2017-03-01  1.966667
470    2017-01-01  600039879           0.0 2017-03-01  1.966667
549    2017-01-01  600050515           0.0 2017-02-01  1.033333
553    2017-01-01  600050974           0.0 2017-02-01  1.033333
558    2017-01-01  600051362           0.0 2017-02-01  1.033333
571    2017-01-01  600053752           0.0 2017-03-01  1.966667
597    2017-01-01  600057442           0.0 2017-03-01  1.966667
631    2017-01-01  600064276           0.0 2017-03-01  1.966667
648    2017-01-01  600065555           0.0 2017-02-01  1.033333
682    2017-01-01  600070737           0.0 2017-04-01  3.000000
697    2017-01-01  600073300           0.0 2017-03-01  1.966667
698    2017-01-01  600073300           0.0 2017-04-01  3.000000
772    2017-01-01  600086044           0.0 2017-03-01  1.966667
780    2017-01-01  600086765           0.0 2017-03-01  1.966667
842    2017-01-01  600093770           0.0 2017-02-01  1.033333
872    2017-01-01  600096371           0.0 2017-03-01  1.966667
903    2017-01-01  600099054           0.0 2017-02-01  1.033333
944    2017-01-01  600102142           0.0 2017-03-01  1.966667
963    2017-01-01  600103577           0.0 2017-03-01  1.966667
1026   2017-01-01  600110930           0.0 2017-02-01  1.033333
1053   2017-01-01  600113970           0.0 2017-03-01  1.966667
1060   2017-01-01  600114340           0.0 2017-04-01  3.000000
1078   2017-01-01  600115808           0.0 2017-02-01  1.033333
1094   2017-01-01  600118599           0.0 2017-03-01  1.966667
1110   2017-01-01  600120549           0.0 2017-03-01  1.966667
1118   2017-01-01  600120652           0.0 2017-03-01  1.966667
1123   2017-01-01  600120874           0.0 2017-04-01  3.000000
1126   2017-01-01  600121693           0.0 2017-03-01  1.966667
1149   2017-01-01  600124032           0.0 2017-03-01  1.966667
1175   2017-01-01  600126296           0.0 2017-02-01  1.033333
1234   2017-01-01  600133923           0.0 2017-02-01  1.033333
1242   2017-01-01  600135038           0.0 2017-03-01  1.966667
1267   2017-01-01  600136805           0.0 2017-03-01  1.966667
1273   2017-01-01  600137081           0.0 2017-03-01  1.966667
1274   2017-01-01  600137081           0.0 2017-04-01  3.000000
1287   2017-01-01  600137786          28.0 2017-04-01  3.000000
1317   2017-01-01  600139532           0.0 2017-03-01  1.966667
1352   2017-01-01  600142401           0.0 2017-03-01  1.966667
1358   2017-01-01  600142701           0.0 2017-04-01  3.000000
1367   2017-01-01  600143441           0.0 2017-03-01  1.966667
1372   2017-01-01  600143953           0.0 2017-04-01  3.000000
1381   2017-01-01  600144983           0.0 2017-03-01  1.966667
1407   2017-01-01  600147935           0.0 2017-03-01  1.966667
1413   2017-01-01  600147968           0.0 2017-04-01  3.000000
1422   2017-01-01  600148482           0.0 2017-04-01  3.000000
1456   2017-01-01  600150936           0.0 2017-02-01  1.033333
1470   2017-01-01  600151823           0.0 2017-02-01  1.033333
1486   2017-01-01  600152825           0.0 2017-03-01  1.966667
1487   2017-01-01  600152920           0.0 2017-02-01  1.033333
1490   2017-01-01  600152989           0.0 2017-02-01  1.033333
1515   2017-01-01  600154743           0.0 2017-02-01  1.033333
1525   2017-01-01  600155629           0.0 2017-03-01  1.966667
1526   2017-01-01  600155750           0.0 2017-03-01  1.966667
1540   2017-01-01  600155842           0.0 2017-04-01  3.000000
1582   2017-01-01  600158664          26.0 2017-04-01  3.000000
1591   2017-01-01  600159848           0.0 2017-02-01  1.033333
1605   2017-01-01  600161187           0.0 2017-04-01  3.000000
1610   2017-01-01  600161580           0.0 2017-02-01  1.033333
1612   2017-01-01  600161694           0.0 2017-03-01  1.966667
1669   2017-01-01  600165265           0.0 2017-04-01  3.000000
1687   2017-01-01  600165903           0.0 2017-03-01  1.966667
1691   2017-01-01  600166401           0.0 2017-02-01  1.033333
1764   2017-01-01  600170804           0.0 2017-02-01  1.033333
1783   2017-01-01  600171984           0.0 2017-04-01  3.000000
1786   2017-01-01  600172040           0.0 2017-02-01  1.033333
1812   2017-01-01  600173597           0.0 2017-03-01  1.966667
1884   2017-01-01  600179659           0.0 2017-03-01  1.966667
1896   2017-01-01  600180136           0.0 2017-03-01  1.966667
1902   2017-01-01  600180428           0.0 2017-02-01  1.033333
1905   2017-01-01  600180431           0.0 2017-04-01  3.000000
1934   2017-01-01  600181632           0.0 2017-03-01  1.966667
1949   2017-01-01  600182010           0.0 2017-04-01  3.000000
1980   2017-01-01  600182750           0.0 2017-04-01  3.000000
1996   2017-01-01  600183820           0.0 2017-02-01  1.033333
2030   2017-01-01  600185171           0.0 2017-04-01  3.000000
2060   2017-01-01  600186877           0.0 2017-02-01  1.033333
2070   2017-01-01  600187808           0.0 2017-04-01  3.000000
2093   2017-01-01  600188949           0.0 2017-04-01  3.000000
2108   2017-01-01  600189521           0.0 2017-03-01  1.966667
2110   2017-01-01  600189654           0.0 2017-03-01  1.966667
2117   2017-01-01  600189733           0.0 2017-03-01  1.966667
2123   2017-01-01  600189882           0.0 2017-02-01  1.033333
2156   2017-01-01  600191149           0.0 2017-02-01  1.033333
2168   2017-01-01  600191569           0.0 2017-02-01  1.033333
2212   2017-01-01  600192544           0.0 2017-03-01  1.966667
2264   2017-01-01  600194274           0.0 2017-02-01  1.033333
2274   2017-01-01  600194872           0.0 2017-02-01  1.033333
2275   2017-01-01  600194985           0.0 2017-03-01  1.966667
2279   2017-01-01  600195015           0.0 2017-03-01  1.966667
2288   2017-01-01  600195279           0.0 2017-03-01  1.966667
2304   2017-01-01  600195658           0.0 2017-02-01  1.033333
2316   2017-01-01  600196027           0.0 2017-02-01  1.033333
2334   2017-01-01  600196455           0.0 2017-02-01  1.033333
2340   2017-01-01  600196831           0.0 2017-02-01  1.033333
2342   2017-01-01  600196980           0.0 2017-02-01  1.033333
2352   2017-01-01  600197224           0.0 2017-03-01  1.966667
2366   2017-01-01  600197447           0.0 2017-04-01  3.000000
2372   2017-01-01  600197524           0.0 2017-02-01  1.033333
2383   2017-01-01  600198184           0.0 2017-03-01  1.966667
2386   2017-01-01  600198212           0.0 2017-02-01  1.033333
2387   2017-01-01  600198256           0.0 2017-04-01  3.000000
2398   2017-01-01  600198487           0.0 2017-04-01  3.000000
2411   2017-01-01  600199060           0.0 2017-03-01  1.966667
2429   2017-01-01  600199310           0.0 2017-03-01  1.966667
2430   2017-01-01  600199357           0.0 2017-03-01  1.966667
2433   2017-01-01  600199513           0.0 2017-03-01  1.966667
2467   2017-01-01  600200434           0.0 2017-03-01  1.966667
2476   2017-01-01  600200619           0.0 2017-03-01  1.966667
2497   2017-01-01  600201307          26.0 2017-04-01  3.000000
2509   2017-01-01  600201389           0.0 2017-04-01  3.000000
2515   2017-01-01  600201639           0.0 2017-04-01  3.000000
2546   2017-01-01  600202972           0.0 2017-03-01  1.966667
2553   2017-01-01  600203253           0.0 2017-04-01  3.000000
2566   2017-01-01  600203495           0.0 2017-04-01  3.000000
2583   2017-01-01  600203902           0.0 2017-04-01  3.000000
2720   2017-01-01  800033218           0.0 2017-04-01  3.000000
2728   2017-01-01  800042800           0.0 2017-03-01  1.966667
2758   2017-01-01  800080433           0.0 2017-04-01  3.000000
2810   2017-02-01  201894919           0.0 2017-05-01  2.966667
2836   2017-02-01  600000430           0.0 2017-04-01  1.966667
2871   2017-02-01  600004922           0.0 2017-03-01  0.933333
2872   2017-02-01  600004922           0.0 2017-05-01  2.966667
2884   2017-02-01  600006616           0.0 2017-04-01  1.966667
2887   2017-02-01  600006916           0.0 2017-03-01  0.933333
2895   2017-02-01  600007691           0.0 2017-03-01  0.933333
2919   2017-02-01  600009695           0.0 2017-03-01  0.933333
3065   2017-02-01  600023817           0.0 2017-04-01  1.966667
3121   2017-02-01  600029328           0.0 2017-05-01  2.966667
3129   2017-02-01  600030021           0.0 2017-03-01  0.933333
3192   2017-02-01  600035960           0.0 2017-03-01  0.933333
3193   2017-02-01  600035960           0.0 2017-05-01  2.966667
3251   2017-02-01  600039879           0.0 2017-03-01  0.933333
3358   2017-02-01  600053752           0.0 2017-03-01  0.933333
3385   2017-02-01  600057442           0.0 2017-03-01  0.933333
3420   2017-02-01  600064276           0.0 2017-03-01  0.933333
3441   2017-02-01  600066366           0.0 2017-05-01  2.966667
3471   2017-02-01  600070737           0.0 2017-04-01  1.966667
3474   2017-02-01  600071745           0.0 2017-05-01  2.966667
3487   2017-02-01  600073300           0.0 2017-03-01  0.933333
3488   2017-02-01  600073300           0.0 2017-04-01  1.966667
3562   2017-02-01  600086044           0.0 2017-03-01  0.933333
3570   2017-02-01  600086765          23.0 2017-03-01  0.933333
3642   2017-02-01  600094037           0.0 2017-05-01  2.966667
3667   2017-02-01  600096292           0.0 2017-05-01  2.966667
3669   2017-02-01  600096371           0.0 2017-03-01  0.933333
3702   2017-02-01  600099054           0.0 2017-05-01  2.966667
3745   2017-02-01  600102142           0.0 2017-03-01  0.933333
3767   2017-02-01  600103577           0.0 2017-03-01  0.933333
3857   2017-02-01  600113970           0.0 2017-03-01  0.933333
3864   2017-02-01  600114340           0.0 2017-04-01  1.966667
3870   2017-02-01  600114455           0.0 2017-05-01  2.966667
3898   2017-02-01  600118599           0.0 2017-03-01  0.933333
3915   2017-02-01  600120549           0.0 2017-03-01  0.933333
3923   2017-02-01  600120652           0.0 2017-03-01  0.933333
3928   2017-02-01  600120874           0.0 2017-04-01  1.966667
3931   2017-02-01  600121693           0.0 2017-03-01  0.933333
3954   2017-02-01  600124032           0.0 2017-03-01  0.933333
3957   2017-02-01  600124337           0.0 2017-05-01  2.966667
3997   2017-02-01  600128433           0.0 2017-05-01  2.966667
4045   2017-02-01  600134184           0.0 2017-03-01  0.933333
4051   2017-02-01  600135038           0.0 2017-03-01  0.933333
4076   2017-02-01  600136805           0.0 2017-03-01  0.933333
4082   2017-02-01  600137081           0.0 2017-03-01  0.933333
4083   2017-02-01  600137081           0.0 2017-04-01  1.966667
4096   2017-02-01  600137786           0.0 2017-04-01  1.966667
4104   2017-02-01  600138236           0.0 2017-05-01  2.966667
4129   2017-02-01  600139532           0.0 2017-03-01  0.933333
4164   2017-02-01  600142401           0.0 2017-03-01  0.933333
4170   2017-02-01  600142701           0.0 2017-04-01  1.966667
4182   2017-02-01  600143441           0.0 2017-03-01  0.933333
4187   2017-02-01  600143953           0.0 2017-04-01  1.966667
4196   2017-02-01  600144983           0.0 2017-03-01  0.933333
4224   2017-02-01  600147935           0.0 2017-03-01  0.933333
4230   2017-02-01  600147968           0.0 2017-04-01  1.966667
4233   2017-02-01  600148053           0.0 2017-05-01  2.966667
4238   2017-02-01  600148482           0.0 2017-04-01  1.966667
4276   2017-02-01  600151072           0.0 2017-05-01  2.966667
4287   2017-02-01  600151750           0.0 2017-05-01  2.966667
4292   2017-02-01  600152435           0.0 2017-05-01  2.966667
4302   2017-02-01  600152825           0.0 2017-03-01  0.933333
4313   2017-02-01  600153582           0.0 2017-05-01  2.966667
4336   2017-02-01  600155628           0.0 2017-05-01  2.966667
4338   2017-02-01  600155750           0.0 2017-03-01  0.933333
4347   2017-02-01  600155795           0.0 2017-05-01  2.966667
4352   2017-02-01  600155842           0.0 2017-04-01  1.966667
4376   2017-02-01  600157442           0.0 2017-05-01  2.966667
4393   2017-02-01  600158664           0.0 2017-04-01  1.966667
4419   2017-02-01  600161187           0.0 2017-04-01  1.966667
4426   2017-02-01  600161694           0.0 2017-03-01  0.933333
4431   2017-02-01  600161978           0.0 2017-05-01  2.966667
4487   2017-02-01  600165265           0.0 2017-04-01  1.966667
4494   2017-02-01  600165763           0.0 2017-05-01  2.966667
4505   2017-02-01  600165903           0.0 2017-03-01  0.933333
4561   2017-02-01  600169113           0.0 2017-05-01  2.966667
4602   2017-02-01  600171984           0.0 2017-04-01  1.966667
4631   2017-02-01  600173597           0.0 2017-03-01  0.933333
4703   2017-02-01  600179659           0.0 2017-03-01  0.933333
4715   2017-02-01  600180136           0.0 2017-03-01  0.933333
4719   2017-02-01  600180337           0.0 2017-05-01  2.966667
4725   2017-02-01  600180431           0.0 2017-04-01  1.966667
4739   2017-02-01  600180951           0.0 2017-05-01  2.966667
4754   2017-02-01  600181632           0.0 2017-03-01  0.933333
4768   2017-02-01  600182010           0.0 2017-04-01  1.966667
4799   2017-02-01  600182750           0.0 2017-04-01  1.966667
4847   2017-02-01  600185171           0.0 2017-04-01  1.966667
4869   2017-02-01  600185979           0.0 2017-05-01  2.966667
4887   2017-02-01  600187808           0.0 2017-04-01  1.966667
4911   2017-02-01  600188949           0.0 2017-04-01  1.966667
4926   2017-02-01  600189521           0.0 2017-03-01  0.933333
4934   2017-02-01  600189733           0.0 2017-03-01  0.933333
4987   2017-02-01  600191642           0.0 2017-05-01  2.966667
5029   2017-02-01  600192544           0.0 2017-03-01  0.933333
5088   2017-02-01  600194501           0.0 2017-05-01  2.966667
5094   2017-02-01  600194985           0.0 2017-03-01  0.933333
5098   2017-02-01  600195015           0.0 2017-03-01  0.933333
5107   2017-02-01  600195279           0.0 2017-03-01  0.933333
5171   2017-02-01  600197224          23.0 2017-03-01  0.933333
5186   2017-02-01  600197447           0.0 2017-04-01  1.966667
5203   2017-02-01  600198184           0.0 2017-03-01  0.933333
5207   2017-02-01  600198256           0.0 2017-04-01  1.966667
5218   2017-02-01  600198487           0.0 2017-04-01  1.966667
5231   2017-02-01  600199060           0.0 2017-03-01  0.933333
5233   2017-02-01  600199089           0.0 2017-05-01  2.966667
5250   2017-02-01  600199310           0.0 2017-03-01  0.933333
5251   2017-02-01  600199357           0.0 2017-03-01  0.933333
5254   2017-02-01  600199513           0.0 2017-03-01  0.933333
5271   2017-02-01  600199817           0.0 2017-05-01  2.966667
5273   2017-02-01  600199989           0.0 2017-05-01  2.966667
5298   2017-02-01  600200434           0.0 2017-03-01  0.933333
...           ...        ...           ...        ...       ...
279792 2022-03-01  990055915           0.0 2022-04-01  1.033333
279794 2022-03-01  990056193           0.0 2022-05-01  2.033333
279868 2022-03-01  990061167           0.0 2022-04-01  1.033333
279887 2022-03-01  990062496           0.0 2022-04-01  1.033333
279922 2022-03-01  990065360           0.0 2022-04-01  1.033333
279950 2022-03-01  990066874           0.0 2022-05-01  2.033333
279961 2022-03-01  990067758           0.0 2022-05-01  2.033333
279997 2022-03-01  990070257           0.0 2022-05-01  2.033333
280013 2022-03-01  990072233           0.0 2022-05-01  2.033333
280029 2022-03-01  990073007           0.0 2022-04-01  1.033333
280034 2022-03-01  990073400           0.0 2022-05-01  2.033333
280095 2022-03-01  990077815           0.0 2022-04-01  1.033333
280097 2022-03-01  990077816           0.0 2022-05-01  2.033333
280183 2022-03-01  990087827           0.0 2022-04-01  1.033333
280190 2022-03-01  990088115           0.0 2022-04-01  1.033333
280201 2022-03-01  990089061           0.0 2022-05-01  2.033333
280220 2022-03-01  990090873           0.0 2022-04-01  1.033333
280279 2022-03-01  990095821           0.0 2022-04-01  1.033333
280290 2022-03-01  990096718           0.0 2022-04-01  1.033333
280312 2022-04-01  201894919           0.0 2022-05-01  1.000000
280363 2022-04-01  600002337           0.0 2022-05-01  1.000000
280385 2022-04-01  600004922           0.0 2022-05-01  1.000000
280397 2022-04-01  600006892           0.0 2022-06-01  2.033333
280653 2022-04-01  600032580           0.0 2022-06-01  2.033333
280658 2022-04-01  600032821           0.0 2022-06-01  2.033333
280776 2022-04-01  600040229           0.0 2022-06-01  2.033333
280818 2022-04-01  600044789           0.0 2022-06-01  2.033333
280839 2022-04-01  600047472           0.0 2022-05-01  1.000000
280853 2022-04-01  600048861           0.0 2022-06-01  2.033333
281127 2022-04-01  600086254           0.0 2022-06-01  2.033333
281386 2022-04-01  600106751           0.0 2022-05-01  1.000000
281396 2022-04-01  600107474           0.0 2022-06-01  2.033333
281410 2022-04-01  600108284           0.0 2022-06-01  2.033333
281429 2022-04-01  600110845           0.0 2022-05-01  1.000000
281462 2022-04-01  600114295           0.0 2022-06-01  2.033333
281571 2022-04-01  600125412           0.0 2022-05-01  1.000000
281607 2022-04-01  600128433           0.0 2022-06-01  2.033333
281610 2022-04-01  600128434           0.0 2022-06-01  2.033333
281808 2022-04-01  600142401           0.0 2022-05-01  1.000000
281819 2022-04-01  600143080          27.0 2022-06-01  2.033333
282035 2022-04-01  600156468           0.0 2022-05-01  1.000000
282192 2022-04-01  600166255           0.0 2022-05-01  1.000000
282390 2022-04-01  600179055           0.0 2022-05-01  1.000000
282435 2022-04-01  600181414           0.0 2022-05-01  1.000000
282623 2022-04-01  600190525           0.0 2022-05-01  1.000000
282627 2022-04-01  600190739           0.0 2022-05-01  1.000000
282641 2022-04-01  600191244           0.0 2022-05-01  1.000000
282676 2022-04-01  600192196         109.0 2022-05-01  1.000000
282713 2022-04-01  600193406           0.0 2022-06-01  2.033333
282722 2022-04-01  600194072         109.0 2022-05-01  1.000000
282726 2022-04-01  600194073           0.0 2022-05-01  1.000000
282782 2022-04-01  600196230           0.0 2022-06-01  2.033333
282872 2022-04-01  600199500           0.0 2022-05-01  1.000000
282900 2022-04-01  600200013           0.0 2022-05-01  1.000000
282916 2022-04-01  600200434           0.0 2022-06-01  2.033333
282929 2022-04-01  600201316           0.0 2022-05-01  1.000000
282977 2022-04-01  600202818           0.0 2022-06-01  2.033333
282994 2022-04-01  600203459          19.0 2022-05-01  1.000000
283043 2022-04-01  600205648           0.0 2022-05-01  1.000000
283107 2022-04-01  600207633           0.0 2022-05-01  1.000000

In [90]:
Mora_3M = max_morosidad_cliente.groupby(['mes_inicio','CLIENTE'])['DIAS_MORA_UM'].agg({'DIAS_MORA_U3M':"max"}).reset_index()
Mora_3M.head()

C:\Users\alber\anaconda3\envs\Quash_sh\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

  mes_inicio    CLIENTE  DIAS_MORA_U3M
0 2017-02-01  201894919            0.0
1 2017-02-01  600001308            0.0
2 2017-02-01  600001953            0.0
3 2017-02-01  600004150            0.0
4 2017-02-01  600013866            0.0

In [91]:
Mora_3M.head(10)

  mes_inicio    CLIENTE  DIAS_MORA_U3M
0 2017-02-01  201894919            0.0
1 2017-02-01  600001308            0.0
2 2017-02-01  600001953            0.0
3 2017-02-01  600004150            0.0
4 2017-02-01  600013866            0.0
5 2017-02-01  600017356            0.0
6 2017-02-01  600018395            0.0
7 2017-02-01  600022827            0.0
8 2017-02-01  600033874            0.0
9 2017-02-01  600037354            0.0

In [92]:
Mora_3M.describe()

            CLIENTE  DIAS_MORA_U3M
count  3.191000e+03    3191.000000
mean   6.258783e+08      14.451583
std    1.065009e+08      55.928095
min    1.405200e+04       0.000000
25%    6.001086e+08       0.000000
50%    6.001815e+08       0.000000
75%    6.002154e+08       0.000000
max    9.901031e+08     524.000000

In [93]:
len(Mora_3M)

3191

In [94]:
Mora_3M[Mora_3M.DIAS_MORA_U3M!=0]

     mes_inicio    CLIENTE  DIAS_MORA_U3M
59   2017-03-01  600086765           23.0
94   2017-03-01  600197224           23.0
113  2017-04-01  600137786           28.0
119  2017-04-01  600158664           26.0
122  2017-04-01  600171984           28.0
123  2017-04-01  600180431           26.0
132  2017-04-01  600201307           26.0
147  2017-05-01  600096292           27.0
156  2017-05-01  600152435           27.0
169  2017-05-01  600199089           60.0
171  2017-05-01  600199989           26.0
241  2017-06-01  600189897            9.0
276  2017-07-01  600138309           25.0
285  2017-07-01  600171221            6.0
292  2017-07-01  600189897           10.0
352  2017-08-01  800062288            2.0
362  2017-09-01  600065450           26.0
391  2017-09-01  800062288            2.0
407  2017-10-01  600112107           28.0
479  2017-11-01  600136486           17.0
484  2017-11-01  600149354           17.0
496  2017-11-01  600194180           26.0
515  2017-12-01  600112107           28.0
517  2017-12-01  600138866           16.0
542  2018-01-01  600033432           58.0
599  2018-02-01  600153180            1.0
604  2018-02-01  600189897           24.0
641  2018-03-01  600171801           17.0
660  2018-03-01  600220937           14.0
686  2018-04-01  600187909           14.0
707  2018-05-01  600079420            4.0
722  2018-05-01  600205722           26.0
776  2018-07-01  600022404           28.0
785  2018-07-01  600125804           27.0
787  2018-07-01  600142456           28.0
791  2018-07-01  600189897           10.0
794  2018-07-01  600209346           47.0
812  2018-08-01  600125552           16.0
842  2018-09-01  600118599           28.0
875  2018-10-01  600148357          106.0
877  2018-10-01  600154106          106.0
879  2018-10-01  600156414           16.0
890  2018-10-01  600233714           17.0
894  2018-11-01  600008285           47.0
897  2018-11-01  600117302          197.0
902  2018-11-01  600155750           17.0
908  2018-11-01  600202785           25.0
915  2018-12-01  600039534           76.0
919  2018-12-01  600092884           85.0
921  2018-12-01  600121173           46.0
923  2018-12-01  600135402          136.0
924  2018-12-01  600140085          175.0
927  2018-12-01  600162877           47.0
930  2018-12-01  600198456           85.0
934  2018-12-01  600213209          235.0
936  2018-12-01  600217491           46.0
937  2018-12-01  600220678          286.0
943  2019-01-01  600033432           58.0
953  2019-01-01  600138309          146.0
955  2019-01-01  600167603          407.0
956  2019-01-01  600179843          317.0
957  2019-01-01  600181632          326.0
958  2019-01-01  600184632           86.0
959  2019-01-01  600186291          377.0
961  2019-01-01  600200516          137.0
962  2019-01-01  600203845          266.0
964  2019-01-01  600226273          167.0
975  2019-02-01  600096264           77.0
976  2019-02-01  600120557          206.0
977  2019-02-01  600120636          227.0
982  2019-02-01  600153860           56.0
984  2019-02-01  600160859           86.0
986  2019-02-01  600165785           47.0
987  2019-02-01  600165903           52.0
990  2019-02-01  600191339           77.0
995  2019-02-01  600205092           86.0
999  2019-02-01  600210971           77.0
1002 2019-02-01  600217464           77.0
1003 2019-02-01  600223229           58.0
1019 2019-03-01  600029328            6.0
1032 2019-03-01  600149672           74.0
1033 2019-03-01  600152920           25.0
1037 2019-03-01  600183820          284.0
1041 2019-03-01  600209039          293.0
1045 2019-03-01  600227153           17.0
1047 2019-03-01  600234462           47.0
1058 2019-04-01  600043786           86.0
1059 2019-04-01  600055184           26.0
1060 2019-04-01  600057192          347.0
1062 2019-04-01  600068631           86.0
1072 2019-04-01  600107993           56.0
1073 2019-04-01  600119180           47.0
1074 2019-04-01  600122302           77.0
1075 2019-04-01  600134836           87.0
1079 2019-04-01  600147904           44.0
1083 2019-04-01  600164243           17.0
1091 2019-04-01  600190728           47.0
1094 2019-04-01  600193322          142.0
1095 2019-04-01  600195575           47.0
1096 2019-04-01  600198016           26.0
1097 2019-04-01  600201307           56.0
1100 2019-04-01  600220039           77.0
1111 2019-05-01  600029231           56.0
1113 2019-05-01  600038087          196.0
1117 2019-05-01  600092344          136.0
1118 2019-05-01  600100032           27.0
1122 2019-05-01  600137787          115.0
1123 2019-05-01  600144983           86.0
1124 2019-05-01  600145172          106.0
1127 2019-05-01  600153381           23.0
1135 2019-05-01  600182414          235.0
1136 2019-05-01  600186989           46.0
1137 2019-05-01  600190064          346.0
1140 2019-05-01  600210377          136.0
1141 2019-05-01  600212705          196.0
1143 2019-05-01  600222595          205.0
1152 2019-06-01  600002522          326.0
1155 2019-06-01  600022126           46.0
1157 2019-06-01  600033573          347.0
1161 2019-06-01  600072903          407.0
1166 2019-06-01  600113970          317.0
1176 2019-06-01  600165775          232.0
1179 2019-06-01  600167565          227.0
1183 2019-06-01  600178954          197.0
1184 2019-06-01  600179551          197.0
1188 2019-06-01  600210477           25.0
1205 2019-07-01  600064276           25.0
1213 2019-07-01  600151072          346.0
1214 2019-07-01  600155628           16.0
1215 2019-07-01  600159838           26.0
1217 2019-07-01  600168386          145.0
1220 2019-07-01  600173035           27.0
1224 2019-07-01  600184304           25.0
1225 2019-07-01  600190300           16.0
1227 2019-07-01  600194985           76.0
1229 2019-07-01  600201236           86.0
1236 2019-07-01  600221147          115.0
1239 2019-07-01  600234382          235.0
1254 2019-08-01  600133935           41.0
1256 2019-08-01  600144735           47.0
1261 2019-08-01  600209747          407.0
1263 2019-08-01  600213605          107.0
1270 2019-09-01  600022213          292.0
1271 2019-09-01  600024956          137.0
1279 2019-09-01  600123408           17.0
1280 2019-09-01  600133935           47.0
1283 2019-09-01  600152920           77.0
1295 2019-09-01  600211005          107.0
1296 2019-09-01  600215065           77.0
1307 2019-10-01  600102268          211.0
1308 2019-10-01  600102659          107.0
1310 2019-10-01  600105531          175.0
1315 2019-10-01  600133935           75.0
1326 2019-10-01  600206120          201.0
1330 2019-10-01  600238212          150.0
1339 2019-11-01  600071900           75.0
1340 2019-11-01  600073300           85.0
1342 2019-11-01  600107993          120.0
1345 2019-11-01  600148357          120.0
1348 2019-11-01  600192942          135.0
1349 2019-11-01  600201254          445.0
1350 2019-11-01  600205092           89.0
1353 2019-12-01  600004150          105.0
1354 2019-12-01  600006262           44.0
1355 2019-12-01  600009695           85.0
1356 2019-12-01  600022431           55.0
1357 2019-12-01  600026532          224.0
1358 2019-12-01  600029086           27.0
1359 2019-12-01  600039648          150.0
1361 2019-12-01  600077401          104.0
1362 2019-12-01  600079040          435.0
1363 2019-12-01  600091253           24.0
1364 2019-12-01  600092344           88.0
1365 2019-12-01  600093250           14.0
1366 2019-12-01  600093884          104.0
1367 2019-12-01  600100032          104.0
1368 2019-12-01  600105102          164.0
1369 2019-12-01  600120636          150.0
1370 2019-12-01  600123951           27.0
1372 2019-12-01  600139192          144.0
1373 2019-12-01  600144456           84.0
1375 2019-12-01  600161580           85.0
1376 2019-12-01  600167565           88.0
1378 2019-12-01  600180823           84.0
1379 2019-12-01  600189897           54.0
1382 2019-12-01  600199513           84.0
1384 2019-12-01  600211051           24.0
1385 2019-12-01  600212140           74.0
1386 2019-12-01  600212239          134.0
1387 2019-12-01  600217499           54.0
1388 2019-12-01  600217593           74.0
1389 2019-12-01  600218949           14.0
1392 2019-12-01  600233714           44.0
1396 2020-01-01  600019044          105.0
1398 2020-01-01  600032731           75.0
1400 2020-01-01  600060590          205.0
1402 2020-01-01  600091052           75.0
1406 2020-01-01  600138960          165.0
1407 2020-01-01  600141277           55.0
1408 2020-01-01  600149721           75.0
1409 2020-01-01  600149949          205.0
1410 2020-01-01  600152498           75.0
1411 2020-01-01  600157562          435.0
1412 2020-01-01  600162565          135.0
1413 2020-01-01  600165785           89.0
1414 2020-01-01  600180431           28.0
1415 2020-01-01  600183852          105.0
1416 2020-01-01  600184632          303.0
1419 2020-01-01  600192471          105.0
1420 2020-01-01  600198407           45.0
1423 2020-01-01  600208640          105.0
1427 2020-01-01  600229387           85.0
1428 2020-01-01  600233290           45.0
1432 2020-02-01  600022518           28.0
1435 2020-02-01  600044329           10.0
1437 2020-02-01  600051030           55.0
1440 2020-02-01  600090916           75.0
1441 2020-02-01  600093250            4.0
1442 2020-02-01  600095589           15.0
1443 2020-02-01  600112558           75.0
1444 2020-02-01  600113970           89.0
1445 2020-02-01  600132093           75.0
1447 2020-02-01  600134710          145.0
1448 2020-02-01  600135402           89.0
1449 2020-02-01  600137787           89.0
1450 2020-02-01  600149971           75.0
1451 2020-02-01  600165903           59.0
1452 2020-02-01  600167158          475.0
1453 2020-02-01  600168386          120.0
1454 2020-02-01  600173035           89.0
1455 2020-02-01  600185327           85.0
1458 2020-02-01  600194161          145.0
1459 2020-02-01  600197216           55.0
1460 2020-02-01  600198456          350.0
1461 2020-02-01  600204906           28.0
1463 2020-02-01  600218503          135.0
1464 2020-02-01  600220767           85.0
1465 2020-02-01  600222067           75.0
1466 2020-02-01  600227153           45.0
1467 2020-02-01  600227567          175.0
1471 2020-03-01  600018060          102.0
1472 2020-03-01  600018138           25.0
1474 2020-03-01  600079800           26.0
1475 2020-03-01  600107036           28.0
1478 2020-03-01  600138991           26.0
1479 2020-03-01  600143288          143.0
1480 2020-03-01  600151705           72.0
1481 2020-03-01  600153818           12.0
1482 2020-03-01  600163349          342.0
1483 2020-03-01  600171984           88.0
1485 2020-03-01  600185171           26.0
1487 2020-03-01  600189072           72.0
1488 2020-03-01  600190033           23.0
1489 2020-03-01  600191986           75.0
1490 2020-03-01  600201389           15.0
1492 2020-03-01  600204906           28.0
1493 2020-03-01  600205481           85.0
1495 2020-03-01  600225904          102.0
1496 2020-03-01  600227310          102.0
1498 2020-03-01  600233416           72.0
1500 2020-04-01  600070104          195.0
1501 2020-04-01  600133702          165.0
1502 2020-04-01  600171801          333.0
1503 2020-04-01  600181272          235.0
1505 2020-04-01  600197177          102.0
1507 2020-05-01  600011704          315.0
1509 2020-05-01  600125735          224.0
1510 2020-05-01  600144456          179.0
1511 2020-05-01  600174812          194.0
1512 2020-05-01  600181550          194.0
1513 2020-05-01  600189105          271.0
1514 2020-05-01  600190559          194.0
1518 2020-05-01  600199670            6.0
1519 2020-05-01  600202972          315.0
1520 2020-05-01  600209039          271.0
1523 2020-05-01  600213723          314.0
1525 2020-05-01  600218906          314.0
1527 2020-05-01  600225663          314.0
1528 2020-05-01  600226842          195.0
1529 2020-05-01  600227072          284.0
1530 2020-05-01  600249172          424.0
1538 2020-06-01  600119180          362.0
1539 2020-06-01  600127414          345.0
1540 2020-06-01  600148224          285.0
1542 2020-06-01  600187808          315.0
1543 2020-06-01  600190870          345.0
1545 2020-06-01  600196053          255.0
1546 2020-06-01  600199060          345.0
1548 2020-06-01  600200431          179.0
1555 2020-07-01  600038087          148.0
1570 2020-08-01  600021824          435.0
1574 2020-08-01  600102142          334.0
1576 2020-08-01  600167906          255.0
1577 2020-08-01  600169555          255.0
1580 2020-08-01  600204978          405.0
1587 2020-09-01  600218343          465.0
1592 2020-10-01  600154106          524.0
1608 2020-11-01  600224917          495.0
1610 2020-11-01  600230507          495.0
1616 2020-12-01  600157396          494.0
1617 2020-12-01  600157757          455.0
1621 2020-12-01  600194274          464.0
1750 2021-04-01  600028934          108.0
1796 2021-04-01  600133923          108.0
1800 2021-04-01  600137081           20.0
1808 2021-04-01  600150301          108.0
1821 2021-04-01  600168337          108.0
1845 2021-04-01  600199126          108.0
1852 2021-04-01  600203904          108.0
1903 2021-04-01  800113466            8.0
2065 2021-05-01  600189882          201.0
2067 2021-05-01  600190122          138.0
2289 2021-06-01  600153180           25.0
2295 2021-06-01  600179069          169.0
2298 2021-06-01  600192943          169.0
2300 2021-06-01  600197271          169.0
2362 2021-07-01  600183519          169.0
2406 2021-08-01  600088182           47.0
2425 2021-08-01  600180136           20.0
2437 2021-08-01  600209987           28.0
2439 2021-08-01  600219548           20.0
2444 2021-08-01  600223551           47.0
2445 2021-08-01  600226532           20.0
2503 2021-09-01  600183274           20.0
2551 2021-10-01  600023388          107.0
2554 2021-10-01  600041991           18.0
2569 2021-10-01  600164898           18.0
2582 2021-10-01  600195147           27.0
2584 2021-10-01  600199670           28.0
2591 2021-10-01  600214349           18.0
2613 2021-10-01  990049104           18.0
2631 2021-11-01  600153860           20.0
2637 2021-11-01  600189882          385.0
2639 2021-11-01  600196451           18.0
2644 2021-11-01  600221150           27.0
2648 2021-11-01  600226747           49.0
2649 2021-11-01  600227572           20.0
2659 2021-11-01  800070932           20.0
2676 2021-12-01  600015087           79.0
2685 2021-12-01  600112558          119.0
2686 2021-12-01  600122792           50.0
2689 2021-12-01  600150301          352.0
2697 2021-12-01  600186038           19.0
2699 2021-12-01  600195801           19.0
2705 2021-12-01  600206834           50.0
2716 2021-12-01  600228691           20.0
2738 2022-01-01  600004922            1.0
2746 2022-01-01  600089584           58.0
2748 2022-01-01  600093250            4.0
2755 2022-01-01  600161220           89.0
2787 2022-01-01  990001146           19.0
2799 2022-02-01  600043684          150.0
2803 2022-02-01  600065450           20.0
2806 2022-02-01  600109066           20.0
2807 2022-02-01  600136425          446.0
2808 2022-02-01  600140438           50.0
2809 2022-02-01  600155527           20.0
2812 2022-02-01  600161535          173.0
2819 2022-02-01  600185171           20.0
2820 2022-02-01  600189072          150.0
2822 2022-02-01  600192196           20.0
2844 2022-02-01  600227321           20.0
2850 2022-02-01  600258044           20.0
2852 2022-02-01  600262693           28.0
2872 2022-03-01  600053248           19.0
2873 2022-03-01  600058556           20.0
2881 2022-03-01  600125382           19.0
2887 2022-03-01  600154332           78.0
2890 2022-03-01  600163186           17.0
2899 2022-03-01  600188456           17.0
2911 2022-03-01  600207284           20.0
2912 2022-03-01  600209981           48.0
2913 2022-03-01  600210729           19.0
2953 2022-04-01  600007221           79.0
2961 2022-04-01  600060350           20.0
2965 2022-04-01  600093281           20.0
2966 2022-04-01  600105998           20.0
2969 2022-04-01  600108284           20.0
2970 2022-04-01  600109066           20.0
2972 2022-04-01  600124660           20.0
2974 2022-04-01  600127070           20.0
2977 2022-04-01  600143346           50.0
2978 2022-04-01  600151784           20.0
2979 2022-04-01  600155842           50.0
2981 2022-04-01  600164297           20.0
2982 2022-04-01  600164645           20.0
2984 2022-04-01  600173472           20.0
2985 2022-04-01  600178804           20.0
2986 2022-04-01  600191766           17.0
2987 2022-04-01  600192367           50.0
2989 2022-04-01  600197053           20.0
2990 2022-04-01  600198826           20.0
2991 2022-04-01  600199670           65.0
2995 2022-04-01  600219513           50.0
2996 2022-04-01  600220860           20.0
2998 2022-04-01  600225770           20.0
2999 2022-04-01  600225993           20.0
3000 2022-04-01  600227166           17.0
3003 2022-04-01  600231774           20.0
3005 2022-04-01  600233615           20.0
3008 2022-04-01  600244896           50.0
3009 2022-04-01  600248082           20.0
3010 2022-04-01  600250877           20.0
3016 2022-04-01  600266427           48.0
3018 2022-04-01  600267082           50.0
3019 2022-04-01  800080433           20.0
3020 2022-04-01  800103004           28.0
3021 2022-04-01  800103797           28.0
3024 2022-04-01  990005588           20.0
3041 2022-05-01  600002337           20.0
3055 2022-05-01  600192196          109.0
3056 2022-05-01  600194072          109.0
3057 2022-05-01  600194073           20.0
3061 2022-05-01  600203459           19.0
3069 2022-05-01  600233538          201.0
3075 2022-05-01  600266427           78.0
3107 2022-06-01  600107474           20.0
3112 2022-06-01  600143080           28.0
3114 2022-06-01  600193406           20.0
3122 2022-06-01  800029619           20.0
3139 2022-06-01  990083939           20.0
3146 2022-07-01  600046510           58.0
3147 2022-07-01  600117343           28.0
3152 2022-07-01  600193926          209.0
3179 2022-07-01  990072757           27.0

In [95]:
base_objetivo_m1.head()

     CLIENTE  mes_inicio  DIAS_MORA_UM
0      14052  2019-03-01           0.0
1  200111260  2018-05-01           0.0
2  200194137  2018-01-01           0.0
3  200194137  2019-06-01           NaN
4  200202823  2017-06-01           0.0

In [96]:
Mora_3M.head()

  mes_inicio    CLIENTE  DIAS_MORA_U3M
0 2017-02-01  201894919            0.0
1 2017-02-01  600001308            0.0
2 2017-02-01  600001953            0.0
3 2017-02-01  600004150            0.0
4 2017-02-01  600013866            0.0

In [97]:
Mora_3M.loc[0,'mes_inicio']

Timestamp('2017-02-01 00:00:00')

In [98]:
Mora_3M['mes_inicio'] = Mora_3M['mes_inicio'].astype(str)

In [99]:
Mora_3M.loc[0,'mes_inicio']

'2017-02-01'

In [100]:
base_objetivo_m1.loc[0,'mes_inicio']

'2019-03-01'

In [101]:
base_objetivo_moras = base_objetivo_m1.merge(Mora_3M, how= 'left', on = ['mes_inicio','CLIENTE'])
base_objetivo_moras.head()

     CLIENTE  mes_inicio  DIAS_MORA_UM  DIAS_MORA_U3M
0      14052  2019-03-01           0.0            0.0
1  200111260  2018-05-01           0.0            0.0
2  200194137  2018-01-01           0.0            0.0
3  200194137  2019-06-01           NaN            0.0
4  200202823  2017-06-01           0.0            0.0

In [102]:
base_objetivo_moras.drop_duplicates(subset='CLIENTE')

        CLIENTE  mes_inicio  DIAS_MORA_UM  DIAS_MORA_U3M
0         14052  2019-03-01           0.0            0.0
1     200111260  2018-05-01           0.0            0.0
2     200194137  2018-01-01           0.0            0.0
4     200202823  2017-06-01           0.0            0.0
8     201421604  2018-06-01           0.0            0.0
10    201442214  2020-06-01           0.0            0.0
11    201476823  2019-12-01           0.0            0.0
13    201604443  2018-10-01           0.0            0.0
16    201894919  2017-01-01           NaN            NaN
22    201955981  2018-01-01           0.0            0.0
26    202268555  2021-10-01           NaN            NaN
27    202815936  2017-06-01           0.0            0.0
29    202909805  2017-01-01           NaN            NaN
31    203471210  2020-06-01           NaN            NaN
33    204018404  2018-03-01           0.0            0.0
35    205465792  2017-06-01           0.0            0.0
38    300090017  2022-02-01           NaN            NaN
39    300090043  2021-10-01           NaN            NaN
40    300090374  2021-10-01           NaN            NaN
41    300090418  2022-07-01           NaN            NaN
42    300090501  2021-10-01           NaN            NaN
43    541570949  2018-05-01           NaN            NaN
44    600000083  2016-12-01           NaN            NaN
47    600000344  2018-06-01           NaN            NaN
49    600000391  2017-11-01           NaN            NaN
51    600000430  2017-04-01           0.0            0.0
52    600000692  2019-05-01           0.0            0.0
53    600000719  2019-04-01           0.0            0.0
54    600000750  2017-04-01           NaN            0.0
57    600001014  2017-03-01           NaN            NaN
58    600001308  2017-02-01           0.0            0.0
61    600001430  2021-05-01           0.0            0.0
62    600001475  2018-12-01           0.0            0.0
63    600001953  2017-02-01           0.0            0.0
65    600001987  2019-05-01           NaN            NaN
66    600002203  2019-08-01           0.0            0.0
67    600002213  2018-03-01           0.0            0.0
68    600002311  2019-03-01           0.0            0.0
71    600002337  2016-12-01           NaN            NaN
77    600002493  2019-03-01           NaN            NaN
78    600002522  2017-02-01           NaN            NaN
80    600002751  2017-08-01           NaN            NaN
82    600002961  2019-07-01           0.0            0.0
83    600003539  2018-05-01           NaN            NaN
85    600004097  2016-12-01           NaN            NaN
89    600004144  2022-07-01           NaN            NaN
90    600004150  2017-02-01           0.0            0.0
92    600004770  2021-07-01           NaN            NaN
93    600004922  2017-03-01           0.0            0.0
98    600004997  2022-04-01           NaN            NaN
99    600005403  2019-07-01           NaN            NaN
101   600005720  2022-04-01           NaN            NaN
102   600006029  2019-02-01           0.0            0.0
105   600006262  2017-06-01           0.0            0.0
107   600006616  2017-04-01           0.0            0.0
109   600006892  2019-03-01           NaN            NaN
112   600006916  2017-03-01           0.0            0.0
113   600006982  2018-06-01           NaN            NaN
115   600007221  2017-06-01           0.0            0.0
118   600007360  2018-06-01           NaN            NaN
120   600007675  2021-03-01           0.0            0.0
121   600007691  2017-03-01           0.0            0.0
124   600007718  2021-08-01           0.0            0.0
125   600007740  2017-03-01           NaN            NaN
126   600007990  2018-04-01           NaN            NaN
129   600008016  2018-02-01           0.0            0.0
132   600008020  2018-11-01           0.0            0.0
133   600008035  2018-06-01           0.0            0.0
134   600008130  2017-11-01           NaN            NaN
135   600008285  2018-11-01          47.0           47.0
136   600008313  2022-07-01           0.0            0.0
137   600008505  2021-06-01           0.0            0.0
138   600008507  2017-06-01           0.0            0.0
140   600008593  2016-12-01           NaN            NaN
143   600008989  2021-05-01           0.0            0.0
144   600009695  2017-03-01           0.0            0.0
146   600010003  2017-06-01           0.0            0.0
149   600010012  2019-08-01           0.0            0.0
150   600010095  2018-08-01           0.0            0.0
151   600010436  2017-11-01           0.0            0.0
152   600010763  2016-12-01           NaN            NaN
153   600011451  2019-04-01           0.0            0.0
155   600011645  2017-08-01           NaN            NaN
156   600011704  2020-05-01           NaN          315.0
157   600011906  2021-01-01           0.0            0.0
158   600012112  2021-06-01           NaN            NaN
159   600012534  2017-03-01           NaN            0.0
160   600012849  2017-09-01           NaN            NaN
162   600013268  2021-04-01           0.0            0.0
163   600013461  2021-05-01           0.0            0.0
164   600013488  2017-06-01           0.0            0.0
167   600013495  2017-02-01           NaN            NaN
168   600013503  2017-10-01           0.0            0.0
170   600013563  2017-01-01           NaN            NaN
174   600013866  2017-02-01           0.0            0.0
176   600014654  2017-10-01           0.0            0.0
178   600014655  2021-03-01           NaN            NaN
179   600014964  2021-12-01           0.0            0.0
180   600015087  2021-12-01          79.0           79.0
181   600015285  2017-11-01           NaN            NaN
182   600015310  2018-04-01           0.0            0.0
185   600015520  2018-03-01           NaN            NaN
186   600015600  2018-06-01           0.0            0.0
192   600016109  2017-10-01           NaN            NaN
193   600016118  2018-07-01           0.0            0.0
194   600016174  2016-12-01           NaN            NaN
195   600016393  2020-03-01           NaN            NaN
196   600016465  2021-11-01           0.0            0.0
197   600016653  2017-09-01           NaN            NaN
198   600016775  2018-08-01           0.0            0.0
202   600017194  2020-05-01           NaN            NaN
203   600017246  2017-11-01           NaN            NaN
204   600017356  2017-02-01           0.0            0.0
207   600017494  2021-04-01           0.0            0.0
210   600017807  2017-11-01           0.0            0.0
212   600017931  2017-04-01           NaN            NaN
214   600018060  2020-03-01         102.0          102.0
215   600018138  2017-06-01           0.0            0.0
218   600018359  2019-08-01           0.0            0.0
219   600018395  2017-02-01           0.0            0.0
221   600018664  2021-05-01           0.0            0.0
222   600018666  2018-07-01           NaN            NaN
224   600018751  2021-09-01           0.0            0.0
225   600019044  2020-01-01         105.0          105.0
226   600019161  2017-02-01           NaN            NaN
228   600019326  2016-12-01           NaN            NaN
229   600020010  2019-11-01           0.0            0.0
231   600020836  2021-04-01           0.0            0.0
233   600020845  2020-01-01           0.0            0.0
234   600021015  2021-04-01           0.0            0.0
236   600021252  2018-10-01           NaN            NaN
237   600021424  2021-04-01           0.0            0.0
238   600021573  2021-05-01           0.0            0.0
240   600021627  2019-02-01           0.0            0.0
242   600021780  2020-02-01           NaN            NaN
243   600021824  2017-11-01           0.0            0.0
245   600021861  2021-10-01           0.0            0.0
246   600021903  2017-03-01           NaN            NaN
248   600022126  2017-04-01           NaN            NaN
251   600022213  2019-09-01         172.0          292.0
252   600022326  2018-02-01           NaN            NaN
253   600022404  2018-07-01           0.0           28.0
255   600022431  2019-12-01           0.0           55.0
258   600022518  2020-02-01           0.0           28.0
259   600022600  2021-05-01           0.0            0.0
260   600022827  2017-02-01           0.0            0.0
262   600022947  2019-11-01           0.0            0.0
263   600023178  2018-08-01           NaN            NaN
264   600023388  2019-06-01           NaN            NaN
269   600023444  2017-06-01           0.0            0.0
270   600023459  2020-02-01           0.0            0.0
271   600023802  2017-06-01           0.0            0.0
274   600023817  2017-04-01           0.0            0.0
275   600024692  2018-05-01           0.0            0.0
277   600024868  2021-04-01           0.0            0.0
279   600024905  2017-09-01           0.0            0.0
280   600024956  2018-04-01           0.0            0.0
282   600024965  2017-06-01           NaN            NaN
284   600025141  2018-03-01           NaN            NaN
285   600025148  2018-03-01           0.0            0.0
286   600025554  2021-05-01           NaN            NaN
287   600026359  2018-03-01           NaN            NaN
288   600026532  2017-05-01           NaN            NaN
291   600026757  2022-02-01           NaN            NaN
292   600027373  2018-05-01           0.0            0.0
294   600027469  2017-01-01           NaN            NaN
296   600027493  2022-02-01           0.0            0.0
297   600027599  2017-08-01           0.0            0.0
300   600027855  2018-06-01           0.0            0.0
301   600027955  2017-09-01           0.0            0.0
302   600028055  2017-11-01           0.0            0.0
304   600028257  2019-12-01           NaN            NaN
305   600028362  2021-04-01           0.0            0.0
307   600028566  2018-04-01           NaN            NaN
308   600028934  2017-07-01           0.0            0.0
310   600028983  2020-02-01           NaN            NaN
311   600029086  2019-12-01          27.0           27.0
314   600029107  2019-11-01           0.0            0.0
316   600029141  2022-04-01           0.0            0.0
317   600029231  2017-01-01           NaN            NaN
320   600029328  2017-05-01           0.0            0.0
327   600029353  2021-06-01           0.0            0.0
328   600029581  2021-06-01           NaN            NaN
329   600030021  2017-03-01           0.0            0.0
331   600030194  2019-06-01           0.0            0.0
332   600030266  2017-02-01           NaN            NaN
333   600030284  2017-10-01           NaN            NaN
334   600030451  2019-02-01           0.0            0.0
336   600031045  2021-03-01           0.0            0.0
337   600031343  2021-03-01           NaN            NaN
338   600031844  2021-04-01           0.0            0.0
341   600031968  2021-12-01           0.0            0.0
342   600032152  2019-05-01           NaN            NaN
343   600032330  2018-11-01           NaN            NaN
345   600032580  2019-09-01           0.0            0.0
348   600032691  2022-05-01           NaN            NaN
350   600032703  2018-09-01           0.0            0.0
351   600032731  2020-01-01          75.0           75.0
352   600032821  2019-04-01           NaN            NaN
355   600033003  2017-06-01           0.0            0.0
361   600033057  2021-06-01           0.0            0.0
363   600033202  2018-06-01           0.0            0.0
364   600033211  2016-12-01           NaN            NaN
367   600033255  2017-11-01           NaN            NaN
368   600033432  2018-01-01          58.0           58.0
370   600033573  2019-06-01         347.0          347.0
371   600033723  2017-10-01           0.0            0.0
372   600033874  2017-02-01           0.0            0.0
373   600033880  2018-08-01           0.0            0.0
374   600033905  2022-06-01           NaN            NaN
375   600034105  2017-08-01           0.0            0.0
376   600034347  2021-09-01           0.0            0.0
377   600034408  2017-06-01           0.0            0.0
378   600034419  2017-10-01           NaN            NaN
380   600034587  2019-06-01           0.0            0.0
381   600034696  2019-02-01           NaN            NaN
383   600034870  2017-06-01           0.0            0.0
384   600034994  2017-08-01           NaN            NaN
385   600035268  2021-09-01           0.0            0.0
386   600035294  2017-09-01           0.0            0.0
388   600035482  2017-07-01           NaN            NaN
389   600035696  2017-11-01           NaN            NaN
391   600035776  2021-06-01           0.0            0.0
392   600035960  2017-03-01           0.0            0.0
396   600036011  2019-10-01           NaN            NaN
397   600036036  2021-04-01           NaN            NaN
398   600036083  2021-11-01           NaN            NaN
399   600036125  2018-10-01           NaN            NaN
400   600036192  2017-11-01           0.0            0.0
402   600036267  2017-10-01           NaN            NaN
403   600036282  2017-05-01           NaN            NaN
405   600036527  2018-02-01           NaN            NaN
406   600036531  2018-06-01           NaN            NaN
407   600036763  2017-09-01           0.0            0.0
409   600036819  2022-06-01           NaN            NaN
410   600036859  2021-06-01           NaN            NaN
411   600036905  2018-06-01           NaN            NaN
412   600037203  2021-04-01           0.0            0.0
414   600037225  2021-04-01           0.0            0.0
416   600037302  2017-07-01           0.0            0.0
417   600037354  2017-02-01           0.0            0.0
418   600037553  2019-05-01           NaN            NaN
419   600037612  2021-11-01           0.0            0.0
420   600037627  2017-03-01           NaN            0.0
422   600038038  2018-03-01           NaN            NaN
423   600038082  2018-06-01           NaN            NaN
427   600038087  2019-05-01         196.0          196.0
429   600038205  2017-11-01           NaN            NaN
431   600038315  2018-07-01           0.0            0.0
433   600038639  2020-12-01           0.0            0.0
...         ...         ...           ...            ...
5828  990094756  2022-03-01           NaN            NaN
5829  990094788  2022-03-01           NaN            NaN
5830  990094923  2022-03-01           NaN            NaN
5831  990094930  2022-03-01           NaN            NaN
5832  990095073  2022-04-01           NaN            NaN
5833  990095109  2022-03-01           NaN            NaN
5834  990095120  2022-03-01           NaN            NaN
5835  990095169  2022-03-01           NaN            NaN
5836  990095185  2022-03-01           NaN            NaN
5838  990095275  2022-03-01           NaN            NaN
5839  990095417  2022-03-01           NaN            NaN
5840  990095480  2022-03-01           NaN            NaN
5841  990095490  2022-03-01           NaN            NaN
5842  990095523  2022-04-01           NaN            NaN
5843  990095741  2022-03-01           NaN            NaN
5844  990095750  2022-03-01           NaN            NaN
5845  990095813  2022-03-01           NaN            NaN
5846  990095821  2022-04-01           0.0            0.0
5848  990095836  2022-03-01           NaN            NaN
5850  990095896  2022-06-01           NaN            NaN
5851  990095933  2022-03-01           NaN            NaN
5852  990095943  2022-03-01           NaN            NaN
5853  990096004  2022-03-01           NaN            NaN
5854  990096005  2022-03-01           NaN            NaN
5855  990096090  2022-03-01           NaN            NaN
5856  990096095  2022-03-01           NaN            NaN
5857  990096096  2022-03-01           NaN            NaN
5858  990096192  2022-03-01           NaN            NaN
5859  990096234  2022-05-01           NaN            NaN
5860  990096240  2022-03-01           NaN            NaN
5861  990096280  2022-03-01           NaN            NaN
5862  990096406  2022-06-01           NaN            NaN
5863  990096409  2022-04-01           NaN            NaN
5864  990096470  2022-03-01           NaN            NaN
5865  990096603  2022-03-01           NaN            NaN
5866  990096638  2022-04-01           NaN            NaN
5867  990096652  2022-03-01           NaN            NaN
5868  990096677  2022-03-01           NaN            NaN
5869  990096684  2022-03-01           NaN            NaN
5870  990096714  2022-04-01           NaN            NaN
5871  990096716  2022-05-01           NaN            NaN
5872  990096718  2022-03-01           NaN            NaN
5874  990096820  2022-03-01           NaN            NaN
5875  990096921  2022-03-01           NaN            NaN
5876  990096969  2022-04-01           NaN            NaN
5877  990096994  2022-03-01           NaN            NaN
5878  990096995  2022-03-01           NaN            NaN
5879  990097151  2022-03-01           NaN            NaN
5880  990097194  2022-03-01           NaN            NaN
5881  990097206  2022-03-01           NaN            NaN
5882  990097234  2022-03-01           NaN            NaN
5883  990097289  2022-04-01           NaN            NaN
5884  990097366  2022-04-01           NaN            NaN
5886  990097383  2022-06-01           NaN            NaN
5887  990097482  2022-06-01           NaN            NaN
5888  990097516  2022-04-01           NaN            NaN
5889  990097670  2022-04-01           NaN            NaN
5891  990097719  2022-04-01           NaN            NaN
5892  990097784  2022-04-01           NaN            NaN
5893  990097927  2022-04-01           NaN            NaN
5894  990097966  2022-06-01           NaN            NaN
5895  990098081  2022-04-01           NaN            NaN
5896  990098153  2022-05-01           NaN            NaN
5897  990098226  2022-04-01           NaN            NaN
5898  990098293  2022-04-01           NaN            NaN
5899  990098335  2022-04-01           NaN            NaN
5900  990098397  2022-04-01           NaN            NaN
5901  990098511  2022-04-01           NaN            NaN
5902  990098519  2022-04-01           NaN            NaN
5903  990098539  2022-04-01           NaN            NaN
5904  990098708  2022-04-01           NaN            NaN
5905  990098811  2022-04-01           NaN            NaN
5906  990098889  2022-04-01           NaN            NaN
5907  990098891  2022-04-01           NaN            NaN
5908  990098928  2022-04-01           NaN            NaN
5909  990098940  2022-04-01           NaN            NaN
5910  990098983  2022-04-01           NaN            NaN
5911  990098984  2022-04-01           NaN            NaN
5912  990099093  2022-04-01           NaN            NaN
5913  990099185  2022-04-01           NaN            NaN
5914  990099197  2022-04-01           NaN            NaN
5915  990099248  2022-04-01           NaN            NaN
5916  990099270  2022-05-01           NaN            NaN
5917  990099313  2022-04-01           NaN            NaN
5918  990099315  2022-04-01           NaN            NaN
5919  990099320  2022-04-01           NaN            NaN
5920  990099381  2022-04-01           NaN            NaN
5921  990099382  2022-04-01           NaN            NaN
5922  990099386  2022-04-01           NaN            NaN
5923  990099402  2022-04-01           NaN            NaN
5924  990099410  2022-04-01           NaN            NaN
5925  990099489  2022-04-01           NaN            NaN
5926  990099555  2022-04-01           NaN            NaN
5927  990099563  2022-05-01           NaN            NaN
5928  990099582  2022-04-01           NaN            NaN
5929  990099627  2022-05-01           NaN            NaN
5930  990099662  2022-05-01           NaN            NaN
5931  990099732  2022-04-01           NaN            NaN

In [103]:
Base_Independientes_A.head(5)

,FECHA,CLIENTE,SECTOR1,SECTOR4,SALDO,FECHA_INICIO,FECHA_VENCIMIENTO,DIAS_MORA,RANGO_MORA,PROXIMO_PAGO_CAPITAL,PROXIMO_PAGO_INTERES,fecha_reestructurado,clasificacion_Regulatoria,MONTO_IN,CUOTA_XPAGAR,ingreso,segmento,cartera,max_mora_ult_12M,Descripcion_Nivel_Educacion,Estadocivil,Genero,cantidad_Dependientes,Cargo,DescripcionIndustria,DescripcionSector,Nacionalidad,Residencia,TiempoRelacionBanco,CLASIFICACION_4,CLASIFICACION_5,SubTipoCliente,FechaNacimiento,Imgreso_DIMCLIENTES,IngresoMensual,FechaEmpleoActual,pais,provincia,ciudad,Fecha_Ult_pago_Interes,Fecha_Ult_pago_Capital,Monto_Ult_pago_Interes,Monto_Ult_pago_Capital,categoria_cambio,DESC_ESTADO_TARJETA_t,Operacion_codificada,mes,mes_inicio
10,2022-02-28,600127517,HIPOTECA RESIDENCIAL,Hipoteca Preferencial,71103.62,2014-09-25,20440903.0,0.0,1. Al da,20220303.0,20220303.0,NaN,1.0,80410.0,389.94,0.0,NaN,activo,NaN,Universitario,MARRIED,MALE,0,ABOGADO,LEGAL,P Natural,PA,PA,9Y,SERVICIOS,INDEPENDIENTES,Cliente Regular,19740108,2530.83,2530.83,20050301,PANAMA,PANAMA,PANAMA,20220210,20220210,321.70,19.50,NaN,NaN,3030XXXX5646,2022-02,2014-09
11,2022-02-28,600086511,HIPOTECA RESIDENCIAL,Hipoteca Preferencial,97427.19,2014-10-21,20441003.0,0.0,1. Al da,20220303.0,20220303.0,20210602.0,3.0,106500.0,498.58,0.0,NaN,activo,NaN,Maestra,MARRIED,MALE,0,-,CONSTRUCCION,P Natural,PA,PA,11Y,CONSTRUCCION,INDEPENDIENTES,Cliente Regular,19820901,5000.00,5000.00,20151101,PANAMA,PANAMA,PANAMA,20200317,20201126,304.79,332.93,3.0,NaN,3030XXXX6075,2022-02,2014-10
12,2022-02-28,600114703,HIPOTECA RESIDENCIAL,Hipoteca Preferencial,65146.81,2014-10-30,20441003.0,0.0,1. Al da,20220303.0,20220303.0,NaN,1.0,73000.0,199.73,0.0,NaN,activo,NaN,Universitario,SINGLE,FEMALE,0,-,ROPA CALZADO Y ACCESORIOS,P Natural,PA,PA,22Y,COMERCIALES,INDEPENDIENTES,Cliente Regular,19790620,2000.00,2000.00,20090301,PANAMA,CHIRIQUI,DAVID,20220203,20220203,144.99,18.16,NaN,NaN,3030XXXX6155,2022-02,2014-10
13,2022-03-31,990052433,HIPOTECA RESIDENCIAL,Hipoteca No Preferencial,300800.00,2022-03-18,20520403.0,0.0,1. Al da,20220503.0,20220503.0,NaN,1.0,300800.0,777.27,0.0,NaN,activo,NaN,Doctorado,MARRIED,MALE,0,ADMINISTRADOR,ALIMENTOS,P Natural,VE,PA,1Y,COMERCIALES,INDEPENDIENTES,Cliente Regular,19760906,5735.00,5735.00,20191204,PANAMA,PANAMA,Panama,NaN,NaN,0.00,0.00,NaN,NaN,1021XXX807,2022-03,2022-03
14,2022-03-31,600044329,CONSUMO PERSONAL,PP Prendarios,52202.00,2022-03-19,20270319.0,0.0,1. Al da,20270319.0,20220419.0,NaN,1.0,52202.0,52202.00,0.0,NaN,activo,NaN,Doctorado,MARRIED,FEMALE,1,ABOGADO,INSTITUCIONES DE GOBIERNO,P Natural,PA,PA,22Y,OTROS,INDEPENDIENTES,Cliente Regular,19770613,14113.75,14113.75,20191023,PANAMA,PANAMA,Panama,NaN,NaN,0.00,0.00,NaN,NaN,1021XXX567,2022-03,2022-03

In [104]:
Base_Independientes_A['Imgreso_DIMCLIENTES'].to_list() == Base_Independientes_A['IngresoMensual'].to_list()

True

#### AGREGAR VARIABLES A LA BASE PARA MODELAR

In [105]:
variables = ['mes_inicio','CLIENTE','Operacion_codificada','ingreso','segmento','Descripcion_Nivel_Educacion','Estadocivil',
            'Genero', 'cantidad_Dependientes','Cargo','DescripcionIndustria','DescripcionSector','TiempoRelacionBanco',
            'SubTipoCliente','FechaNacimiento','Imgreso_DIMCLIENTES','IngresoMensual','FechaEmpleoActual','pais','provincia',
            'ciudad']

In [106]:
Base_Independientes_A.SubTipoCliente.value_counts().head(4)

Cliente Regular    250680
-                   12371
Global                276
Name: SubTipoCliente, dtype: int64

In [107]:
Base_Independientes_A.CLASIFICACION_5.value_counts().head(4)

INDEPENDIENTES    263327
Name: CLASIFICACION_5, dtype: int64

In [108]:
Base_Independientes_A.Residencia.value_counts().head(4)

PA    262255
VE       738
AE       186
US        74
Name: Residencia, dtype: int64

In [109]:
Base_Independientes_A.segmento.value_counts().head(4)

MASIVO LOCAL                           8345
LOCAL RETAIL?MA                        1951
PREMIUM LOCAL                           827
LOCAL PREMIUM?P                         162
Name: segmento, dtype: int64

In [110]:
Base_Independientes_A.DescripcionSector.value_counts().head(4)

P Natural                            259983
Persona Juridica                        899
Sector Publico y Gobierno Central       886
Caja de Seguro Social                   877
Name: DescripcionSector, dtype: int64

In [111]:
Base_Independientes_A.Nacionalidad.value_counts().head(4)

PA    163439
VE     52545
CO     10210
IN      7116
Name: Nacionalidad, dtype: int64

In [112]:
Base_variables = Base_Independientes_A[variables].drop_duplicates(subset =['CLIENTE','mes_inicio']).reset_index(drop=True)
Base_variables.head()

,mes_inicio,CLIENTE,Operacion_codificada,ingreso,segmento,Descripcion_Nivel_Educacion,Estadocivil,Genero,cantidad_Dependientes,Cargo,DescripcionIndustria,DescripcionSector,TiempoRelacionBanco,SubTipoCliente,FechaNacimiento,Imgreso_DIMCLIENTES,IngresoMensual,FechaEmpleoActual,pais,provincia,ciudad
0,2014-09,600127517,3030XXXX5646,0.0,NaN,Universitario,MARRIED,MALE,0,ABOGADO,LEGAL,P Natural,9Y,Cliente Regular,19740108,2530.83,2530.83,20050301,PANAMA,PANAMA,PANAMA
1,2014-10,600086511,3030XXXX6075,0.0,NaN,Maestra,MARRIED,MALE,0,-,CONSTRUCCION,P Natural,11Y,Cliente Regular,19820901,5000.00,5000.00,20151101,PANAMA,PANAMA,PANAMA
2,2014-10,600114703,3030XXXX6155,0.0,NaN,Universitario,SINGLE,FEMALE,0,-,ROPA CALZADO Y ACCESORIOS,P Natural,22Y,Cliente Regular,19790620,2000.00,2000.00,20090301,PANAMA,CHIRIQUI,DAVID
3,2022-03,990052433,1021XXX807,0.0,NaN,Doctorado,MARRIED,MALE,0,ADMINISTRADOR,ALIMENTOS,P Natural,1Y,Cliente Regular,19760906,5735.00,5735.00,20191204,PANAMA,PANAMA,Panama
4,2022-03,600044329,1021XXX567,0.0,NaN,Doctorado,MARRIED,FEMALE,1,ABOGADO,INSTITUCIONES DE GOBIERNO,P Natural,22Y,Cliente Regular,19770613,14113.75,14113.75,20191023,PANAMA,PANAMA,Panama

In [113]:
Base_variables.head(10)

,mes_inicio,CLIENTE,Operacion_codificada,ingreso,segmento,Descripcion_Nivel_Educacion,Estadocivil,Genero,cantidad_Dependientes,Cargo,DescripcionIndustria,DescripcionSector,TiempoRelacionBanco,SubTipoCliente,FechaNacimiento,Imgreso_DIMCLIENTES,IngresoMensual,FechaEmpleoActual,pais,provincia,ciudad
0,2014-09,600127517,3030XXXX5646,0.0,NaN,Universitario,MARRIED,MALE,0,ABOGADO,LEGAL,P Natural,9Y,Cliente Regular,19740108,2530.83,2530.83,20050301,PANAMA,PANAMA,PANAMA
1,2014-10,600086511,3030XXXX6075,0.0,NaN,Maestra,MARRIED,MALE,0,-,CONSTRUCCION,P Natural,11Y,Cliente Regular,19820901,5000.00,5000.00,20151101,PANAMA,PANAMA,PANAMA
2,2014-10,600114703,3030XXXX6155,0.0,NaN,Universitario,SINGLE,FEMALE,0,-,ROPA CALZADO Y ACCESORIOS,P Natural,22Y,Cliente Regular,19790620,2000.00,2000.00,20090301,PANAMA,CHIRIQUI,DAVID
3,2022-03,990052433,1021XXX807,0.0,NaN,Doctorado,MARRIED,MALE,0,ADMINISTRADOR,ALIMENTOS,P Natural,1Y,Cliente Regular,19760906,5735.00,5735.00,20191204,PANAMA,PANAMA,Panama
4,2022-03,600044329,1021XXX567,0.0,NaN,Doctorado,MARRIED,FEMALE,1,ABOGADO,INSTITUCIONES DE GOBIERNO,P Natural,22Y,Cliente Regular,19770613,14113.75,14113.75,20191023,PANAMA,PANAMA,Panama
5,2022-03,990093948,1021XXX377,0.0,NaN,Universitario,SINGLE,MALE,0,AGENTE COMERCIAL,MERCANCIA,P Natural,0Y,-,19990906,2500.00,2500.00,20181101,PANAMA,PANAMA,Panama
6,2022-03,990074220,1021XXX485,0.0,NaN,Universitario,SINGLE,MALE,2,INGENIERO,ADMINISTRACION,P Natural,1Y,-,19900309,6320.83,6320.83,20160102,PANAMA,PANAMA,Panama
7,2022-03,990090427,1021XXX717,0.0,NaN,Secundaria,MARRIED,MALE,2,ADMINISTRADOR,ALIMENTOS,P Natural,0Y,-,19901008,2297.16,2297.16,20190301,PANAMA,LOS SANTOS,Panama
8,2022-03,600200013,1021XXX686,0.0,NaN,Universitario,MARRIED,MALE,0,-,AUDITORIA,P Natural,22Y,Cliente Regular,19731209,11810.69,11810.69,20100401,PANAMA,CHIRIQUI,Panama
9,2022-03,990029838,1021XXX759,0.0,NaN,Tcnico,MARRIED,FEMALE,1,GERENTE SUB GERENTE,ADMINISTRACION,P Natural,2Y,-,19881129,6474.74,6474.74,20211101,PANAMA,PANAMA,Panama

In [114]:
Base_variables.loc[10,'mes_inicio']

Period('2022-03', 'M')

In [115]:
Base_variables['mes_inicio'] = Base_variables['mes_inicio'].astype(str)+'-01'

In [116]:
len(Base_variables)

9509

In [117]:
date_format = '%Y%m%d'
Base_variables['FechaEmpleoActual'] = Base_variables.FechaEmpleoActual.apply(lambda x: datetime.strptime(str(x),date_format))
Base_variables['FechaNacimiento'] = Base_variables.FechaNacimiento.apply(lambda x: datetime.strptime(str(x),date_format))

In [118]:
data_modelo = pd.read_csv('../data/interim/data_modelo_r.csv')
del data_modelo['Unnamed: 0']

In [119]:
len(data_modelo)

3341

In [120]:
data_modelo.head()

     CLIENTE  mes_inicio  Default30  Default60  Default90  Default_R
0      14052  2019-03-01          1          1          1          0
1  200111260  2018-05-01          1          1          1          0
2  200194137  2018-01-01          1          1          1          0
3  200202823  2017-06-01          1          1          1          0
4  200202823  2019-03-01          1          1          1          0

In [121]:
data_modelo.head(10)

     CLIENTE  mes_inicio  Default30  Default60  Default90  Default_R
0      14052  2019-03-01          1          1          1          0
1  200111260  2018-05-01          1          1          1          0
2  200194137  2018-01-01          1          1          1          0
3  200202823  2017-06-01          1          1          1          0
4  200202823  2019-03-01          1          1          1          0
5  200202823  2019-09-01          1          1          1          0
6  201421604  2018-06-01          1          1          1          0
7  201421604  2019-01-01          1          1          1          0
8  201476823  2019-12-01          1          1          1          0
9  201604443  2018-10-01          1          1          1          0

In [122]:
len(data_modelo)

3341

In [123]:
data_modelo_v = data_modelo.merge(Base_variables, how= 'left', on = ['mes_inicio','CLIENTE'])

In [124]:
len(data_modelo_v)

3341

In [125]:
data_modelo_v.head()

,CLIENTE,mes_inicio,Default30,Default60,Default90,Default_R,Operacion_codificada,ingreso,segmento,Descripcion_Nivel_Educacion,Estadocivil,Genero,cantidad_Dependientes,Cargo,DescripcionIndustria,DescripcionSector,TiempoRelacionBanco,SubTipoCliente,FechaNacimiento,Imgreso_DIMCLIENTES,IngresoMensual,FechaEmpleoActual,pais,provincia,ciudad
0,14052,2019-03-01,1,1,1,0,5536XXXXXXXX1005,NaN,NaN,Universitario,SINGLE,MALE,0,DIRECTOR,EMPRESAS FINANCIERAS,P Natural,22Y,Cliente Regular,1970-11-16,42104.96,42104.96,2022-06-01,PANAMA,PANAMA,Panama
1,200111260,2018-05-01,1,1,1,0,5161XXXXXXXX4022,0.0,NaN,Universitario,MARRIED,MALE,0,DIRECTOR,FERRETERIA,P Natural,22Y,Cliente Regular,1977-07-29,30000.00,30000.00,2019-03-15,PANAMA,PANAMA,Panama
2,200194137,2018-01-01,1,1,1,0,5457XXXXXXXX7005,NaN,NaN,Universitario,MARRIED,MALE,2,JEFE DE DEPARTAMENTO,ADMINISTRACION,P Natural,27Y,Cliente Regular,1957-07-06,3000.00,3000.00,2015-02-01,PANAMA,PANAMA,Panama
3,200202823,2017-06-01,1,1,1,0,3260XXXX1199,NaN,NaN,Sin Escolaridad,SINGLE,MALE,3,GERENTE SUB GERENTE,ENTRETENIMIENTO,P Natural,5Y,Cliente Regular,1966-06-26,9625.00,9625.00,1900-01-01,PANAMA,PANAMA,Panama
4,200202823,2019-03-01,1,1,1,0,3260XXXX7065,5000.0,LOCAL RETAIL?MA,Sin Escolaridad,SINGLE,MALE,3,GERENTE SUB GERENTE,ENTRETENIMIENTO,P Natural,5Y,Cliente Regular,1966-06-26,9625.00,9625.00,1900-01-01,PANAMA,PANAMA,Panama

In [126]:
base_modelo_v_m = data_modelo_v.merge(base_objetivo_moras, how= 'left', on = ['mes_inicio','CLIENTE'])
base_modelo_v_m.head()

,CLIENTE,mes_inicio,Default30,Default60,Default90,Default_R,Operacion_codificada,ingreso,segmento,Descripcion_Nivel_Educacion,Estadocivil,Genero,cantidad_Dependientes,Cargo,DescripcionIndustria,DescripcionSector,TiempoRelacionBanco,SubTipoCliente,FechaNacimiento,Imgreso_DIMCLIENTES,IngresoMensual,FechaEmpleoActual,pais,provincia,ciudad,DIAS_MORA_UM,DIAS_MORA_U3M
0,14052,2019-03-01,1,1,1,0,5536XXXXXXXX1005,NaN,NaN,Universitario,SINGLE,MALE,0,DIRECTOR,EMPRESAS FINANCIERAS,P Natural,22Y,Cliente Regular,1970-11-16,42104.96,42104.96,2022-06-01,PANAMA,PANAMA,Panama,0.0,0.0
1,200111260,2018-05-01,1,1,1,0,5161XXXXXXXX4022,0.0,NaN,Universitario,MARRIED,MALE,0,DIRECTOR,FERRETERIA,P Natural,22Y,Cliente Regular,1977-07-29,30000.00,30000.00,2019-03-15,PANAMA,PANAMA,Panama,0.0,0.0
2,200194137,2018-01-01,1,1,1,0,5457XXXXXXXX7005,NaN,NaN,Universitario,MARRIED,MALE,2,JEFE DE DEPARTAMENTO,ADMINISTRACION,P Natural,27Y,Cliente Regular,1957-07-06,3000.00,3000.00,2015-02-01,PANAMA,PANAMA,Panama,0.0,0.0
3,200202823,2017-06-01,1,1,1,0,3260XXXX1199,NaN,NaN,Sin Escolaridad,SINGLE,MALE,3,GERENTE SUB GERENTE,ENTRETENIMIENTO,P Natural,5Y,Cliente Regular,1966-06-26,9625.00,9625.00,1900-01-01,PANAMA,PANAMA,Panama,0.0,0.0
4,200202823,2019-03-01,1,1,1,0,3260XXXX7065,5000.0,LOCAL RETAIL?MA,Sin Escolaridad,SINGLE,MALE,3,GERENTE SUB GERENTE,ENTRETENIMIENTO,P Natural,5Y,Cliente Regular,1966-06-26,9625.00,9625.00,1900-01-01,PANAMA,PANAMA,Panama,0.0,0.0

In [127]:
base_modelo = base_modelo_v_m.merge(base_objetivo_saldos, how= 'left', on = ['mes_inicio','CLIENTE'])

In [128]:
date_format = '%Y-%m-%d'
base_modelo['mes_inicio'] = base_modelo.mes_inicio.apply(lambda x: datetime.strptime(str(x),date_format))

In [129]:
base_modelo['edad'] = -(base_modelo['FechaNacimiento'] - base_modelo['mes_inicio'])
base_modelo['edad'] = base_modelo['edad'].apply(lambda x: x.days/365)

#### CALCULAR ANTIGUEDAD DE SU ULTIMO EMPLEO

In [130]:
base_modelo['antiguedad_empleo'] = -(base_modelo['FechaEmpleoActual'] - base_modelo['mes_inicio'])
base_modelo['antiguedad_empleo'] = base_modelo['antiguedad_empleo'].apply(lambda x: x.days/365)
base_modelo['antiguedad_empleo'] = base_modelo['antiguedad_empleo'].apply(lambda x: x if x<100 else np.nan)
base_modelo['antiguedad_empleo'] = base_modelo['antiguedad_empleo'].apply(lambda x: x if x>=0 else np.nan)

In [131]:
base_modelo.head()

,CLIENTE,mes_inicio,Default30,Default60,Default90,Default_R,Operacion_codificada,ingreso,segmento,Descripcion_Nivel_Educacion,Estadocivil,Genero,cantidad_Dependientes,Cargo,DescripcionIndustria,DescripcionSector,TiempoRelacionBanco,SubTipoCliente,FechaNacimiento,Imgreso_DIMCLIENTES,IngresoMensual,FechaEmpleoActual,pais,provincia,ciudad,DIAS_MORA_UM,DIAS_MORA_U3M,SALDO_PAS_UM,SALDO_TDC_UM,SALDO_CONS_UM,SALDO_HIPO_UM,SALDO_AUTO_UM,edad,antiguedad_empleo
0,14052,2019-03-01,1,1,1,0,5536XXXXXXXX1005,NaN,NaN,Universitario,SINGLE,MALE,0,DIRECTOR,EMPRESAS FINANCIERAS,P Natural,22Y,Cliente Regular,1970-11-16,42104.96,42104.96,2022-06-01,PANAMA,PANAMA,Panama,0.0,0.0,NaN,1806.87,NaN,NaN,NaN,48.320548,NaN
1,200111260,2018-05-01,1,1,1,0,5161XXXXXXXX4022,0.0,NaN,Universitario,MARRIED,MALE,0,DIRECTOR,FERRETERIA,P Natural,22Y,Cliente Regular,1977-07-29,30000.00,30000.00,2019-03-15,PANAMA,PANAMA,Panama,0.0,0.0,517658.33,4173.95,130027.61,212845.43,NaN,40.783562,NaN
2,200194137,2018-01-01,1,1,1,0,5457XXXXXXXX7005,NaN,NaN,Universitario,MARRIED,MALE,2,JEFE DE DEPARTAMENTO,ADMINISTRACION,P Natural,27Y,Cliente Regular,1957-07-06,3000.00,3000.00,2015-02-01,PANAMA,PANAMA,Panama,0.0,0.0,NaN,9101.25,NaN,NaN,NaN,60.531507,2.917808
3,200202823,2017-06-01,1,1,1,0,3260XXXX1199,NaN,NaN,Sin Escolaridad,SINGLE,MALE,3,GERENTE SUB GERENTE,ENTRETENIMIENTO,P Natural,5Y,Cliente Regular,1966-06-26,9625.00,9625.00,1900-01-01,PANAMA,PANAMA,Panama,0.0,0.0,64156.01,103.21,NaN,NaN,NaN,50.967123,NaN
4,200202823,2019-03-01,1,1,1,0,3260XXXX7065,5000.0,LOCAL RETAIL?MA,Sin Escolaridad,SINGLE,MALE,3,GERENTE SUB GERENTE,ENTRETENIMIENTO,P Natural,5Y,Cliente Regular,1966-06-26,9625.00,9625.00,1900-01-01,PANAMA,PANAMA,Panama,0.0,0.0,29122.33,NaN,1427.34,NaN,NaN,52.715068,NaN

In [132]:
base_modelo.edad.describe()

count    3341.000000
mean       41.618243
std         9.979455
min        18.526027
25%        34.221918
50%        40.745205
75%        48.219178
max        76.517808
Name: edad, dtype: float64

In [133]:
base_modelo.antiguedad_empleo.describe()

count    3166.000000
mean        8.086917
std         6.883990
min         0.000000
25%         3.050685
50%         6.067123
75%        10.838356
max        57.369863
Name: antiguedad_empleo, dtype: float64

In [134]:
len(base_modelo)

3341

In [136]:
base_modelo.to_csv('../data/interim/data_procesada_modelo.csv')