## Importing libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
import pickle
import json
pd.options.display.float_format = '{:.4f}'.format
pd.set_option('display.max_rows', None)

In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

# CARGO DATOS JSON

In [3]:
#with open('data.json',encoding='utf-8') as file:
with open('data.json',encoding='latin') as file:
    payload = json.load(file)

# Imprimo data y customer

In [4]:
customer = payload['customer']
print(customer)
input_features = pd.DataFrame(payload['data'],
                                      index=[i for i in range(len(payload['data']))])
input_features

banesco_panama

,APPLICANT_ID,Cargo,DescripcionIndustria,Descripcion_Nivel_Educacion,Estadocivil,Genero,IngresoMensual,SALDO_PAS_UM,TiempoRelacionBanco,antiguedad_empleo,cantidad_Dependientes,ciudad,edad,max_dias_atraso,monto_cuotas,pais,prom_saldo_actual,provincia,score
0,test006,OTROS,ALIMENTOS,OTROS,SINGLE,MALE,3200.0000,nan,3,3.0466,0,PANAMA,20.3425,nan,nan,PANAMA,nan,PANAMAOESTE,nan
1,test005,NaN,MERCANCIA,Universitario,SINGLE,MALE,108.3400,121345.7700,22,1.6685,0,PANAMA,52.3726,0.0000,0.0000,PANAMA,414.6567,PANAMA,692.0000

____

## Lectura de artefactos

In [5]:
with open('../artefactos/categorical_features.pkl', 'rb') as f:
    categorical_columns = pickle.load(f)

In [6]:
categorical_columns

['Descripcion_Nivel_Educacion',
 'Estadocivil',
 'Genero',
 'Cargo',
 'DescripcionIndustria',
 'pais',
 'provincia',
 'ciudad']

In [7]:
with open('../artefactos/feature_headers.pkl', 'rb') as f:
    feature_headers = pickle.load(f)

In [8]:
feature_headers

Index(['cantidad_Dependientes', 'TiempoRelacionBanco', 'IngresoMensual',
       'edad', 'antiguedad_empleo', 'score', 'max_dias_atraso',
       'ratio_i_sprom', 'ratio_i_spas', 'ratio_i_cuotas',
       'Descripcion_Nivel_Educacion__Maestria',
       'Descripcion_Nivel_Educacion__OTROS',
       'Descripcion_Nivel_Educacion__Secundaria',
       'Descripcion_Nivel_Educacion__SinEscolaridad',
       'Descripcion_Nivel_Educacion__Universitario', 'Estadocivil__MARRIED',
       'Estadocivil__OTHER', 'Estadocivil__SINGLE', 'Genero__FEMALE',
       'Genero__MALE', 'Cargo__ABOGADO', 'Cargo__ADMINISTRADOR',
       'Cargo__AGENTECOMERCIAL', 'Cargo__COMERCIANTE', 'Cargo__DIRECTOR',
       'Cargo__GERENTESUBGERENTE', 'Cargo__OTROS',
       'DescripcionIndustria__ACUICULTURAPESCADERIA',
       'DescripcionIndustria__ADMINISTRACION',
       'DescripcionIndustria__AGRICULTURAAGRONOMIA',
       'DescripcionIndustria__ALIMENTOS',
       'DescripcionIndustria__ARQUITECTURAYURBANISMO',
       'DescripcionIndustria__ASESORIAYASISTENCIA',
       'DescripcionIndustria__BELLEZAYESTETICA',
       'DescripcionIndustria__CONSTRUCCION',
       'DescripcionIndustria__CONTABILIDAD',
       'DescripcionIndustria__ELECTRICIDADYELECTRONICA',
       'DescripcionIndustria__LEGAL', 'DescripcionIndustria__MEDICINA',
       'DescripcionIndustria__MERCANCIA', 'DescripcionIndustria__OTROS',
       'DescripcionIndustria__PUBLICIDADYMERCADEO',
       'DescripcionIndustria__RESTAURANTESYSERVICIOS',
       'DescripcionIndustria__ROPACALZADOYACCESORIOS',
       'DescripcionIndustria__SERVICIODECONSULTORIA',
       'DescripcionIndustria__TECNOLOGIADEINFORMACION',
       'DescripcionIndustria__TRANSPORTETERRESTRE', 'pais__OTROS',
       'pais__PANAMA', 'provincia__CHIRIQUI', 'provincia__COCLE',
       'provincia__COLON', 'provincia__HERRERA', 'provincia__OTROS',
       'provincia__PANAMA', 'provincia__PANAMAOESTE', 'provincia__VERAGUAS',
       'ciudad__ARRAIJAN', 'ciudad__DAVID', 'ciudad__LACHORRERA',
       'ciudad__OTROS', 'ciudad__PANAMA', 'ciudad__SANMIGUELITO'],
      dtype='object')

In [9]:
with open('../artefactos/xgb.pkl', 'rb') as f:
    model = pickle.load(f)

In [10]:
model

XGBClassifier(base_score=0.5, booster='gbtree', colsample=1.0,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              gamma=2.4622198171652845, learning_rate=0.09175399398624959,
              max_delta_step=0, max_depth=4, min_child_weight=1, missing=nan,
              n_estimators=499, n_jobs=1, nthread=None,
              objective='binary:logistic', random_state=1, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
              subsample=1.0, verbosity=1)

In [11]:
with open('../artefactos/threshold.pkl', 'rb') as f:
    threshold = pickle.load(f)

In [12]:
threshold

0.66

____

## Pipelines

In [13]:
from src.pipelines.banesco_panama.banesco_panama_pre_processing_variables import BasicVariableTransformer_banesco_panama
from sklearn.pipeline import Pipeline

In [14]:
#input_features['cantidad_Dependientes'] = 40
#input_features['edad'] = 300
#input_features['Estadocivil'] = 'N'
#input_features['IngresoMensual'] = 0

In [15]:
input_features.T

                                       0              1
APPLICANT_ID                     test006        test005
Cargo                              OTROS            NaN
DescripcionIndustria           ALIMENTOS      MERCANCIA
Descripcion_Nivel_Educacion        OTROS  Universitario
Estadocivil                       SINGLE         SINGLE
Genero                              MALE           MALE
IngresoMensual                 3200.0000       108.3400
SALDO_PAS_UM                         NaN    121345.7700
TiempoRelacionBanco                    3             22
antiguedad_empleo                 3.0466         1.6685
cantidad_Dependientes                  0              0
ciudad                            PANAMA         PANAMA
edad                             20.3425        52.3726
max_dias_atraso                      NaN         0.0000
monto_cuotas                         NaN         0.0000
pais                              PANAMA         PANAMA
prom_saldo_actual                    NaN       414.6567
provincia                    PANAMAOESTE         PANAMA
score                                NaN       692.0000

In [16]:
 '''      if customer == 'banesco':
            
                pipeline_banesco = Pipeline([
                                ('cantidad_Dependientes', BasicVariableTransformer('cantidad_Dependientes')),
                                ('edad', BasicVariableTransformer('edad')),
                                ('Estadocivil', BasicVariableTransformer('Estadocivil')),
                                ('Genero', BasicVariableTransformer('Genero')),
                                ('provincia', BasicVariableTransformer('provincia')),
                                ('IngresoMensual', BasicVariableTransformer('IngresoMensual')),


                                ('score', BasicVariableTransformer('score')),
                                ('TiempoRelacionBanco', BasicVariableTransformer('TiempoRelacionBanco')),
                                ('max_dias_atraso', BasicVariableTransformer('max_dias_atraso')),
                                ('antiguedad_empleo', BasicVariableTransformer('antiguedad_empleo')),
                                ('Cargo', BasicVariableTransformer('Cargo')),
                                ('DescripcionIndustria', BasicVariableTransformer('DescripcionIndustria')),


                                ('Descripcion_Nivel_Educacion', BasicVariableTransformer('Descripcion_Nivel_Educacion')),
                                ('ciudad', BasicVariableTransformer('ciudad')),
                                ('pais', BasicVariableTransformer('pais'))

                            ])
            
                input_features = pipeline_banesco.transform(input_features)
                
                input_features['IngresoMensual'] = input_features['IngresoMensual'].replace(0, np.nan)
                input_features['ratio_i_sprom'] = input_features['prom_saldo_actual']/(input_features['IngresoMensual'])
                input_features['ratio_i_spas'] = input_features['SALDO_PAS_UM']/(input_features['IngresoMensual'])
                input_features['ratio_i_cuotas'] = input_features['monto_cuotas']/(input_features['IngresoMensual'])
'''

"      if customer == 'banesco':\n           \n               pipeline_banesco = Pipeline([\n                               ('cantidad_Dependientes', BasicVariableTransformer('cantidad_Dependientes')),\n                               ('edad', BasicVariableTransformer('edad')),\n                               ('Estadocivil', BasicVariableTransformer('Estadocivil')),\n                               ('Genero', BasicVariableTransformer('Genero')),\n                               ('provincia', BasicVariableTransformer('provincia')),\n                               ('IngresoMensual', BasicVariableTransformer('IngresoMensual')),\n\n\n                               ('score', BasicVariableTransformer('score')),\n                               ('TiempoRelacionBanco', BasicVariableTransformer('TiempoRelacionBanco')),\n                               ('max_dias_atraso', BasicVariableTransformer('max_dias_atraso')),\n                               ('antiguedad_empleo', BasicVariableTransformer('antiguedad_empleo')),\n                               ('Cargo', BasicVariableTransformer('Cargo')),\n                               ('DescripcionIndustria', BasicVariableTransformer('DescripcionIndustria')),\n\n\n                               ('Descripcion_Nivel_Educacion', BasicVariableTransformer('Descripcion_Nivel_Educacion')),\n                               ('ciudad', BasicVariableTransformer('ciudad')),\n                               ('pais', BasicVariableTransformer('pais'))\n\n                           ])\n           \n               input_features = pipeline_banesco.transform(input_features)\n               \n               input_features['IngresoMensual'] = input_features['IngresoMensual'].replace(0, np.nan)\n               input_features['ratio_i_sprom'] = input_features['prom_saldo_actual']/(input_features['IngresoMensual'])\n               input_features['ratio_i_spas'] = input_features['SALDO_PAS_UM']/(input_features['IngresoMensual'])\n               input_features['ratio_i_cuotas'] = input_features['monto_cuotas']/(input_features['IngresoMensual'])\n"

In [17]:
input_features['ciudad'] = input_features['ciudad'].str.upper()

In [18]:
input_features['IngresoMensual'] = input_features['IngresoMensual'].replace(0, np.nan)
input_features['ratio_i_sprom'] = input_features['prom_saldo_actual']/(input_features['IngresoMensual'])
input_features['ratio_i_spas'] = input_features['SALDO_PAS_UM']/(input_features['IngresoMensual'])
input_features['ratio_i_cuotas'] = input_features['monto_cuotas']/(input_features['IngresoMensual'])

In [22]:
pipeline_banesco_panama = Pipeline([

    
                ('cantidad_Dependientes', BasicVariableTransformer_banesco_panama('cantidad_Dependientes')),
                ('edad', BasicVariableTransformer_banesco_panama('edad')),
                ('Estadocivil', BasicVariableTransformer_banesco_panama('Estadocivil')),
                ('Genero', BasicVariableTransformer_banesco_panama('Genero')),
                ('provincia', BasicVariableTransformer_banesco_panama('provincia')),
                #('IngresoMensual', BasicVariableTransformer_banesco_panama('IngresoMensual')),
                
    
                ('score', BasicVariableTransformer_banesco_panama('score')),
                ('TiempoRelacionBanco', BasicVariableTransformer_banesco_panama('TiempoRelacionBanco')),
                ('max_dias_atraso', BasicVariableTransformer_banesco_panama('max_dias_atraso')),
                ('antiguedad_empleo', BasicVariableTransformer_banesco_panama('antiguedad_empleo')),
                ('Cargo', BasicVariableTransformer_banesco_panama('Cargo')),
                ('DescripcionIndustria', BasicVariableTransformer_banesco_panama('DescripcionIndustria')),
    
    
                ('Descripcion_Nivel_Educacion', BasicVariableTransformer_banesco_panama('Descripcion_Nivel_Educacion')),
                ('ciudad', BasicVariableTransformer_banesco_panama('ciudad')),
                ('pais', BasicVariableTransformer_banesco_panama('pais')),
    
               # ('ratio_i_sprom', BasicVariableTransformer('ratio_i_sprom')),
               # ('ratio_i_spas', BasicVariableTransformer('ratio_i_spas')),
               # ('ratio_i_cuotas', BasicVariableTransformer('ratio_i_cuotas'))
    
            ])

In [23]:
%%time
input_features = pipeline_banesco_panama.transform(input_features)

['0', '6']
1.0
The Data sent from customer has cantidad_Dependientes with value: 0
The element cantidad_Dependientes with value 0 now is 0.0
['18', '76']
54.948
The Data sent from customer has edad with value: 20.342465753424662
The element edad with value 20.342465753424662 now is 20.342465753424662
['0', '57']
57.37
The Data sent from customer has edad with value: 20.342465753424662
The element edad with value 20.342465753424662 now is 20.342465753424662
['MARRIED', 'OTHER', 'SINGLE']
SINGLE
The Data sent from customer has Estadocivil with value: SINGLE
The element Estadocivil with value SINGLE now is SINGLE
['FEMALE', 'MALE']
MALE
The Data sent from customer has Genero with value: MALE
The element Genero with value MALE now is MALE
['CHIRIQUI', 'COCLE', 'COLON', 'HERRERA', 'OTROS', 'PANAMA', 'PANAMAOESTE', 'VERAGUAS']
OTROS
The Data sent from customer has provincia with value: PANAMAOESTE
The element provincia with value PANAMAOESTE now is PANAMAOESTE
['0', '874']
510.0
The Data sent from customer has score with value: nan
The element score with value 510.0 now is 510.0
['1', '27']
6.0
The Data sent from customer has TiempoRelacionBanco with value: 3
The element TiempoRelacionBanco with value 3 now is 3.0
['0', '3250']
3250.0
The Data sent from customer has max_dias_atraso with value: nan
The element max_dias_atraso with value nan now is 3250.0
['0', '57']
57.37
The Data sent from customer has antiguedad_empleo with value: 3.0465753424657533
The element antiguedad_empleo with value 3.0465753424657533 now is 3.0465753424657533
['ABOGADO', 'ADMINISTRADOR', 'AGENTECOMERCIAL', 'COMERCIANTE', 'DIRECTOR', 'GERENTESUBGERENTE', 'OTROS']
ABOGADO
The Data sent from customer has Cargo with value: OTROS
The element Cargo with value OTROS now is OTROS
['ACUICULTURAPESCADERIA', 'ADMINISTRACION', 'AGRICULTURAAGRONOMIA', 'ALIMENTOS', 'ARQUITECTURAYURBANISMO', 'ASESORIAYASISTENCIA', 'BELLEZAYESTETICA', 'CONSTRUCCION', 'CONTABILIDAD', 'ELECTRICIDADYELECTRONICA', 'LEGAL', 'MEDICINA', 'MERCANCIA', 'OTROS', 'PUBLICIDADYMERCADEO', 'RESTAURANTESYSERVICIOS', 'ROPACALZADOYACCESORIOS', 'SERVICIODECONSULTORIA', 'TECNOLOGIADEINFORMACION', 'TRANSPORTETERRESTRE']
LEGAL
The Data sent from customer has DescripcionIndustria with value: ALIMENTOS
The element DescripcionIndustria with value ALIMENTOS now is ALIMENTOS
['Maestria', 'OTROS', 'Secundaria', 'SinEscolaridad', 'Universitario']
OTROS
The Data sent from customer has Descripcion_Nivel_Educacion with value: OTROS
The element Descripcion_Nivel_Educacion with value OTROS now is OTROS
['ARRAIJAN', 'DAVID', 'LACHORRERA', 'OTROS', 'PANAMA', 'SANMIGUELITO']
ARRAIJAN
The Data sent from customer has ciudad with value: PANAMA
The element ciudad with value PANAMA now is PANAMA
['OTROS', 'PANAMA']
PANAMA
The Data sent from customer has pais with value: PANAMA
The element pais with value PANAMA now is PANAMA
Wall time: 42.4 ms

In [24]:
input_features.T

                                       0           1
APPLICANT_ID                     test006     test005
Cargo                              OTROS     ABOGADO
DescripcionIndustria           ALIMENTOS   MERCANCIA
Descripcion_Nivel_Educacion        OTROS       OTROS
Estadocivil                       SINGLE      SINGLE
Genero                              MALE        MALE
IngresoMensual                 3200.0000    108.3400
SALDO_PAS_UM                         NaN 121345.7700
TiempoRelacionBanco               3.0000     22.0000
antiguedad_empleo                 3.0466      1.6685
cantidad_Dependientes             0.0000      0.0000
ciudad                            PANAMA      PANAMA
edad                             20.3425     52.3726
max_dias_atraso                3250.0000      0.0000
monto_cuotas                         NaN      0.0000
pais                              PANAMA      PANAMA
prom_saldo_actual                    NaN    414.6567
provincia                    PANAMAOESTE      PANAMA
score                           510.0000    692.0000
ratio_i_sprom                        NaN      3.8274
ratio_i_spas                         NaN   1120.0459
ratio_i_cuotas                       NaN      0.0000

In [25]:
input_features = pd.get_dummies(input_features, prefix_sep="__", columns=categorical_columns)

In [26]:
input_features = input_features.reindex(columns=feature_headers, fill_value=0)
#input_features.fillna(0,inplace=True)

____

## Variable importance

In [27]:
d1 = pd.DataFrame(model.feature_importances_)
d2 = pd.DataFrame(feature_headers)
d = pd.concat([d2, d1], axis=1)
d.columns = ["variable", "weight"]
d = d.sort_values('weight',ascending=False)
d

                                          variable  weight
5                                            score  0.0844
8                                     ratio_i_spas  0.0633
35              DescripcionIndustria__CONTABILIDAD  0.0365
27     DescripcionIndustria__ACUICULTURAPESCADERIA  0.0355
6                                  max_dias_atraso  0.0346
20                                  Cargo__ABOGADO  0.0339
26                                    Cargo__OTROS  0.0336
30                 DescripcionIndustria__ALIMENTOS  0.0329
4                                antiguedad_empleo  0.0326
3                                             edad  0.0305
1                              TiempoRelacionBanco  0.0299
31    DescripcionIndustria__ARQUITECTURAYURBANISMO  0.0287
39                 DescripcionIndustria__MERCANCIA  0.0286
0                            cantidad_Dependientes  0.0282
62                            ciudad__SANMIGUELITO  0.0277
54                               provincia__PANAMA  0.0275
32       DescripcionIndustria__ASESORIAYASISTENCIA  0.0274
12         Descripcion_Nivel_Educacion__Secundaria  0.0273
7                                    ratio_i_sprom  0.0273
17                             Estadocivil__SINGLE  0.0270
2                                   IngresoMensual  0.0268
9                                   ratio_i_cuotas  0.0235
28            DescripcionIndustria__ADMINISTRACION  0.0232
18                                  Genero__FEMALE  0.0229
40                     DescripcionIndustria__OTROS  0.0224
55                          provincia__PANAMAOESTE  0.0220
57                                ciudad__ARRAIJAN  0.0220
15                            Estadocivil__MARRIED  0.0216
21                            Cargo__ADMINISTRADOR  0.0205
13     Descripcion_Nivel_Educacion__SinEscolaridad  0.0191
58                                   ciudad__DAVID  0.0189
24                                 Cargo__DIRECTOR  0.0171
59                              ciudad__LACHORRERA  0.0148
37                     DescripcionIndustria__LEGAL  0.0147
34              DescripcionIndustria__CONSTRUCCION  0.0134
50                                provincia__COCLE  0.0000
51                                provincia__COLON  0.0000
48                                    pais__PANAMA  0.0000
49                             provincia__CHIRIQUI  0.0000
61                                  ciudad__PANAMA  0.0000
52                              provincia__HERRERA  0.0000
53                                provincia__OTROS  0.0000
46       DescripcionIndustria__TRANSPORTETERRESTRE  0.0000
56                             provincia__VERAGUAS  0.0000
60                                   ciudad__OTROS  0.0000
47                                     pais__OTROS  0.0000
14      Descripcion_Nivel_Educacion__Universitario  0.0000
45   DescripcionIndustria__TECNOLOGIADEINFORMACION  0.0000
44     DescripcionIndustria__SERVICIODECONSULTORIA  0.0000
43    DescripcionIndustria__ROPACALZADOYACCESORIOS  0.0000
42    DescripcionIndustria__RESTAURANTESYSERVICIOS  0.0000
41       DescripcionIndustria__PUBLICIDADYMERCADEO  0.0000
36  DescripcionIndustria__ELECTRICIDADYELECTRONICA  0.0000
33          DescripcionIndustria__BELLEZAYESTETICA  0.0000
10           Descripcion_Nivel_Educacion__Maestria  0.0000
29      DescripcionIndustria__AGRICULTURAAGRONOMIA  0.0000
11              Descripcion_Nivel_Educacion__OTROS  0.0000
25                        Cargo__GERENTESUBGERENTE  0.0000
23                              Cargo__COMERCIANTE  0.0000
22                          Cargo__AGENTECOMERCIAL  0.0000
19                                    Genero__MALE  0.0000
16                              Estadocivil__OTHER  0.0000
38                  DescripcionIndustria__MEDICINA  0.0000

____

## Model testing

In [28]:
scores = model.predict_proba(input_features)
scores

array([[0.3589915, 0.6410085],
       [0.0283643, 0.9716357]], dtype=float32)

In [29]:
labels = [1 if sc[1] > threshold else 0 for sc in scores]
labels

[0, 1]

In [30]:
responses_labels  = {0 : "RECHAZADO", 1 : "APROBADO"}

___

## API output

In [31]:
predictions = [{'approval_score':row[0][1], 
                'label':responses_labels[row[1]]} for row in zip(scores, labels)]        
predictions

[{'approval_score': 0.6410085, 'label': 'RECHAZADO'},
 {'approval_score': 0.9716357, 'label': 'APROBADO'}]